[2014-08-19 21:41] abbycabs opened #1 "Opening page changes"
"Learn" and "Connect" should link to those sections on http://mozillascience.org/get-involved/
And an IRC channel link on the contact page

https://wiki.mozilla.org/IRC

https://kiwiirc.com/client/irc.mozilla.org/sciencelab

[code]

[2014-08-19 21:51] wking opened #2 "The footer should link to this issue tracker"
With text like "report a bug" or some such.

[2014-10-07 02:33] abbycabs opened #3 "Create EDUCATION page"
top level page, 'Learn' and 'Teach' sections. Highlight programs.

[2014-10-07 02:34] abbycabs opened #4 "Rename 'Get involved' to 'Community'"
Highlight Discourse instance

[2014-10-08 19:54] #4 closed, assigned to nobody

[2014-10-08 19:54] #2 closed, assigned to nobody

[2014-10-09 14:28] #3 closed, assigned to nobody

[2014-10-09 14:35] ghost opened #5 "Add Two More Links to Community Page"
I think these two links need to be added:

GitHub: https://github.com/mozillascience
Wiki: https://wiki.mozilla.org/ScienceLab

[2014-10-09 15:23] #1 closed, assigned to nobody

[2014-10-09 15:28] #5 closed, assigned to nobody

[2014-10-09 18:59] billymeinke opened #6 "Update CC license in footer of all Science Lab site pages to CC BY 4.0 International"
Similar to this, done on the Collaborate page:

https://github.com/mozillascience/Collaborate/pull/4

(thanks for merging the initial PR @acabunoc!)

[2014-10-09 19:02] #6 closed, assigned to nobody

[2015-01-22 19:52] acabunoc opened #7 "logout"
Logout action only logs users out of main app. Users still logged in to Discourse (forum) via SSO

https://meta.discourse.org/t/smoothly-integrating-discourse-with-an-existing-social-site/17586/5

[2015-01-22 19:55] acabunoc opened #8 "RSS feed"
Make sure it's formatted properly - not sure if I'm getting correct behaviour in chrome

http://mozscilab.herokuapp.com/feed/

[2015-01-26 18:11] BillMills opened #9 "login troubles"
kmolo over at the Open Hatch forum mentioned she was having some troubles logging into the MSL forum. Her question as follows:

I tried to login in the MozSci forum to post a reply, but, even though I 'authorize[d the] application,' I got the following error message:
[code]
...I turned off all pop-up blocking in both Chrome and Firefox, but no success (possibly a problem with the ACLs on my workpl

[2015-02-13 16:20] acabunoc opened #10 "Community Focus"
Our [/about page](http://www.mozillascience.org/about) now lists contributors to the science lab. What can do to help surface our awesome community of makers and contributors?

Right now, to be list on the page users must have one of:
1. Lead a project in Collaborate
2. Be a facilitator at an event (just MozFest 2014 and Toronto Code Sprint for now)
3. Written a blog post for us (doesn't include g

[2015-02-14 06:52] BillMills commented on #10
Thinking out loud:

For other categories, what about contributors to other repos not on Collaborate? (I'm looking at study groups and possibly code review). Secret second option might just be to put those on Collaborate :)

For more events, is there a way we can fold in registering regular events? There are a bunch of people doing study groups I'd like to recognize and promote. But, this may not r

[2015-02-15 00:31] pdurbin opened #11 "Login via GitHub prompts to authorize application to access private organization data and modify public organization data"
Congrats on the [the launch](http://www.mozillascience.org/the-mozilla-science-lab-has-a-new-website/) of the new site!

I read this with great interest...

... and clicked "Join Us" and then "Sign Up via GitHub" right away. **What I expected** to see was the normal "Mozilla Science Lab would like to know your email address" message that you see when you log in to http://forum.mozillascience.org l

[2015-02-16 15:55] pdurbin commented on #11
To be more concrete about this, it looks like the GitHub "scope" that is [being requested by your application](https://github.com/mozillascience/site/blob/7fab0fdcc72e817a480155e6355e8286ebd91de1/app.js#L211) is `public_repo` which "Grants **read/write access to code**, commit statuses, and deployment statuses for public repositories and organizations" (emphasis mine) according to https://develope

[2015-02-17 16:42] AmarOk1412 opened #12 "sumit->sumbit"
In this page http://www.mozillascience.org/collaborate/about#FAQ
"If you have an open source project for science, sumit your project for review"
We must change sumit in submit.

[2015-02-17 16:50] acabunoc commented on #12
https://github.com/mozillascience/site/blob/master/views/collaborate/about.jade#L84

[2015-02-17 18:09] #12 closed

[2015-02-17 18:25] acabunoc commented on #11
Thanks for this @pdurbin -- we built the site around being able to fork and work with code as a core part of Collaborate. I believe the least invasive scope to do this is public_repo. We are trying to build a community around code -- access to this code would be helpful. We're planning on even more integrations with github and users' public repos in the future.

Some people have suggested only req

[2015-02-18 14:15] pdurbin commented on #11
I'm glad you're thinking hard about the scopes but I still find the one that's been selected to be too expansive. I trust you folks but write access to my organization's code is something I can't permit.

Based on my feedback GitHub clarified what permissions applications are requesting. Here's the new wording with additional detail:

![screenshot_2015-02-18-07-07-35](https://cloud.githubuserconte

[2015-02-18 15:29] acabunoc commented on #11
From GitHub API docs for creating a repo:
https://developer.github.com/v3/repos/#create

    OAuth scope requirements
    When using OAuth, authorizations must include:

        public_repo scope or repo scope to create a public repository

This functionality is core to what we want to do.

[2015-02-18 16:16] acabunoc opened #13 "Implement delete user"
Data practices:

[2015-02-19 04:19] BillMills opened #14 "Email bill when someone submits a new project to Collaborate"
plz thx

[2015-02-21 22:34] pdurbin commented on #11
Ok, so you want your application to be able to create repos under people's GitHub accounts and under organizations they're part of. Even this seems fairly invasive to me and probably reason enough for me to not join. No offense! :)

It sounds like you **don't** have any plans to write to existing repos, issues, pull requests, wikis, settings, deploy keys, etc. Good! But your application still **co

[2015-02-21 22:57] BillMills commented on #11
Hi all - so, I definitely understand both your points; @pdurbin has a non-negotiable responsibility to his collaborators to carefully manage who has write access to their repositories, and we at MSL want to encourage people to interact with code as much as possible. @abbycabs, can you clarify for us exactly what piece of functionality requires this level of access? I take it this is necessary to a

[2015-02-22 01:21] BillMills opened #15 "Link to old blog posts?"
Sorry if I'm just being unobservant, but I can't seem to find a pagination or 'older' link to older blog posts on http://www.mozillascience.org/blog/ since the site update.

[2015-02-22 02:00] BillMills opened #16 "Can't see proposed projects on Collaborate"
How do I find projects for review at Collaborate? You mentioned there were a bunch waiting, but I only see 'active' projects - this is perhaps an account settings thing, since I had to make a new account and sign in with that.

[2015-02-22 02:02] BillMills opened #17 "Pagination on Collaborate"
perhaps 10 per page?

[2015-02-22 03:42] pdurbin commented on #11
@BillMills thanks for [chatting](http://logs.glob.uno/?c=mozilla%23sciencelab&s=21+Feb+2015&e=21+Feb+2015#c6135) [with me](http://logs.glob.uno/?c=mozilla%23sciencelab&s=22+Feb+2015&e=22+Feb+2015) about this ticket. I have a much better understanding of why the scope was chosen. Personally, I don't want applications creating repos and opening tickets as me so I don't plan to sign up, but that's ne

[2015-02-22 23:46] pdurbin commented on #11
It's a bit of a side conversation but I wrote up some more about this at http://crimsonfu.github.io/2015/02/22/owners-of-organizations-on-github-should-carefully-set-up-third-party-application-restrictions.html

[2015-02-23 16:59] acabunoc opened #18 "Proposal: delay requesting the public_repo scope"
Currently we request the `public_repo` scope with GitHub authentication upon log in. This helps us encourage users to fork code -- remixing is an important skills for learning and building tools helping science on the web. We don't want to loose this functionality, especially since we'll be using this for our upcoming community blogging system.

Problem:
`public_scope` is an admittedly permissive

[2015-02-23 17:00] acabunoc commented on #11
Thanks for this @pdurbin & @BillMills!

Yes, we built Collaborate around the idea of encouraging and helping users fork code. Forking code = creating a repo. To create a repo, we need the scope public_repo. I've reached out to GitHub to see if there's a better way to help users fork code.
https://developer.github.com/v3/repos/#create

We have roughly 20% more users with accounts on the website (pu

[2015-02-23 17:01] acabunoc commented on #16
They're in the admin view. I'll email you the link again!

[2015-02-23 17:02] #16 closed

[2015-02-23 17:03] acabunoc commented on #15
We don't have one! This is a janky wordpress workaround before we switch to new blog.

[2015-02-23 17:29] arfon commented on #11
As GitHub staff (and a big fan of the Mozilla Science Lab) I just wanted to chime in here. @acabunoc - it sounds like you're asking for the correct scope here (`public_repo`) for what you'd like to be able to do but as @pdurbin has pointed out this is problematic for some people. A couple of points of clarification:

@pdurbin in your post you say:

This isn't actually the case. As explained in htt

[2015-02-23 17:37] wking commented on #18
On Mon, Feb 23, 2015 at 08:59:30AM -0800, Abigail Cabunoc wrote:

The first time you want to fork a repo for someone, can you:

1. Check to see if that user has an existing fork of the repository in
   question.  If they do, there's no need to do anything else.

2. If they don't already have a fork, prompt with:

     We'd like to fork $REPO for you automatically.  Granting us the
     ‘public_sco

[2015-02-23 18:08] acabunoc commented on #18
@wking - that sounds like a good workflow

[2015-02-23 20:52] acabunoc commented on #8
works properly! Closing

[2015-02-23 20:52] #8 closed

[2015-02-23 21:46] acabunoc commented on #7
SSO isn't live yet -- be sure to fix before we roll out SSO

[2015-02-25 19:14] #13 closed

[2015-02-26 20:31] rgaiacs opened #19 "Headers are invisible"
![m](https://cloud.githubusercontent.com/assets/1506457/6401156/155bda88-bddd-11e4-8ee4-2197cd9aa4bf.jpg)

To check that the headers are invisible:

![m2](https://cloud.githubusercontent.com/assets/1506457/6401168/3f354d80-bddd-11e4-9682-34eb1a72190c.jpg)

[2015-02-26 20:37] r-gaia-cs commented on #19
This happens on

- Firefox 27-Nightly
- Chromium 40
- Epiphany/Web 3.14.2

at a Linux machine.

[2015-02-26 21:11] acabunoc commented on #19
From @wking:

https://bugzilla.mozilla.org/show_bug.cgi?id=1083437

Will implement fix

[2015-03-02 07:50] BillMills commented on #11
Thanks all, these are great suggestions - are we all ok to close here given that #18 has an implementation plan to address this?

[2015-03-04 02:28] pdurbin commented on #11
@BillMills I'm fine with someone closing this issue and I agree that #18 would be a fantastic solution. Thanks for opening it @acabunoc!  Once implemented, I imagine people who currently have reservations about joining the new website would probably join, people like me and @metamattj who [said the other day](http://logs.glob.uno/?c=mozilla%23sciencelab&s=26+Feb+2015&e=26+Feb+2015#c6218), "like yo

[2015-03-04 19:36] kaythaney opened #20 "Contact info for Collaborate projects (when no public email is listed)"
How best to handle?

[2015-03-04 21:01] acabunoc commented on #19
On Arch linux:
http://www.reddit.com/r/archlinux/comments/2gix0k/rust_website_now_with_invisible_fonts/

[2015-03-05 00:08] r-gaia-cs commented on #19
@acabunoc, thanks. Install ttf-fira-sans and ttf-fira-mono solve the problem (but I didn't have ttf-google-fonts-git).

[2015-03-05 00:55] wking commented on #19
On Wed, Mar 04, 2015 at 04:08:11PM -0800, Raniere Silva wrote:

I think "install the fonts locally" misses the point ;).  The Arch
link [1] was saying (I think) that the ttf-google-fonts-git package
was broken, causing the browser to *think* the font was installed (or
working, or something), when in fact it wasn't.  The Firefox bug was
maybe a CORS issue [2], but I haven't read it in enough detail

[2015-03-05 01:04] acabunoc commented on #19
Thanks for reading through that, both! I wasn't sure if that's really the problem -- I know @r-gaia-cs is on Arch, @wking are you on Arch, too?

Such a strange problem, still researching :)

[2015-03-05 02:56] wking commented on #19
On Wed, Mar 04, 2015 at 05:04:22PM -0800, Abigail Cabunoc wrote:

I'm on Gentoo, but they're both locally-compiled, source-based
distributions (for the most part).

[2015-03-09 15:18] jodeleeuw opened #21 "Link and title fields swap on every save for the 'More Info' section of Collaborate projects"
Under the more info section of the Collaborate project, there are two fields to add a display title and link. Every time I save the page, the values of these fields swap places. This shows up in the live version of the page (the link URL is displayed, with the value of the link being the "title" field), so it's not just a display bug on the form. Saving the page again will cause the fields to swap

[2015-03-09 17:28] BillMills commented on #11
@pdurbin not annoying at all, I really appreciate your eyes & effort here to help point out how things play to different audiences; that's a big part of the whole point of doing things in the open :) Thanks again!

[2015-03-09 17:28] #11 closed

[2015-03-09 18:26] BillMills opened #22 "RSS feed working?"
It's unclear if the blog's RSS feed is working. Svetlana added it to the open science planet (http://science.okfn.org/blog/), but I'm not seeing any MSL posts popping up there, and things are working on her end for other people, soooo....

[2015-03-12 02:23] BillMills opened #23 "Collaborate 'more information' links broken"
It appears that some database references got flipped when submitting projects - the text of the anchor tag and the href attribute are getting swapped after submitting a project to the database and reloading the submission, breaking the 'More Information' links on all new projects.

[2015-03-13 00:52] jpellman opened #24 "Github pop-up respawns in an infinite loop when I try to sign up for a forum account"
Hi MozScience,

As you might have guessed from the issue title, I ran into a strange error when trying to sign up for an account on the forum.  Basically, the window requesting authorization from Github re-spawned in an endless loop, making it impossible for me to fill out the user info form (username, real name, etc)  About my configuration:

-Mac OS X 10.10
-Firefox 36.0.1 (Ghostery installed)
-

[2015-03-16 19:57] BillMills opened #25 "Email post to discourse"
requested by users in [this thread](http://forum.mozillascience.org/t/enable-mailing-list-capabilities-of-discourse/209) - @acabunoc, feasible?

[2015-03-25 04:33] mixtrak commented on #22
The [supplied feed URL](mozillascience.org/feed) doesn't return any results through Feedly. However, I was able to subscribe via searching for "Mozilla Science". But I don't really understand how Feedly or RSS works in detail (๑′°︿°๑)

Then I tried Outlook 2013 desktop... couldn't get mozillascience.org/feed to work, but http://mozillascience.org/feed did. I then plugged that URL into Feedly and i

[2015-03-25 04:40] BillMills commented on #22
ping @belkinsa - any chance this is what's up over at the planet?

[2015-03-25 14:39] belkinsa commented on #22
On 03/25/2015 12:40 AM, Bill Mills wrote:

I was told by a system admin that the feed broke the cron job and I had
to remove it.  But if you are certain that it is working again, I can
re-add and check if it works.
--
Svetlana Belkin
A.K.A: belkinsa
User Wiki page: https://wiki.ubuntu.com/belkinsa

[2015-03-26 20:25] BillMills commented on #22
We just got added to the [mozilla planet](http://planet.mozilla.org/) and our posts are appearing there, so I think we're okay.

[2015-03-27 19:53] belkinsa commented on #22
What was the address that you used?

[2015-03-27 21:56] mixtrak commented on #22
Who, me?

Http://mozillascience.(org or com? I forget)/feed

Sent from mobile
________________________________
From: Svetlana Belkin<mailto:notifications@github.com>
Sent: ‎3/‎28/‎2015 6:53 AM
To: mozillascience/site<mailto:site@noreply.github.com>
Cc: Michael Strack<mailto:mixtrak@outlook.com>
Subject: Re: [site] RSS feed working? (#22)

What was the address that you used?

---
Reply to this emai

[2015-03-27 22:33] belkinsa commented on #22
Doesn't work, and that was too @BillMills or @acabunoc

[2015-03-30 19:54] acabunoc commented on #22
Thanks for all the details @belkinsa & @mixtrak! I tested the feed in a few popular feed readers, but I'm sure I missed some cases.

Feed to use:
http://www.mozillascience.org/feed

I haven't been having problems in feedly or other rss readers -- @mixtrak, could you expand on 'doesn't return any results through Feedly'?
http://feedly.com/i/subscription/feed/http://mozillascience.org/feed/

@belkin

[2015-03-30 20:30] wking commented on #22
On Mon, Mar 30, 2015 at 12:54:01PM -0700, Abigail Cabunoc wrote:

The W3C hosts a feed validator [1].  It complains about a few issues
[2], and each complaint links to some help explaining what they think
you should be doing.

Cheers,
Trevor

[1]: http://validator.w3.org/feed/
[2]: http://validator.w3.org/feed/check.cgi?url=http%3A%2F%2Fwww.mozillascience.org%2Ffeed

[2015-03-30 20:34] acabunoc commented on #22
Thanks @wking! Super helpful

[2015-03-30 20:56] belkinsa commented on #22
@acabunoc and @BillMills I added the feed back in and if it doesn't work I will ask the system admin for the cron job error output.

[2015-03-30 22:06] mixtrak commented on #22
Sure, I can give more details. On the Feedly website there's a search box to find more RSS content to add to your dash. You can either use search terms, or just input the URL of the feed to add it directly. When I search for the words "Mozilla Science", it finds the blog, and I can add it no worries. But the URL "mozillescience.org/feed" doesn't return any results. On the other hand, the URL "http

[2015-03-31 14:06] acabunoc commented on #22
Hey all,

Made a few changes to the feed based on the validator -- let me know if this works for you @belkinsa!

6aa434a3fd34e0df25a12977e05e7408a03ebeab

[2015-03-31 14:16] acabunoc commented on #23
duplicate of #21 - closing

[2015-03-31 14:16] #23 closed

[2015-03-31 14:20] acabunoc commented on #25
https://meta.discourse.org/t/new-reply-via-email-support/7764

[2015-03-31 15:57] acabunoc commented on #21
Thanks for this @jodeleeuw! Pushing a fix soon

[2015-03-31 15:57] #21 closed

[2015-03-31 16:45] acabunoc commented on #24
Thanks for the feedback @jpellman! I'm glad you were able to log in -- do you still have this problem now that you have an account?

I'll keep looking into this for you

[2015-03-31 16:59] acabunoc commented on #25
https://meta.discourse.org/t/set-up-reply-via-email-support/14003

We'll need a new email account to set this up. I'll check with @jdotpz on how to do this when I talk to him about data privacy later.

[2015-03-31 17:18] acabunoc commented on #20
I added the scope to request private emails when a user logs in.

[2015-04-01 18:39] acabunoc commented on #25
Requested email address for this:

https://github.com/MozillaFoundation/mofo-devops/issues/29

[2015-04-06 23:35] jpellman commented on #24
I haven't encountered the problem since signing up successfully in Safari.  I'm able to log in with Firefox without any issues- it was just during account creation when I encountered this.

[2015-04-07 16:55] BillMills opened #27 "Collaborate admin view broken"
Visiting the admin view for Collaborate returns:

[code]

[2015-04-07 18:12] acabunoc commented on #27
oops, try now!

[2015-04-07 19:01] BillMills commented on #27
Awesome, looks good :)

[2015-04-07 19:01] #27 closed

[2015-04-07 22:00] acabunoc commented on #27
I will add better db checks one day

[2015-04-07 22:01] acabunoc commented on #22
ping @belkinsa -- any news if this made a difference at all?

[2015-04-07 22:04] belkinsa commented on #22
No difference. I see nothing on the FeedPress interface and no word of a fail from the system admin.

[2015-04-07 22:20] acabunoc commented on #22
So strange! Thanks for the update

[2015-04-07 22:21] belkinsa commented on #22
Not a problem, I might still check with the system admin if there was a failure.

[2015-04-08 21:53] acabunoc opened #28 "Collaborate Submission Guidelines"
Make a guidelines page to link to before users can submit a project

[2015-04-08 21:58] acabunoc commented on #28
Draft is up on staging:
http://staging-mozscilab.herokuapp.com/projects/submit

@kaythaney @BillMills @arlissc

It's longer than I'd like, but I think it has all the relevant points we wanted.

There's a few comments @BillMills brought up that aren't included here (mostly tips on how to engage contributors). I think they might flow better on the submission form itself. Or perhaps in an email to th

[2015-04-08 22:18] BillMills commented on #28
@acabunoc this is fantastic, thanks! We will need some comments on how to appeal to and retain contributors, but I agree this makes sense as is; this gets people through the pre-Collaborate steps, and then what to do to actually be successful on the project can come downstream. Thanks!

[2015-04-09 14:27] kaythaney commented on #28
+1. I like how crisp and clean this is. Two things that may be worth adding: (1) a note about successful projects having dedicated project leads - make sure the project doesn't get dusty, and there's someone to help answer questions; (2) Something that directly calls out the fact that they need to tease out tasks or problems that others can get started on. This is a tricky one - and we're happy to

[2015-04-09 17:36] acabunoc commented on #28
Made a few copy changes to highlight teasing out issues / dedicated leads. Can still make changes!

On production now:
http://www.mozillascience.org/projects/submit

[2015-04-09 17:38] BillMills opened #29 "Ideas for user profiles"
Max suggested doing something like http://usesthis.com/ for open science; could work great for our user profiles if we want to make them fancier someday; getting people to talk about what they do & use could help build connections & collaborations.

[2015-04-09 19:25] #28 closed

[2015-04-17 16:30] BillMills opened #30 "Collaborate projects w/ no status"
New collaborate projects (and some recently edited ones) have no status assigned.

[2015-04-17 16:37] BillMills commented on #30
... including Contributorship Badges - @acabunoc is badges supposed to be delisted?

[2015-04-17 16:42] acabunoc commented on #30
Weird. Sounds like the same thing you emailed abt the other day.

[2015-04-17 16:44] BillMills commented on #30
oh yeahhhh we did have an email thread about this, it is the same thing :) - welp, now it has an issue. I'll set Badges back to active.

[2015-04-17 16:46] acabunoc commented on #30
thanks :)

[2015-04-17 16:50] #30 closed

[2015-04-17 16:51] acabunoc commented on #30
I think I pushed a fix -- let me know if this comes up again!

[2015-04-22 21:32] acabunoc opened #31 "Purchase SSL for mozillascience.org"
cc/ @simonwex

[2015-04-23 15:55] acabunoc commented on #25
Left a comment for testing! @BillMills see if reply by email works. Or tag me in a comment and I'll see if it works.

[2015-04-23 15:56] acabunoc commented on #31
Request to devops:

https://github.com/MozillaFoundation/mofo-devops/issues/31

[2015-04-23 18:20] acabunoc commented on #25
working! closing

[2015-04-23 18:20] #25 closed

[2015-04-24 22:29] BillMills opened #32 "Thumbnail scaling"
Many of the thumbnails for Collaborate project stubs get cropped in weird places; suggest fixing thumbnail width and scaling height proportionally, with no crop.

[2015-04-29 18:33] acabunoc commented on #32
But then they'd all have different heights...

[2015-04-29 19:15] BillMills commented on #32
sure, but right now there's a bunch of text and logos just cut in half; there's room vertically for a bit of flex, no?

[2015-05-08 16:10] BillMills opened #33 "Deliverable listing on Collaborate"
Need a button during the listing creation step to add new fields to the 'Main Deliverable' section; as is, you have to save and reload the form every time you want to add a new bullet point.

[2015-05-13 20:41] alex-mayorga opened #34 "Missing letters on the home page"
¡Hola!

http://www.mozillascience.org/ is missing letters here on Nightly. There's no H on " elping"... I believe is due to "SyntaxError: expected expression, got '<' www.mozillascience.org:7:0"

¡Gracias!

![mozsience](https://cloud.githubusercontent.com/assets/649262/7620575/75379db8-f986-11e4-9aed-267e78508b9e.JPG)

[2015-05-13 20:48] acabunoc commented on #34
After a Hello chat, it looks like this only happens on all Fira Sans text -- might be local corrupted font. Might be something else. Need to test more.

[2015-05-13 20:49] acabunoc commented on #34
thansk again @alex-mayorga!

[2015-05-17 22:09] acabunoc commented on #31
SSL working, but losing session data now

[2015-05-19 16:00] acabunoc commented on #31
The CDN is caching the page even after the cookie has been changed.
Temporarily fixed by adding

    Cache-Control:  private, no-cache, no-store, must-revalidate

Will revisit and find a better solution. Vary:Cookie wasn't getting set properly.

[2015-05-20 17:30] gedankenstuecke opened #35 "submitting project/editing project leads to blank page"
hey there,
after submitting/editing a new project the site for adding all the information just blanks out, e.g. https://www.mozillascience.org/projects/gedankenstuecke-snpr/edit

Which seems to be a session issue, see this thread on Twitter where we started discussing the thing: https://twitter.com/abbycabs/status/601075816525598720 :smile:

Cheers,
Bastian

[2015-05-20 17:35] acabunoc commented on #35
Thanks friend, I'll have time to look at this later today / tomorrow.

Try again sporadically, the blank page is *probably* a 403 (it was for me). Our CDN has been ignoring cookies and returning cached versions of pages despite being logged in.

[2015-05-20 17:37] gedankenstuecke commented on #35
Thanks for looking into it, I will try it again from time to time. :-)

[2015-05-20 17:46] acabunoc commented on #35
It randomly started working for me, if that helps.

But this is still something I'll be looking into.

[2015-05-20 18:39] gedankenstuecke commented on #35
Still didn't help for me, but I'll keep trying. :8ball:

[2015-05-20 20:47] acabunoc commented on #35
Thanks for all your help here @gedankenstuecke.

These steps work for me:

1. Open new session (private tab/clear cache)
2. Log in to mozillascience.org -- do not visit any other pages yet!
3. *then* go to https://www.mozillascience.org/projects/gedankenstuecke-snpr/edit

I think returning a blank response with a 403 status gives us 'Error from Cloudfront' if this page was accessed before login. M

[2015-05-20 20:57] gedankenstuecke commented on #35
Thanks for all your help @acabunoc! This also did the trick for me, I could enter all data and now the submission is under review! :+1:

[2015-05-20 21:03] acabunoc commented on #35
Woo! I'll make a new issue for the 403/cloudfront problem :)

[2015-05-20 21:04] acabunoc opened #36 "403 page"
Return a nice page letting users they need to log in / don't have permissions to view this page.

Will be nicer for users AND will probably fix cloudfront issue (see #35)

[2015-05-20 21:04] #35 closed

[2015-05-20 21:08] gedankenstuecke commented on #35
Perfect! :-)

[2015-05-20 22:22] #36 closed

[2015-06-03 16:51] simonwex opened #37 "Mixed content warnings"
https://forum.mozillascience.org/ is loading over SSL, but includes a bunch of assets that aren't.

You can use the relative protocol if you must because of configuration setup, otherwise just load the assets over SSL.

![image](https://cloud.githubusercontent.com/assets/25260/7966005/33260ef4-09ef-11e5-832c-672201f32cd7.png)

[2015-06-03 18:15] acabunoc commented on #37
Thanks @simonwex!

Also on the blog: https://www.mozillascience.org/blog

[2015-06-28 10:20] jack71 commented on #29
great idea bill :+1:

[2015-07-02 19:56] radaniba commented on #15
I tried to play a bit with the API and figured out that what is in there (rendered in the view) is all you got from the API call

![screen shot 2015-07-02 at 12 53 15 pm](https://cloud.githubusercontent.com/assets/1666443/8486478/8dcf8804-20b9-11e5-9206-1c68a5cb845a.png)

*see the right side, this is the last json record returned by the api call*

I am wondering : could this be an issue related to

[2015-07-13 21:13] billymeinke opened #38 "Should use CC logo, not the "closed captioning" cc icon in license mark on site."
Recommend using a CC license badge, or the plain CC logo in the footer instead of the closed captioning icon. The current icon appears to be the latter!

https://en.wikipedia.org/wiki/Closed_captioning

Use one from here instead:

https://creativecommons.org/about/downloads

[2015-07-14 13:39] acabunoc commented on #38
thanks for catching that @billymeinke!

[2015-07-15 17:23] acabunoc opened #39 "Disqus comments - trailing '/'"
Comments don't show up if there's a trailing '/' in the url

https://twitter.com/billymeinke/status/621365767326412800

[2015-07-16 01:50] #39 closed

[2015-07-16 04:13] BillMills opened #40 "Tags or categories visible on blog"
I tried setting tags and categories on the latest blog post per @kaythaney's request, but I don't see them appearing anywhere on the post (like so people can navigate to a list of just that tag / category).

[2015-07-16 15:45] acabunoc commented on #40
This and #17 are artifacts of our unintended use of wp...

[2015-07-16 17:31] acabunoc commented on #39
Quick note: a couple pages had been commented on with the trailing '/' -- those comments are now forever lost (sorry)! However, this change will prevent that in the future.

[2015-07-29 17:42] acabunoc opened #41 "Use new tabzilla"
https://github.com/mozilla/tabzilla

[2015-08-03 21:40] roy128 commented on #29
:+1:

[2015-08-05 14:49] amjadm61 opened #42 "font in the footer menu making confusion with the letter 'C' and 'E'"
The letter 'E' and 'C' is almost same for the font used in the footer menu. The letter 'E' is almost same as the letter 'C'. So, it would be better to use some other good font to resolve this issue.

[2015-08-05 15:54] acabunoc commented on #42
Thanks @amjadm61! I'm not sure I'm seeing the same problem - can you add a screenshot?

![screen shot 2015-08-05 at 11 53 41](https://cloud.githubusercontent.com/assets/617994/9090521/a56c79da-3b68-11e5-8b79-fc7140e78890.png)

[2015-08-05 19:17] acabunoc opened #43 "Add rss icon to footer"
People can't seem to find it...

[2015-08-08 14:30] amjadm61 commented on #42
![capture](https://cloud.githubusercontent.com/assets/4783625/9150751/fcb28152-3e07-11e5-9af7-6ec009f2cc89.PNG)

This is from Firefox 39.0

[2015-08-08 14:47] mmhyamin opened #44 "FELLOW FOR SCIENCE button mobile reponsive issue"
**BECOME A MOZILLA FELLOW FOR SCIENCE** button is getting out of the mobile screen which makes the whole site not responsive. It will be okay if we remove ```.pure-button {white-space: nowrap;}``` from  pure-min.css line 11.

![screenshot_2015-08-01-03-11-50](https://cloud.githubusercontent.com/assets/5278142/9150843/857429ea-3e0e-11e5-9e17-4be163f39431.png)
![screenshot_2015-08-01-03-11-59](https

[2015-08-10 18:50] acabunoc commented on #44
Thanks @mmhyamin!

[2015-08-10 19:48] acabunoc commented on #42
Hey @amjadm61 - are you on windows / mac? Thanks!

[2015-08-10 19:51] acabunoc commented on #42
For reference to try based on response:

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

http://stackoverflow.com/questions/11459746/webfont-smoothing-and-antialiasing-in-firefox-and-opera

[2015-08-17 16:15] amjadm61 commented on #42
I'm really sorry acabunoc, I was very busy with my job in the past days. So, I couldn't able to reply to this thread on time :-(
btw, I'm using windows 7 OS. and the issue is seems like not resolved yet.

[2015-08-17 16:37] #43 closed

[2015-08-17 16:37] #44 closed

[2015-08-17 17:46] acabunoc commented on #42
@amjadm61 no worries! This helps, thank you :)

[2015-08-19 21:42] belkinsa opened #46 "Fellowship Page Needs Updated"
https://www.mozillascience.org/fellows

The deadline is past.

[2015-08-20 15:34] acabunoc commented on #46
thanks @belkinsa

[2015-08-24 13:56] belkinsa opened #47 "About Page Suggestion"
https://www.mozillascience.org/about

I have a suggestion for the "About" page, would be worth it to have a separate section for the MSL staff members at Mozilla instead of having it mixed with the community members.

[2015-08-24 14:22] belkinsa opened #48 "No "Next Page" on Blog"
https://www.mozillascience.org/blog

There is no way move to the next page on the blog page.  It's missing the "Next next" link.

[2015-08-24 15:49] belkinsa opened #49 "Upgrade Discourse"
Discourse needs to be upgraded because there might be new features that we can try to see if we can grow our community.  One example is the, "Groups" feature.

[2015-08-24 16:04] acabunoc commented on #48
Hey @belkinsa, feel free to join in on the discussion here:
https://github.com/mozillascience/site/issues/15

[2015-08-24 16:04] #48 closed

[2015-08-24 16:05] belkinsa commented on #15
What is the status?

[2015-08-24 16:10] acabunoc commented on #15
@belkinsa Very much in the list of features to implement! Would love some help if you have time.

[2015-08-24 16:11] belkinsa commented on #15
Ah, I see.  I have the time but not the coding skill, unless it's a simple one that I can learn how to do.

[2015-08-26 14:52] acabunoc commented on #49
https://github.com/MozillaFoundation/mofo-devops/issues/158

[2015-08-27 19:52] #46 closed

[2015-09-08 22:37] mmhyamin commented on #41
@acabunoc I can help you with this. Assign me.

[2015-09-09 00:14] acabunoc commented on #41
Thanks! Send over a pr :)

[2015-09-09 15:27] #41 closed

[2015-09-10 14:53] acabunoc commented on #15
From @kaythaney:

[2015-09-15 18:31] mmhyamin commented on #42
**OS:** Windows 7 Ultimate Service Pack 1
**Browser:** Firefox 39.0
[Screenshot](https://www.screencast.com/users/mmhyamin/folders/MSL/media/5e2fc536-7a6b-4ee7-bb4f-a9a7bb04c899)

After installing Fira Sans locally, [Screenshot](https://www.screencast.com/users/mmhyamin/folders/MSL/media/a2295677-93e4-4183-965c-73df4cc30f7b)

[2015-09-15 18:41] mmhyamin commented on #42
I found a bug related to FiraSans: [FiraSans and FiraMono appear blank](https://github.com/google/fonts/issues/10)

[2015-09-17 22:10] acabunoc commented on #15
Added next & previous buttons to the bottom of the blog page

No easy endpoint for specific months / years, so will be difficult to add that to the sidebar

[2015-09-18 02:01] belkinsa commented on #15
\o/, @acabunoc thank you!

[2015-09-18 17:20] #15 closed

[2015-09-29 16:35] mmhyamin commented on #42
Duplicate Bug: [Missing letters on the home page](https://github.com/mozillascience/site/issues/34)

[2015-09-29 16:43] mmhyamin commented on #47
@acabunoc could you provide me any "*MSL staff members*" list?

[2015-09-29 16:55] acabunoc commented on #47
thanks both! @belkinsa @mmhyamin

Yes, we'd love to see this change. if anyone is up for making this happen, here is the current staff list:

@kaythaney
@arlissc
@zee-moz
@stephwright
@acabunoc

[2015-09-29 22:41] belkinsa commented on #47
@acabunoc Do you know how hard that is to code?

[2015-09-29 22:43] acabunoc commented on #47
Here's the current About page template:
https://github.com/mozillascience/site/blob/master/views/about.jade

[2015-09-30 15:38] belkinsa opened #52 "Missing Link On "Training" Page"
https://www.mozillascience.org/training

"CONTACT US

Are you running a program to teach software and open science skills to researchers? Is there a set of lessons or discussions that you would like to see built? Let us know in the Mozilla Science Forum, or join the conversation on twitter @MozillaScience."

The Twitter link is missing the link to the page.

[2015-09-30 22:15] acabunoc commented on #52
Thanks @belkinsa!

[2015-10-01 02:40] belkinsa commented on #47
I have the jade page fixed but I don't have the code for the #mslstaff that I referenced in the code.

[2015-10-01 03:07] belkinsa opened #56 "COC Page"
Looking at the pages of the site, there is a coc.jade page which isn't being linked anywhere.  I think it should unless it's only for new users when they join the site.  Even if it's that, I think it should be linked somewhere viable for everyone to see.

[2015-10-01 16:48] acabunoc commented on #56
It's in the footer on each page, but thanks @belkinsa! Happy to move it more central

[2015-10-02 15:42] belkinsa commented on #56
Do you have any suggestions on where because I looked and it looks like there is no good place for it to be central, unless it's a menu item?

[2015-10-04 01:55] amjadm61 commented on #52
It looks like the issue is resolved :-)
So, It would be great if you can close this issue..

[2015-10-05 15:26] #52 closed

[2015-10-17 12:49] riordan commented on #32
There's now the possibility of using [smartcrop.js](https://github.com/jwagner/smartcrop.js/), which is content-aware cropping that's tuned for areas "interestingess" of an image.

[2015-10-17 16:12] BillMills commented on #32
Cool! And check out that [algorithm overview](https://github.com/jwagner/smartcrop.js/#algorithm-overview), I love it!

[2015-10-17 22:17] acabunoc commented on #32
+1, thanks @riordan & @BillMills!

[2015-10-26 15:18] belkinsa opened #57 "Suggestion: Resources"
As I posted [here](https://forum.mozillascience.org/t/what-jargon-do-we-have/341/2), I think creating a "resources" page will be useful.

[2015-10-29 23:49] acabunoc commented on #57
Thanks @belkinsa, great idea!

[2015-12-13 18:51] Blahah commented on #47
Any reason this hasn't been merged @acabunoc?

[2015-12-14 15:59] acabunoc commented on #47
It doesn't list the staff yet. @mmhyamin - how's that going? let me know if you want to hop on skype to chat about it

[2015-12-14 16:34] Blahah commented on #47
That's an excellent reason! Sorry I didn't read the code carefully before asking :). Happy to help move this along @belkinsa if there's anything you'd like to assign to me.

[2015-12-14 17:37] mmhyamin commented on #47
@acabunoc My semester final exam is going on that's why I could not pay attention to this issue. I can add this statically for the time being, it will take 15 minutes or so. Once my finals are over, I will make it dynamic.

[2015-12-14 17:46] acabunoc commented on #47
No rush! Thanks @mmhyamin -- good luck with your finals :)

[2015-12-14 17:55] mmhyamin commented on #47
@acabunoc No problem I almost finished the coding. It will take 5-7 more minutes. I will push the code once I come back from my dinner. I will work again in it as soon as I finish my finals.

[2015-12-14 20:24] acabunoc commented on #47
Also, new staff!

@auremoser

Updated current staff list:
@kaythaney
@arlissc
@zee-moz
@stephwright
@acabunoc
@auremoser

[2015-12-14 20:27] auremoser commented on #47
Thank you, @acabunoc!

2015-12-14 15:24 GMT-05:00 Abigail Cabunoc Mayes <notifications@github.com>:

--
A̴͉̼u͚̮̟̮̩̗̮r̡e̦͖ĺi̻͕̫̠̺a̭̲͖͎ | aureliamoser.com

[2015-12-15 18:51] acabunoc opened #58 "Prototyping Deliverables for Fellows"
@zee-moz @auremoser @acabunoc

- [ ] schedule chat on prototyping deliverables for fellows (january - february)
    * when are all three of us free?
- [ ] ?

[2015-12-15 18:51] acabunoc commented on #58
closing, wrong repo :(

[2015-12-15 18:51] #58 closed

[2015-12-15 19:07] mmhyamin commented on #47
@acabunoc please check. I created a pull request. It's dynamic now. It would have been more easier, if there's a user type for staffs.

**N.B** Sorry I did not pushed the code yesterday. Static code was pretty messed up.

[2015-12-15 21:59] auremoser commented on #47
Thank you!

[2015-12-17 17:35] #47 closed

[2016-01-07 18:31] acabunoc opened #62 "Add fellows blogs to website"
**For an MVP** the best spot is probably the 2015 fellows page:
* https://mozillascience.org/fellows/2015
* template: https://github.com/mozillascience/site/blob/master/views/fellows/2015.jade

**Extra**: We could also explore adding this to their user profiles
* [jason](https://mozillascience.org/u/jasonbobe), [joey](https://mozillascience.org/u/joeyklee), [christie](https://mozillascience.org/u/

[2016-01-07 18:32] acabunoc commented on #62
Also, open to suggestions if people know a better spot to add the fellows blogs!
@mozillascience/msl-staff

[2016-01-07 19:04] stephwright commented on #62
I like both adding to Fellows page and adding to their user profiles!

[2016-01-08 07:25] auremoser commented on #62
Thank you for making this! Very helpful with the files linked. I sketched out the first and am on to the second! Youpee!

[2016-01-08 13:22] acabunoc commented on #62
related question- I've been calling this group the "2015 Mozilla Fellows for Science", but maybe they should be the 2016 fellows? or 2015-2016?

[2016-01-08 15:21] auremoser commented on #62
That's a good one, I like your original, If they're "born" in 2015, I think they should have that label. :) imho, we had that as Open News Fellows.

[2016-01-08 15:27] acabunoc commented on #62
Good to know news does that, too! I'll keep 2015 then :)

[2016-01-12 23:51] acabunoc commented on #62
closing!

[2016-01-12 23:51] #62 closed

[2016-01-14 15:48] acabunoc opened #67 "Upcoming Events - dates seem off?"
Events disappearing from home page before the start!

I think it might be a timezone problem:
https://github.com/mozillascience/site/blob/master/routes/events.js#L51

[2016-01-15 02:31] acabunoc opened #68 "Delete event with no "_id" in db"
can't seem to be able to connect to mongo via shell -- once we figure that out, delete the event that is undeleteable & uneditable through the mongolab gui

cc: @auremoser

[2016-01-15 02:32] auremoser commented on #68
thanks!

[2016-01-16 02:44] acabunoc opened #70 "Edit events"
You can now create events, but you can't edit them yet. Add /edit for events

[2016-01-16 02:44] acabunoc commented on #68
done! Had to update mongo

[2016-01-16 02:44] #68 closed

[2016-01-16 04:43] auremoser commented on #68
:+1:

[2016-01-16 04:55] auremoser opened #71 "Login/Logout error"
### Context
Trying to use Abby's rad new event template, not sure the following problem is related but that was the impetus, issue #69.

When I login on the home page and then navigate to "Community" it logs me out.

### Procedure
* navigate to <http://mozillascience.org>
* select upper right `login`
* select "Community"
-> logout
* select upper right `login` again
-> returns me to "home page"

##

[2016-01-17 03:49] acabunoc opened #72 "add jsx precompile into build scripts"
I get confused with both /src and /public/scripts

[2016-01-19 03:44] acabunoc commented on #72
done with #73

[2016-01-19 03:44] #72 closed

[2016-01-19 03:48] acabunoc commented on #71
Thanks!

Yeah, I've been noticing strange session issues. I thought they went away when we switched to redis but I guess not womp wormp :( As you've noticed, it should work if you don't visit `/community` before logging in.

I think since we precompile the html, our cdn caches the page. It should update when you're logged in, but something's up. Thanks for documenting this!!

[2016-01-19 16:10] acabunoc opened #74 "Look at ways to bring in local study group events to the main website"
Most (?) groups already use this script to create the gcal events:
https://github.com/minisciencegirl/studyGroup/tree/gh-pages/scripts

owner: @acabunoc
cc: @auremoser

[2016-01-19 17:54] auremoser commented on #74
Cool, what would be the ideal workflow for pulling those events into a study group global cal? I don't want to be too heavy handed about cross-promotion between groups but I think it would be a really nice thing to put in the Open Science Utility Belt materials, particularly as it promotes the community.

[2016-01-20 20:39] acabunoc opened #75 "add time zones to the jade templates"
Date shows up in server time on events

[2016-01-21 21:22] acabunoc commented on #70
done in #76

[2016-01-21 21:22] #70 closed

[2016-01-21 21:22] acabunoc commented on #75
fixed on prod now!

[2016-01-21 21:22] #75 closed

[2016-01-21 21:27] acabunoc commented on #67
changed events to use proper UTC time and convert to correct timezone when rendering page. Fixed this problem!

https://github.com/mozillascience/site/commit/ff9f01fa0486f25aaacad203156b362c1849ef28

[2016-01-21 21:27] #67 closed

[2016-01-21 21:28] acabunoc opened #77 "Add delete event"

[2016-01-21 22:14] #77 closed

[2016-01-25 18:50] #38 closed

[2016-02-11 14:13] gedankenstuecke opened #79 "Collaborate: moving projects breaks site"
Hey there,
we've [moved our repository for openSNP into an organization lately](https://github.com/openSNP/snpr), but the links on collaborate are still pointing to the old location, [breaking the site](https://www.mozillascience.org/projects/gedankenstuecke-snpr).

As I can't access the site I'm unable to fix the links. Help, pls? :smiley:

![pussinboots.gif](http://media0.giphy.com/media/abZ5exG

[2016-02-16 21:04] gedankenstuecke commented on #79
So, the hotfix for this on the user end: I forked the repo back into my userspace, so at least a fork was available on the old URL, then I could log in to MSL collaborate and change the URL to the new one, not the most elegant solution but at least it's back up and running :)

[2016-02-16 21:35] auremoser commented on #79
Oh no I'm sorry! Thanks for the hot-fix. The kitten gif is heartbreaking.

[2016-02-16 21:37] gedankenstuecke commented on #79
Not sure how to fix the issue itself though. Because even without me doing the fork of the repo the old URL https://github.com/gedankenstuecke/snpr was still redirected by GH to the new one at https://github.com/openSNP/snpr.

So maybe you could just allow redirects on your end?

[2016-02-16 21:59] acabunoc commented on #79
This is heartbreaking!

Not sure what happened though -- when you say 'breaking the site' do you have a screenshot? Did you get an error, or were certain parts of the page missing?

Glad you were able to find a fix in my absence!

[2016-02-16 22:45] gedankenstuecke commented on #79
Sorry, I didn't do a screenshot, but the website just give an error message, probably from whatever framework is powering it. And afterwards the site was completely unavailable for me for a couple of minutes. Shall I try to reproduce it?

[2016-02-16 23:52] hannahkane opened #80 "Finalize moodboard"
Fantastic v1 is here: https://www.pinterest.com/aure_moser/website/

Next step is to iterate and make it align with Mofo branding/design audit work that's been happening.

Some considerations:
 * consider a broad audience, beyond just hard sciences
 * current logo is well-liked, so design work moving forward can reflect the flat, colorful, multi-toned, "petri dish-like" aesthetic

To finalize, @kr

[2016-02-16 23:52] hannahkane commented on #80
cc @kristinashu - I don't have assigning privs in this repo, so just tagging you here

[2016-02-16 23:57] hannahkane opened #81 "Draft User Research Plan"
Before we make a decision on the site architecture (see nav_ideas tab of [this doc](https://docs.google.com/spreadsheets/d/1iiUwf_GTXMdV3vB7Tl0h-bCpm1QBumPExkkTL_ktgMQ/edit#gid=719229321)) let's see which ideas resonate with community members.

@acabunoc @zee-moz @auremoser - can you connect me with ~7 community members who are familiar with the MSL offerings?

@my-le and @kristinashu and I can co

[2016-02-17 00:08] hannahkane opened #82 "Finalize content for About page"
I suggest we start the UI/UX site refresh with a single page, such as About, since we're likely to have that page regardless of what information architecture we land on.

@zee-moz @auremoser @acabunoc - can you come up with content for this page (could be exactly what we have on the /about page now, but I figure there might be changes you want to make)? As we talked about during the kick-off, this

[2016-02-17 00:08] hannahkane opened #83 "Wireframes for About page"
Since we don't yet know the site architecture, let's start the UI and UX process with a page like "About," which we're likely to have on the site regardless of the IA.

See #82 for complementary ticket about content

[2016-02-17 00:09] hannahkane commented on #82
See #83 for complementary design ticket

[2016-02-17 00:12] hannahkane commented on #83
cc @my-le @kristinashu

[2016-02-17 00:12] acabunoc commented on #79
That helps! I can probably repo on my end -- thanks for the info :)

[2016-02-17 01:18] auremoser commented on #81
@acabunoc @zee-moz do you think this would be something we could appropriately ask on the Gitter chat for OLC? I would say let' s make a voting forum and launch on the Community Call but that's (now) a month away. Perhaps it's appropriate for the Project Call Abby? We could also bring it up in the OLC calls this week @acabunoc but I think that might distract from the purpose of those calls.

I thi

[2016-02-17 02:29] auremoser commented on #82
You bet, etherpad here with original content for the tweaking: https://public.etherpad-mozilla.org/p/msl-about
Edit away!

[2016-02-17 08:14] gedankenstuecke commented on #79
Great, let me know if you need help anywhere :)

[2016-02-17 15:18] stephwright commented on #81
Tom Hohenstein?

Also, wondering if we want 1 or 2 peeps outside MSL but inside MoFo for feedback?  Just thinking in terms of community, they too are our community... right?
Only thinking about this because in the past our Library redesigned our website seeking only feedback from external users and when the finished product came out, they'd removed all the features that helped the librarians use t

[2016-02-17 15:29] zee-moz commented on #81
Can we also tap more people who are outside of the Americas/Europe? I know
we have Amel and Fatma, but how about Nifras and Acon?
I think Tom and Madeleine would have great feedback, but we could also ask
Rob Schaefer (U MN) and some of the UBC SG people, as a way to get them
re-engaged (and avoid burning out our superstars).

z

On Wed, Feb 17, 2016 at 10:18 AM, Stephanie Wright <notifications@gi

[2016-02-17 17:00] cassiemc commented on #80
FYI I reached out to Chris Appleton re. the thinking behind the logo. Will post here if he gets back to me.

[2016-02-17 17:19] auremoser commented on #81
O.k. sure, good points, so:
* Bastian Greshake (Europe)
* Fatma Guerfali + Amel Ghouila (Africa)
* Bill Mills / Joey (UBC - Canada)?
* Fellows (Richard, Jason, Christie)
* Hana Sun (inside mofo, new-ish!)
* Amira Dhalla (inside mofo)
* Ancon Paul (Asia)

I made the previous list based on folks who usually respond to email pretty quickly. We're missing representation

[2016-02-17 17:21] stephwright commented on #81
:+1:

[2016-02-17 17:30] hannahkane commented on #81
This is great, thanks! @my-le and @kristinashu are going to put together some proposals and then I'll reach out to you to collect contact info for these community members so we can share and gather feedback.

[2016-02-17 17:32] Blahah commented on #82
Unsolicited input:

I'd like to see the about page help people get to know the team better. It used to not even list the team members, so it's better than it was. But still, MSL are building a community, and those interested in joining are going to want to know who shapes and leads that community.

[2016-02-17 17:35] hannahkane opened #84 "Create IA proposals"
We'll propose a couple options for IA for the site refresh, and then share them with community members for feedback (see #81)

[2016-02-17 17:35] hannahkane commented on #84
cc @my-le @kristinashu

[2016-02-17 17:51] auremoser commented on #81
Perfect.

[2016-02-17 17:58] auremoser commented on #82
Good point @Blahah :). We have [a wiki](https://wiki.mozilla.org/ScienceLab) with more biographical info on the team, but that content hasn't migrated to the site, maybe it should! I put it in the etherpad.

[2016-02-17 17:58] cassiemc commented on #80
From Chris:
It's been a while since I've had a look at the logo, but I've tried to round up some of my early thoughts / keywords I had in mind when designing it initially.

Hope these are helpful! And if not, happy to go into more depth on any of them :)

science
energy
sparks
catalyst
reactions
fluidity
solution
organic
geometry
transparency
gels / ink droplets
symmetry
brains
rationality
logic
d

[2016-02-17 17:59] cassiemc opened #85 "Can I have admin privileges for this repo?"
Would like to be able to add labels / assignees / milestones. I suspect @hannahkane needs the same.

@acabunoc can you help?

[2016-02-17 18:03] acabunoc commented on #85
done! thanks for the reminder :)

[2016-02-17 18:03] #85 closed

[2016-02-17 18:23] hannahkane commented on #85
I can't assign tickets to @my-le or @kristinashu. Is this because they're not members of this repo?

[2016-02-17 18:26] acabunoc commented on #85
I *just* added them -- they may need to accept first. Let me know if that works!

[2016-02-17 18:28] kristinashu commented on #85
Thanks @acabunoc! I've accepted and was able to assign a ticket to myself.

[2016-02-17 18:32] my-le commented on #85
Thanks for adding!

2016-02-17 19:28 GMT+01:00 Kristina <notifications@github.com>:

[2016-02-17 18:33] acabunoc commented on #85
hooray! \o/

[2016-02-17 18:36] hannahkane commented on #85
Thanks, @acabunoc!

[2016-02-18 17:45] acabunoc opened #86 "Finalize content for the Home Page"
We'd love to see the home page better represent the Science Lab.

Looping in @zee-moz & @auremoser here help figure out what should go on our new home page!

See related #87, with UI/UX work on the home page

[2016-02-18 17:48] acabunoc opened #87 "Wireframes for Home page"
We're eager to see UI and UX work on our home page. :house:

See #86 for complementary ticket for content

cc @my-le @kristinashu

[2016-02-18 19:52] kristinashu commented on #84
Work in progress is happening here: https://docs.google.com/a/mozilla.com/presentation/d/1zZ0sC4_7DOaTFJ5wci986tbPCAgC-yOcV20UTtWNC8E/edit?usp=sharing

[2016-02-18 21:32] auremoser commented on #86
Apologies in advance for the length of this post, I got excited. :boom:

The [MLab's site](http://www.measurementlab.net/) has a similar structure to ours, but I kind of like the video embedded as a way to introduce the science lab and what we do, maybe we could film this ourselves and include cameos from our calls to illustrate how the Science Lab is built from a distributed team, and "mobile lab

[2016-02-18 21:47] acabunoc commented on #86
For content, here's our latest mission statement we wrote in the fall where we tried to accurately reflect our program and offerings (emphasis mine)

---

The Mozilla Science Lab works to make research collaborative, accessible, and usable. We do this by:

- Empowering the next generation of leaders through **fellowships** and **mentorship**;
- Facilitating project-based learning around **open dat

[2016-02-18 21:54] acabunoc commented on #86
Also, @auremoser -- I think a lot of your comments are more related to some of the other issues: #84 for IA, #87 for home page UI/UX, along with this one! Thanks for some great inspiration :smile:

[2016-02-18 21:58] auremoser commented on #86
Oh, do you want me to move them @acabunoc ? I'm sorry! I should have written some more content instead.

[2016-02-18 22:19] zee-moz commented on #86
I like the idea of an intro video--- we really need a good way to communicate what we do and why.
Looking at the mission (thanks @acabunoc) , maybe a verb that could come into the IA would be "lead" --- that gives us a way to highlight fellows and the cohort, as well as SG leads? I think the teach/learn separation doesn't work well, as the SGs are very casual and a mix of teaching and learning for

[2016-02-18 22:39] stephwright commented on #87
My thoughts are inspired by the content issue #86 but my thoughts are more related to UI/UX so putting here.

1) I'd like us to be thoughtful about how the home page appears to someone who doesn't know what MoFo and Sci Lab are about.  That's why I like the verb tabs because it tells folks what they can do.  As much as I love alliteration, not a fan of the three Cs because the words don't seem lik

[2016-02-19 00:06] hannahkane commented on #84
Copying the IA parts of @auremoser's comment on #86, since they're relevant to this ticket, too:

![screen shot 2016-02-18 at 3 56 15 pm](https://cloud.githubusercontent.com/assets/1559703/13157845/1a14d018-d658-11e5-9e52-396bfbaf287a.png)

I also like the 2-part nav, where the header has two calls to action ("Help us grow and improve" button leads to -> http://www.measurementlab.net/contribute),

[2016-02-19 00:07] hannahkane commented on #84
Also copying @zee-moz's comment from #86, because it's also relevant here!

Looking at the mission, maybe a verb that could come into the IA would be "lead" --- that gives us a way to highlight fellows and the cohort, as well as SG leads? I think the teach/learn separation doesn't work well, as the SGs are very casual and a mix of teaching and learning for all... Slicing and dicing content here ge

[2016-02-19 00:14] hannahkane commented on #86
Great benchmarks and thoughts so far. I've copied some of the comments that are specifically related to IA over to #84, though I realize it's often hard to think about a homepage and not also think about navigation.

So, it sounds like for homepage content, so far we have the idea of a video and something that conveys the scope of the mission. Does that seem right to everyone?

[2016-02-19 00:15] hannahkane commented on #84
also copying a relevant piece of @stephwright's comment from #87:

1) I'd like us to be thoughtful about how the home page appears to someone who doesn't know what MoFo and Sci Lab are about. That's why I like the verb tabs because it tells folks what they can do. As much as I love alliteration, not a fan of the three Cs because the words don't seem like they are selected for ease of understanding

[2016-02-19 01:08] kristinashu commented on #80
I'm pinning a bunch of things here: https://www.pinterest.com/kristinashu/science/
It still doesn't align with our brand, this is just inspiration and then we can align with our brand at the design stage. If anyone wants to be invited to pin on this board, let me know!

[2016-02-19 15:47] acabunoc commented on #86
@hannahkane that sounds about right to me!

However, I'm a bit worried about how we're going to produce a high quality video -- do we have time/resources to do this? I've never made a good quality video so this is very daunting to me.

[2016-02-19 15:52] zee-moz commented on #86
Kaitlin and I have been talking about generating some A/V for the web and
for our materials. I'm looking into options and costs so will know more
soon.

Z

On Fri, Feb 19, 2016 at 10:47 AM, Abigail Cabunoc Mayes <
notifications@github.com> wrote:

[2016-02-19 20:15] acabunoc commented on #86
Sent out meeting invite to @mozillascience/msl-staff to plan home page content on Monday

[2016-02-19 20:17] hannahkane commented on #86
Great. Let us know how it goes, or if you'd like for a designer to attend. I'd also be happy to attend.

[2016-02-19 20:21] acabunoc commented on #86
Thanks @hannahkane! I added you, @my-le & @kristinashu as optional in the invite :)

[2016-02-22 15:30] my-le commented on #84
Vanilla + CCC + Verbs + option IV IA have been filled with content items from slide 2, to compare them more easily.
https://docs.google.com/presentation/d/1zZ0sC4_7DOaTFJ5wci986tbPCAgC-yOcV20UTtWNC8E/edit#slide=id.g10156c9576_0_121

[2016-02-22 18:40] kristinashu opened #88 "Gather all images"
Do we have an image bank for science? It would be great to start gathering all the images we might want to use on the site. For example, photos from past events, staff profiles, group photo of staff, fellow profiles, group photo of fellows...

We might be able to use some from MozFest: https://www.flickr.com/photos/mozfest/albums/with/72157660181490099

Please add any links to images you can think

[2016-02-22 18:46] kristinashu opened #89 "Gather all logos"
Please add any relevant logos. I've started a folder with the Science Lab logo but if you could please add any other ones we might need (partners, supporters, hosts...).

Vector files (.ai, .eps or .svg) would be ideal.

Please add to this ticket or to this folder: https://drive.google.com/a/mozilla.com/folderview?id=0B2irLVDJivhLVjM5SVlvc3otam8&usp=sharing

cc @acabunoc @auremoser @zee-moz

[2016-02-22 19:00] acabunoc commented on #88
We started a flickr account right before our Working Open Workshop:
https://www.flickr.com/photos/139954518@N06/

But yes, there are a bunch from MozFest. I think @kaythaney and I have a few more floating around we can add to the flickr account

[2016-02-22 19:04] acabunoc commented on #89
I just shared this folder with you: https://drive.google.com/drive/folders/0Bz4NUCbMj6c9U29jeTdUS2l0cGc

That should have most logos you need! Let me know if this other folder is okay

[2016-02-22 19:30] acabunoc commented on #86
Notes from today's meeting: https://public.etherpad-mozilla.org/p/sciencelab-homepage-content

[2016-02-22 20:36] kristinashu commented on #89
Great, thanks @acabunoc!

[2016-02-22 20:36] #89 closed

[2016-02-22 20:47] kristinashu commented on #88
Thanks @acabunoc! Do you also have the original fellowship profile images? Just in case we want to crop them differently or give them some sort of image treatment.

[2016-02-22 20:53] acabunoc commented on #88
As received from them:

![bobe_headshot_12_241_final](https://cloud.githubusercontent.com/assets/617994/13232231/50119e04-d97c-11e5-95d2-55e57c80f8ed.jpg)
![richard_smith_unna](https://cloud.githubusercontent.com/assets/617994/13232232/51ff72d6-d97c-11e5-8dc7-47013c724bfe.jpg)
![jlee crop](https://cloud.githubusercontent.com/assets/617994/13232236/5427e03e-d97c-11e5-8a3d-a1a37c792ad8.jpg)
![headsh

[2016-02-22 21:29] my-le commented on #87
To help me create zonings and wireframes for the Home Page, I started to list Design Principles.
Based on “mozillascience.org homepage content” etherpad: https://public.etherpad-mozilla.org/p/sciencelab-homepage-content
Here is a work document in three parts:
1) Visiting Home Page one MUST find, learn, understand that: <---> 2) MSL Special Features are <---> 3) Design Principles WiP
Feel free to c

[2016-02-22 22:11] kristinashu commented on #84
Excellent, thank you @my-le! We can go over these with everyone at our stand up tomorrow.

[2016-02-22 22:14] hannahkane commented on #87
@my-le - thanks for this. I added some comments, but I don't know how much they will inform this particular document. They're more like discussion prompts for the entire group.

also, during a smaller group meet this morning to talk more about the homepage, we decided a few of us (@kaythaney and me + @kristinashu) would come up with some potential copy ideas for the homepage. Those should give you

[2016-02-22 22:15] hannahkane commented on #86
Next steps: @kaythaney, @hannahkane and @kristinashu to come up with specific copy/content suggestions by Friday. Others are welcome to as well! :)

[2016-02-22 22:16] hannahkane commented on #83
Taking this out of current milestone, in order to focus on homepage instead.

[2016-02-22 22:16] hannahkane commented on #82
Taking this out of current milestone, in order to focus on homepage instead.

[2016-02-22 22:27] kristinashu commented on #83
Side note, @my-le and I have actually been discussing the possibility of not having an About page. The current about page content includes: mission statement, staff and feature contributors. The mission statement could be incorporated on the home page. Staff and featured contributors profiles could be in a different section (not sure where yet) and we could use tags to filter/highlight them. So th

[2016-02-22 22:47] my-le commented on #87
@hannahkane perfect! I wish this document coulb be used by everyone as work document, so we can work in parallel.

[2016-02-22 22:51] stephwright commented on #88
Should I add photos from tweets and other events like Summit and Fellows
onboarding & Mozlando?

On Mon, Feb 22, 2016 at 12:53 PM, Abigail Cabunoc Mayes <
notifications@github.com> wrote:

--
Stephanie Wright
--------------------------------------------------------------------------------------
Open Data Training Lead, Mozilla Science Lab
Twitter @shefw  | GitHub @stephwright | Skype: stephanie_45

[2016-02-22 23:10] kristinashu commented on #88
Yes, please add those event photos. Tweets might be too low resolution to use but if you have the original photos that would be great.

[2016-02-22 23:13] hannahkane commented on #87
When we draft copy, we can put that in a google doc or etherpad so everyone can help edit!

[2016-02-23 16:08] stephwright commented on #83
I know our focus is the home page now but throwing this out there so I don't forget about it.  I'm curious, since one of our big issues is that folks don't understand what it is we do, would it be better to keep the About page but add more content to explain it better?  I would be really interested to hear what the folks we identified as community members would like to know "about" Mozilla Science

[2016-02-23 16:44] hannahkane commented on #83
+1 to getting input from community members. Also, we can think outside of the box—"About" could mean "About Open Science," for example. (Though I agree that an About page might not be necessary at all.)

[2016-02-24 01:10] hannahkane commented on #81
@kristinashu and I spoke earlier. Started drafting a testing plan [here](https://docs.google.com/document/d/1oe8AwqMiKh97558mC5Q9Scs3RWrnFPsCrDxrlX5HCw4/edit#).

Would welcome feedback from all, and will talk specifically with @my-le about this tomorrow!

[2016-02-24 01:17] hannahkane opened #90 "Draft Analytics report"
I know that the current site analytics may not be entirely reflective of our goals, but let's summarize what we can learn from the current site's analytics. I think it will inform our decisions moving forward.

@kristinashu - do you want to lead on this? You did a great job with this for the Teach site.

@acabunoc - are you able to grant Analytics access for @kristinashu and me?

[2016-02-24 13:47] acabunoc commented on #90
I think we'll need to talk to @adamlofting

![screen shot 2016-02-24 at 08 46 18](https://cloud.githubusercontent.com/assets/617994/13287082/1907fb94-dad3-11e5-906f-390af13dcc1f.png)

[2016-02-24 13:56] adamlofting commented on #90
I'm not an admin on this profile either, I'll file a ticket now to request access. It's usually pretty quick.

[2016-02-24 13:59] adamlofting commented on #90
Ticket is here: https://bugzilla.mozilla.org/show_bug.cgi?id=1250886

[2016-02-24 16:55] hannahkane commented on #90
thanks, @adamlofting !

[2016-02-24 17:01] kristinashu commented on #90
Thanks @adamlofting!

@hannahkane Yes, I'm happy to do this once we get access.

[2016-02-24 17:43] acabunoc commented on #88
Also tagging @joeyklee who took some awesome photos at mozfest & WOW. Did you end up sharing them on flickr?

[2016-02-24 17:53] kristinashu commented on #81
We're hoping to email everyone tomorrow so please let us know if you have any feedback.

@auremoser thanks for putting this the list of participants together. Could you please email me their addresses?

[2016-02-24 18:50] auremoser commented on #81
Surely :)

[2016-02-24 18:52] hannahkane commented on #86
Started a [brainstorming document](https://docs.google.com/document/d/1k2Ds-iw4B_Sh5ae1areW1qfuLPtSqmgohtXYBkOi7r4/edit#), experimenting with different "flavors" of writing styles. @kaythaney @zee-moz @stephwright @auremoser @acabunoc @kristinashu - feel free to comment

[2016-02-24 19:51] kristinashu commented on #80
Next step for me will be to create a moodboard in slides or illustrator exploring specific colours, styling, images, mood and tone. If possible I'd like to create two different directions which the science team can then choose from.

I'm flagging that this will be blocked by the mofo colour ticket https://github.com/MozillaFoundation/Design/issues/139 - I can still move forward but colours will mo

[2016-02-25 16:58] my-le commented on #87
Wireframe suggestions start here: https://redpen.io/tk575e9dac8ca7359b

[2016-02-25 19:25] kaythaney commented on #87
thanks, both! @hannahkane - i flagged some copy suggestions in the doc for
you further down. happy to jump back in, too.

On Mon, Feb 22, 2016 at 5:14 PM, hannahkane <notifications@github.com>
wrote:

--
@kaythaney <http://twitter.com/kaythaney/>
@MozillaScience <http://twitter.com/mozillascience>

[2016-02-25 19:25] kaythaney commented on #87
thanks, my!

On Thu, Feb 25, 2016 at 11:58 AM, My Le <notifications@github.com> wrote:

--
@kaythaney <http://twitter.com/kaythaney/>
@MozillaScience <http://twitter.com/mozillascience>

[2016-02-25 20:06] hannahkane commented on #81
I'm going to close this ticket, though people should feel free to continue to comment on the doc if needed. Will open a new ticket for running phase 1.

[2016-02-25 20:06] #81 closed

[2016-02-25 20:07] hannahkane opened #91 "Run phase 1 of user research"
The [user research plan](https://docs.google.com/document/d/1oe8AwqMiKh97558mC5Q9Scs3RWrnFPsCrDxrlX5HCw4/edit#heading=h.4r3jdiuhxn9l) details a phase 1 that asks community members to participate in an asynchronous, virtual card sorting activity. Results will be used to inform IA including nav structure and terminology.

Email sent:
- [x] Bastian
- [x] Fatma
- [x] Amel
- [x] Joey
- [x] Rob
- [x] Ri

[2016-02-25 20:12] hannahkane commented on #86
Thanks for all the feedback so far. Going to roll this into the next heartbeat to give us more time to brainstorm. @kaythaney - will you be the ultimate decider on final copy?

[2016-02-25 20:15] hannahkane commented on #84
Closing this, since we generated new IA proposals. Will open a new ticket to finalize once we incorporate user research results.

[2016-02-25 20:15] #84 closed

[2016-02-25 20:16] hannahkane commented on #87
Rolling this into next heartbeat to give everyone time to comment and for @my-le to iterate and come up with new variations based on feedback from the team.

[2016-02-25 20:19] hannahkane opened #92 "Finalize IA"
Inform our decision with:
- [user research feedback](https://github.com/mozillascience/site/issues/91)
- [summary of current site analytics](https://github.com/mozillascience/site/issues/90)

Consider doing an evaluative user test (might require wireframes for several pages) to validate

[2016-02-25 20:19] hannahkane commented on #80
cool. @kristinashu - should we roll into the next heartbeat?

[2016-02-25 20:20] kristinashu commented on #80
@hannahkane yes please

[2016-02-25 20:47] kaythaney commented on #86
yep - put me down for that one. :)

On Thu, Feb 25, 2016 at 3:12 PM, hannahkane <notifications@github.com>
wrote:

--
@kaythaney <http://twitter.com/kaythaney/>
@MozillaScience <http://twitter.com/mozillascience>

[2016-02-25 23:36] kristinashu commented on #91
I sent the email to Sabrina to test the instructions. It made sense and her and she even sent me back a proposed IA!

Aurelia is sending out an intro email to all the possible participants and then I'll send Phase 1 (Generative testing) to the first 4 participants. Depending how Phase 1 goes, we will either send out Phase 1 or 2 to the rest of the participants.

Excited to see what they come up wi

[2016-02-26 17:24] joeyklee commented on #88
Hi! I've got a few photos from Onboarding, Moz fest, and the WOW workshop. I haven't added them to the flickr - are there login details lying around to post to or should I share via dropbox?

[2016-02-26 19:10] kristinashu commented on #91
Everyone has been very keen to help out! I've sent emails to 6 participants and will hold off until we get some results before sending the rest (just to make sure everything is clear and to asses if we want to continue with Phase 1 or jump to Phase 2).

[2016-02-26 19:20] kristinashu commented on #91
cc @auremoser just to keep you in the loop since I haven't been cc'ing you in the reply emails.

[2016-02-26 20:08] auremoser commented on #91
Oh thanks! @kristinashu

[2016-02-26 21:15] kristinashu commented on #88
Thanks @joeyklee! I'm not sure what the login info is for flickr but I think dropbox might be easiest anyways.

[2016-02-26 21:17] acabunoc commented on #88
I put them all up on the mozillascience flickr!
https://www.flickr.com/photos/139954518@N06/

On Fri, Feb 26, 2016 at 4:15 PM, Kristina <notifications@github.com> wrote:

[2016-02-26 21:20] kristinashu commented on #87
I think @my-le has done pretty much as much as she can (https://redpen.io/p/kwe0b1b8415da9f6f4) until we get the analytics, user IA feedback and finalized copy.

[2016-02-26 21:21] kristinashu commented on #88
Ok excellent, thanks! Do you think that's it for photos, can we close this ticket?

[2016-02-26 21:42] kristinashu commented on #87
@hannahkane should I close this and open a new one about editing the home page wireframes based on upcoming info?

[2016-02-26 21:43] hannahkane commented on #87
Yes, please. Thanks, @kristinashu.

[2016-02-26 21:56] kristinashu opened #93 "Wireframes for Fellowship page"
In an effort to move forward we will treat Fellowship as a main level navigation item and we can adapt the wireframes later if we decide to make Fellowship a secondary menu item.

For now, we can pull copy from the current site and then see if we're missing any content once we have the rough wireframes.

We will do what we think is best suited for science but for context here are some references:

[2016-02-26 21:59] kristinashu opened #94 "Wireframes for Blog"
Create wireframes for the blog page. Current site https://www.mozillascience.org/blog

cc @my-le

[2016-02-26 22:04] kristinashu opened #95 "Finalize Wireframes for Home page"
Based on wireframes created in https://github.com/mozillascience/site/issues/87 and seen here https://redpen.io/p/kwe0b1b8415da9f6f4

We will need to update the wireframes once we get current site analytics, user IA feedback and copy.

[2016-02-26 22:04] kristinashu commented on #87
Closing and opening a new ticket for edits https://github.com/mozillascience/site/issues/95

[2016-02-26 22:04] #87 closed

[2016-02-27 19:24] joeyklee commented on #88
Those are all of the photos I have for now.

[2016-02-29 14:58] acabunoc commented on #88
Closing the ticket :)

[2016-02-29 14:58] #88 closed

[2016-02-29 17:33] hannahkane opened #96 "Finalize visual aspects of brand direction"
First step: review the [moodboard](https://github.com/mozillascience/site/issues/80)

[2016-02-29 17:34] hannahkane commented on #96
@cassiemc - can you update this ticket with more information about what you expect the outcome of the heartbeat to be?

[2016-03-01 00:23] hannahkane commented on #86
I re-organized the [doc](https://docs.google.com/document/d/1k2Ds-iw4B_Sh5ae1areW1qfuLPtSqmgohtXYBkOi7r4/edit#heading=h.90tw9v54omys) a bit and added a Table of Contents so we can easily see the different pieces of content we need to finalize. Also added a few questions for the group.

Would be great if people could go in one more time to add more ideas and opinions. Don't be afraid to say what yo

[2016-03-03 17:22] cassiemc commented on #96
Actually @kristinashu outlined this quite well in https://github.com/mozillascience/site/issues/80. I'll close this issue in favour of that one.

[2016-03-03 17:22] #96 closed

[2016-03-03 17:24] cassiemc commented on #80
I updated the first comment with a list of to-do's to finish this off. Those pieces will need design review.

[2016-03-03 17:25] cassiemc commented on #93
@my-le @kristinashu Can you post here the wireframes you shared in the stand earlier this week?

[2016-03-03 17:25] cassiemc commented on #94
Any update @my-le @kristinashu ?

[2016-03-03 17:27] cassiemc commented on #95
@kristinashu Can you link directly to the most up-to-date wireframe here? Not sure what I should be looking at in the big folder - is it this one? https://redpen.io/xc4c6fca695501df65

[2016-03-03 17:28] cassiemc commented on #92
@hannahkane @kristinashu @my-le Can you link or post the IA versions we are testing please?

[2016-03-03 17:55] hannahkane opened #97 "Wireframes for Projects page"
Goals/purpose + content to be discussed further.

@my-le - please drop the wireframes you've been working on here. Thank you!

@kaythaney @acabunoc @auremoser - please feel free to drop any notes or additional context for this page here, but let's also plan to discuss soon.

[2016-03-03 18:12] cassiemc commented on #86
As discussed at today's stand I will review this from a design perspective, @hannahkane and I can clean up and remove some of the noise, @kaythaney will work on some of the longer/more descriptive copy and then put a final stamp of approval.

[2016-03-03 18:13] my-le commented on #97
Inspired from Advocacy Fellows Page (https://advocacy.mozilla.org/open-web-fellows/): a secondary menu would allow to lighten and split content in different pages
For current Projects wireframes: Projects / About / FAQ.
Feel free to comment on Red Pen: https://redpen.io/p/kwe0b1b8415da9f6f4
And below are the previews.

[2016-03-03 18:13] kristinashu commented on #91
Most of the results are in! All the responses are here https://docs.google.com/a/mozilla.com/document/d/1oveyDCRLWtyXBSkLyrJGtMzRkAw6req2n5ARSO5d-gI/edit?usp=sharing and in a chart here https://docs.google.com/a/mozilla.com/spreadsheets/d/1lAqFGWEOrqA1VJwc8ihNmzV-iEINeM9Oe-NuVkXvub0/edit?usp=sharing

Today I will be summarizing these findings.

[2016-03-03 18:13] acabunoc commented on #97
From the longer [design brief](https://docs.google.com/document/d/1Z2jNumwfLM0d4cgpeF5-N-mEwiGmcWYo4NXHIUIXr7w/edit#)

### Collaborate redesign - [mozillascience.org/collaborate](https://mozillascience.org/collaborate)
#### problem
Collaborate (mozillascience.org/collaborate) was launched as a collection of open source projects for science. We’ve found uptake in contributorship slow since most of

[2016-03-03 18:15] kristinashu commented on #92
@cassiemc there is a ticket with the Phase 1 testing details https://github.com/mozillascience/site/issues/91

[2016-03-03 18:15] my-le commented on #97
Projects Page – Projects Part:

![01-msl-projects-wireframe-projects](https://cloud.githubusercontent.com/assets/10426601/13504330/479fe2c6-e174-11e5-8041-bf4e496bb50f.jpg)

[2016-03-03 18:16] my-le commented on #97
Projects Page – About Part:

![02-msl-projects-wireframe-about](https://cloud.githubusercontent.com/assets/10426601/13504350/6835a8a4-e174-11e5-86ce-22a58b0804c5.jpg)

[2016-03-03 18:16] kristinashu commented on #95
@cassiemc here is the most recent version https://redpen.io/xc4c6fca695501df65

[2016-03-03 18:17] my-le commented on #97
Projects Page – FAQ Part Option A:

![03-msl-projects-wireframe-faq-a](https://cloud.githubusercontent.com/assets/10426601/13504383/800432ac-e174-11e5-9291-486cb45cd8c7.jpg)

[2016-03-03 18:17] my-le commented on #97
Projects Page – FAQ Part Option B

![03-msl-projects-wireframe-faq-b](https://cloud.githubusercontent.com/assets/10426601/13504394/97a279fa-e174-11e5-92cd-1377bf73d7e3.jpg)
:

[2016-03-03 19:41] my-le commented on #93
Based on Advocacy Fellows Page.
01) Overview Part:

![msl-fellowship-wireframe-lyt02-p01](https://cloud.githubusercontent.com/assets/10426601/13506854/441b7bb8-e180-11e5-87e4-fff174395f0d.jpg)

[2016-03-03 19:42] my-le commented on #93
02) Info Part:

![msl-fellowship-wireframe-lyt02-p02](https://cloud.githubusercontent.com/assets/10426601/13506877/5f4c0998-e180-11e5-8c2e-1c24c52be0a5.jpg)

[2016-03-03 19:42] my-le commented on #93
03) Fellows Part Option A

![msl-fellowship-wireframe-lyt02-p03](https://cloud.githubusercontent.com/assets/10426601/13506887/728b6cc4-e180-11e5-9eb8-b562d7c90966.jpg)

[2016-03-03 19:43] my-le commented on #93
03) Fellows Part Option B

![msl-fellowship-wireframe-lyt02-p04](https://cloud.githubusercontent.com/assets/10426601/13506899/85007278-e180-11e5-9404-8df98605769c.jpg)

[2016-03-03 19:52] cassiemc commented on #93
@my-le Thanks for this! What are the latest redpen links? (If you could list the url's / link directly to each redpen intended for review that would be super helpful!)

[2016-03-03 20:00] kristinashu commented on #91
Here's a summary of the findings along with a few questions, would love to hear your thoughts @kaythaney @acabunoc @auremoser @stephwright @zee-moz @cassiemc
https://docs.google.com/a/mozilla.com/document/d/1oveyDCRLWtyXBSkLyrJGtMzRkAw6req2n5ARSO5d-gI/edit?usp=sharing
Thanks!

[2016-03-03 20:01] my-le commented on #93
@cassiemc You're right, sorry :D

[2016-03-03 21:51] kaythaney commented on #91
thanks! comments added.

On Thu, Mar 3, 2016 at 3:00 PM, Kristina <notifications@github.com> wrote:

--
@kaythaney <http://twitter.com/kaythaney/>
@MozillaScience <http://twitter.com/mozillascience>

[2016-03-03 22:03] hannahkane commented on #95
Blocked on final content and IA

[2016-03-03 22:14] hannahkane commented on #91
I think we can close this ticket, since Phase 1 has been completed. Learnings will inform final decisions on IA and copywriting.

If we want to solicit more input from users (as described in the original plan), we can open a new ticket.

[2016-03-03 22:14] #91 closed

[2016-03-03 22:14] hannahkane commented on #90
Unblocked! We should now have access.

[2016-03-03 22:53] cassiemc commented on #86
We've done some cleanup in the doc but I think the finalization or near-finalization of home page content should wait for the IA results, which we should hear back on soon. Then we can use the content doc to help reinforce those themes and decisions.

[2016-03-03 23:17] kristinashu commented on #92
I've updated the IA to better reflect our user research. There are two IA directions. Each version has a short intro with the main level menu items followed by a more details IA.

You can download the PDF https://drive.google.com/a/mozilla.com/file/d/0B2irLVDJivhLTEs2NUFTdDA5ZGs/view?usp=sharing or look on Redpen for easier commenting https://redpen.io/p/je92d9783cd2855569

Although section nomenc

[2016-03-03 23:21] hannahkane commented on #92
Thanks, @kristinashu. Just sent a calendar invite for tomorrow. Hoping we can meet to make a final decision.

[2016-03-03 23:26] kristinashu opened #98 "Add design files to drive"
@my-le since it will be your last day tomorrow :( please add all of your working files here https://drive.google.com/a/mozilla.com/folderview?id=0B2irLVDJivhLZHhMbWd5T1J3SFE&usp=sharing

[2016-03-03 23:40] kaythaney commented on #86
thanks, cassie. i also added some "open science" primer language, that i'd
love your thoughts on.

On Thu, Mar 3, 2016 at 5:53 PM, Cassie McDaniel <notifications@github.com>
wrote:

--
@kaythaney <http://twitter.com/kaythaney/>
@MozillaScience <http://twitter.com/mozillascience>

[2016-03-04 16:30] my-le commented on #94
1st iteration on Red Pen: https://redpen.io/xd85ac9218cc209f47

![04-msl-blog-wireframe-lyt01-p01](https://cloud.githubusercontent.com/assets/10426601/13533017/c8516c5e-e22e-11e5-981b-ff5571f6f398.jpg)

[2016-03-04 16:34] my-le commented on #94
2nd iteration with comments on Red Pen: https://redpen.io/zwe162ac4d04a91697

![04-msl-blog-wireframe-lyt01-p02](https://cloud.githubusercontent.com/assets/10426601/13533124/45119098-e22f-11e5-9ca2-3b30c1c27a49.jpg)

[2016-03-04 18:30] my-le commented on #95
Last iteration for Home Page on Red Pen: https://redpen.io/bg9672bcf28b51ac0c

![msl-home-wireframe-lyt01-p06](https://cloud.githubusercontent.com/assets/10426601/13536325/876c3258-e23f-11e5-8a32-888464764f84.jpg)

[2016-03-04 19:00] my-le commented on #98
Done : )

[2016-03-04 19:13] kristinashu commented on #98
Thank you thank you @my-le!

[2016-03-04 19:13] #98 closed

[2016-03-04 21:08] kristinashu commented on #90
Here's an overview of the analytics https://drive.google.com/a/mozilla.com/file/d/0B2irLVDJivhLR2ZBSEcxTTM1VVU/view?usp=sharing

cc @hannahkane @kaythaney @acabunoc @auremoser @stephwright @zee-moz @cassiemc

[2016-03-04 22:44] kristinashu commented on #92
Thanks everyone for the feedback today. Here is the updated version: https://redpen.io/uk017bb24968e69f1b
I've added Resources as a main level menu item and shortened the other headings to "Projects" and "Blog".

[2016-03-04 22:45] #90 closed

[2016-03-04 22:54] hannahkane commented on #83
Closing given IA decisions so far. Can re-open if About page becomes a necessity.

[2016-03-04 22:54] #83 closed

[2016-03-04 22:54] kristinashu commented on #92
Closing this ticket but please feel free to leave feedback in the redpen

[2016-03-04 22:54] #92 closed

[2016-03-04 22:55] hannahkane commented on #82
Closing per IA decisions

[2016-03-04 22:55] #82 closed

[2016-03-07 21:09] hannahkane commented on #86
Thanks to @cassiemc and @kaythaney for the updates. If you check out the [doc](https://docs.google.com/document/d/1k2Ds-iw4B_Sh5ae1areW1qfuLPtSqmgohtXYBkOi7r4/edit#heading=h.sr1d8andeat3) now, you'll see a final suggestion for the homepage content. It includes: a tagline, a short section for "About MSL," a short blurb on "What is Open Science?," and very brief descriptions of our programmatic offe

[2016-03-07 21:20] kristinashu commented on #86
The amount of copy looks good to me.

[2016-03-07 23:36] kaythaney commented on #86
Thumbs up on this end. Thanks, all!

On Mon, Mar 7, 2016 at 4:20 PM, Kristina <notifications@github.com> wrote:

--
@kaythaney <http://twitter.com/kaythaney/>
@MozillaScience <http://twitter.com/mozillascience>

[2016-03-07 23:37] hannahkane commented on #86
Sweet. I'm going to close this ticket! Thanks, everyone!

[2016-03-07 23:37] #86 closed

[2016-03-07 23:38] hannahkane commented on #95
Final content is [here](https://docs.google.com/document/d/1k2Ds-iw4B_Sh5ae1areW1qfuLPtSqmgohtXYBkOi7r4/edit#heading=h.sr1d8andeat3).

Final IA also selected.

No longer blocked!

[2016-03-09 00:19] kristinashu commented on #95
Here are two slightly different versions of the home page wireframes https://redpen.io/p/vee57da2ed47dfc6a4

[2016-03-09 18:33] kristinashu commented on #95
I've made a few updates to the home page wireframes: https://redpen.io/p/vee57da2ed47dfc6a4

Option 3 (https://redpen.io/yzb9bb323c70144dab) is based on the initial feedback on Options 1 and 2.

cc @hannahkane @kaythaney @acabunoc @auremoser @stephwright @zee-moz @cassiemc

[2016-03-09 19:31] kristinashu opened #99 "Determine URLs"
Based on the IA, I'm proposing the following URLs https://redpen.io/gpdfe4cfad5fac095e

cc @cassiemc @hannahkane

[2016-03-09 20:06] hannahkane commented on #99
wfm!

[2016-03-10 21:14] kristinashu commented on #95
I think we're getting very close to finalizing this https://redpen.io/xh59fdf36751be7ae1

Just a few minor outstanding items:
- can everyone review the intro copy and please add suggestions? It needs to be concise but still properly reflect both what MSL is and what open science is
- there was a comment a little while ago on whether or not we're going to continue to use the [forum](https://forum.m

[2016-03-10 21:20] kristinashu commented on #94
Closing this ticket in light of the work happening in https://github.com/mozilla/wp-calypso/issues/20

[2016-03-10 21:20] #94 closed

[2016-03-10 21:25] kristinashu opened #100 "Wireframes for Programs and Events page(s)"
Based on IA https://redpen.io/p/je92d9783cd2855569

We need to determine if Events will fall under Programs or stand on its own.

We can also reference fellowship wireframes https://github.com/mozillascience/site/issues/93

[2016-03-10 21:26] kristinashu commented on #93
Closing this one since Fellowships with fall under the Programs page https://github.com/mozillascience/site/issues/100

[2016-03-10 21:26] #93 closed

[2016-03-10 22:44] hannahkane commented on #93
@kristinashu - fine to close for now, but just want to check my understanding. The individual programs will still have their own pages, right? Accessible via the Programs Landing page and the pulldown menu in the nav?

[2016-03-10 22:47] hannahkane commented on #100
Will add some notes from our call this morning:
- main goal of page is for visitors to understand the nature of each program—what it is, what involvement looks like
- page should be scalable as new programs may be added (e.g. Workshops, Cohort, Minigrants, etc.)
- the content in the "Our Programs" section of the [copy doc](https://docs.google.com/document/d/1k2Ds-iw4B_Sh5ae1areW1qfuLPtSqmgohtXYBkO

[2016-03-10 23:05] hannahkane opened #101 "Homepage comps"
Let's take the wireframes and final copy we've (nearly!) agreed upon, and create comps. @kristinashu - feel free to fill this in more (or separate out the iconography/photo-finding tasks into separate tickets), but I think this includes:
- [ ] applying Mozmaker styles
- [ ] iconography for the equation at the top
- [ ] finding appropriate images for each section
- [ ] any additional design element

[2016-03-10 23:06] kristinashu commented on #93
Yes that's right. It will be multiple pages but I'd like to look at it as a whole so I think one ticket will be good, even though it will be one meaty ticket.

[2016-03-11 04:37] kaythaney commented on #95
thanks!

re: discourse - we have a number of resources there (dusty ones, but there
nevertheless). @acabunoc - if we do away with discourse (which i'm not
against), where would those be migrated to?

On Thu, Mar 10, 2016 at 1:14 PM, Kristina <notifications@github.com> wrote:

--
@kaythaney <http://twitter.com/kaythaney/>
@MozillaScience <http://twitter.com/mozillascience>

[2016-03-11 16:39] acabunoc commented on #95
I hadn't thought about migration.

We could try to migrate them to github issues, but I'm not convinced it's the best plan.

[2016-03-11 16:42] kaythaney commented on #95
blog posts as resources? or separate resources, where appropriate? at the
very least, we should assess what should be archived if we discontinue.

On Fri, Mar 11, 2016 at 8:39 AM, Abigail Cabunoc Mayes <
notifications@github.com> wrote:

--
@kaythaney <http://twitter.com/kaythaney/>
@MozillaScience <http://twitter.com/mozillascience>

[2016-03-11 22:20] #37 closed

[2016-03-11 22:35] acabunoc commented on #37
Finally fixed on on forum on blog! Thanks to the ssl on our wp instance

[2016-03-14 17:18] kristinashu commented on #80
Here are some slides exploring style for the site https://drive.google.com/a/mozilla.com/file/d/0B2irLVDJivhLUlVjQkJpcWFDSjA/view?usp=sharing
@cassiemc maybe we can discuss? I'm having trouble exploring two different directions while staying on brand.

[2016-03-15 22:45] kristinashu opened #102 "Determine which pages will be on our CMS"
Here are some high level wireframes for each page to help determine which ones are CMS candidates:
https://invis.io/7T6HVRIB5
Click on the purple IA boxes to see the wireframe for that page. Click anywhere on the wireframe to go back to the IA.

cc @hannahkane

[2016-03-15 23:15] kristinashu commented on #95
Closing this ticket. If we want to remove the forum, we can open a new ticket to sort out migration of the content.

[2016-03-15 23:15] #95 closed

[2016-03-15 23:19] kristinashu commented on #99
Here are the proposed URLs https://redpen.io/gpdfe4cfad5fac095e

Some edits might be made if the IA changes but I just want to make sure everyone is good with the overall structure. Mainly, moving to science.mozilla.org

cc @kaythaney @acabunoc @auremoser @stephwright @zee-moz @cassiemc

[2016-03-15 23:21] #80 closed

[2016-03-15 23:54] hannahkane commented on #102
Thanks, @kristinashu. I went through and took a first pass at which pages would be CMS-appropriate. Will need feedback from others (flagged in the related [/plan ticket](https://github.com/MozillaFoundation/plan/issues/763)).

[2016-03-17 17:31] kristinashu commented on #99
We discussed this at our stand this morning and we are good with the general structure of the URLs.

[2016-03-17 17:31] #99 closed

[2016-03-21 18:12] acabunoc commented on #102
I talked to @alicoding about some technical implementation details on CMS that helped me think about how we can use the CMS for science. I left a few comments.

Two areas I don't *think* we'll be able to store data in the CMS. OR we'll need a way to write to the CMS database from the node side of the app.

1. Users
  * With the github login, user profiles are based on their github login
2. Project

[2016-03-21 22:04] kristinashu commented on #101
Here's the comp: https://redpen.io/hze34bdcf69992b631

We've kept the site colorful and inviting while still looking professional and slick. To play off the logo, we've worked in overlapping elements like the overlapping content blocks and also the little logo element line pieces.

Some of the interactions I'm thinking are that the top nav bar would stick to the top of the page so the nav is alway

[2016-03-21 22:27] hannahkane opened #103 "Convey benefits of membership"
Just noticing that it's not immediately clear from the homepage, for example, why someone should "join" MSL (as opposed to just browsing the site, using the resources, finding a Study Group, etc.)

Can @acabunoc @kaythaney @zee-moz @stephwright @auremoser weigh in on the rationale for joining? Wondering if a brief "Why join?" page/lightbox would be useful?

[2016-03-21 22:30] hannahkane commented on #103
Might also discuss how the experience might change for authenticated users. Are there any changes on the current site, @acabunoc ?

[2016-03-21 23:17] hannahkane commented on #101
Beautiful work, @kristinashu. I added some comments from a product perspective. Assuming this will get reviewed at design crit on Wednesday - true?

[2016-03-21 23:20] kristinashu commented on #101
Thanks @hannahkane. Yes, I will share at crit, although Cassie and Ricardo have already seen.

[2016-03-22 02:03] auremoser commented on #103
Yeah, the "why join" modal seems to make sense. I believe they joined to login and participate in blog posts, get listed as participants in events, and (now) edit and add their own events though I'm not sure anyone does this.

[2016-03-22 14:46] hannahkane commented on #101
flagging for @acabunoc @kaythaney @auremoser @zee-moz @stephwright to take a look and leave comments, too

[2016-03-22 20:19] kristinashu commented on #102
Commenting in Invision is driving me crazy so I've upload the wireframes to redpen instead https://redpen.io/p/eb9d7534bcf4dfcc17

[2016-03-23 17:40] kristinashu opened #104 "List of resources"
Compile a list of all the resources we want on the site and where on the site we want them to appear. I've set up a table to work off of but feel free to adapt it:
https://docs.google.com/a/mozilla.com/spreadsheets/d/1aQhmnDO4zYt24sD8ItYeesbAn2TUiHzKyllSkzs4VN0/edit?usp=sharing

These wireframes are a work in progress but we can reference them as a starting point: https://redpen.io/p/eb9d7534bcf4d

[2016-03-24 00:05] hannahkane commented on #102
I think we can close this, based on our meeting on Tuesday. Notes for posterity: https://public.etherpad-mozilla.org/p/sciencesiteapproach

[2016-03-24 00:05] #102 closed

[2016-03-24 16:37] kristinashu commented on #101
I've updated the comp with feedback from both the design team and science team: https://redpen.io/hze34bdcf69992b631

[2016-03-24 19:50] kristinashu commented on #100
Wireframes for all the pages are here https://redpen.io/p/eb9d7534bcf4dfcc17

Some of them are fairly high level but it's good to see all the pages together to make sure we're not missing any major sections. This will also be helpful to reference while writing copy for the rest of the pages.

In this ticket we're focusing on all the Program pages (Events, Study Groups and Fellowships) but please f

[2016-03-24 19:51] kristinashu commented on #101
Closing but please feel free to add comments in redpen.

[2016-03-24 19:51] #101 closed

[2016-03-24 21:28] kristinashu commented on #104
Sounds like @auremoser is working on this?

[2016-03-24 21:42] auremoser commented on #104
Sure, I can give the more broad resources catalog a shot!

[2016-03-24 21:51] kristinashu opened #105 "Copy for Projects page"
We need to find a concise way to introduce what the Projects section is all about - what is it for, who is it for, why it is good... And then we can link to the resources about working in the open, github...
Please add any other thoughts.

Here is a high level wireframe of the page: https://redpen.io/jc2e62ed8f6f3f6ef5

We can add to the home page copy deck https://docs.google.com/document/d/1k2Ds

[2016-03-25 18:43] hannahkane opened #106 "Comps for Events pages"

[2016-03-25 18:43] hannahkane opened #107 "Comps for Projects page"

[2016-03-25 18:44] hannahkane commented on #105
Thanks for filing this ticket, @kristinashu.

@kaythaney - are you able to take this task on? Or would it be helpful for me or someone else to do a first draft for you to respond to?

[2016-03-25 18:58] kaythaney commented on #105
happy to help, but would love for @acabunoc's input on this.

On Fri, Mar 25, 2016 at 2:44 PM, hannahkane <notifications@github.com>
wrote:

--
@kaythaney <http://twitter.com/kaythaney/>
@MozillaScience <http://twitter.com/mozillascience>

[2016-03-28 14:30] acabunoc commented on #105
I can take a first pass at this!

[2016-03-28 22:08] kristinashu commented on #100
Closing this ticket. Wireframes have been updated based on feedback and cover all the functionality. We can get into more of the details at the design stage.

[2016-03-28 22:08] #100 closed

[2016-03-29 17:24] kristinashu commented on #97
I've added a little more detail to the project page wireframes and would love everyone's feedback: https://redpen.io/jc2e62ed8f6f3f6ef5

I've put in some rough copy sections but it would be helpful to get a better idea of how much copy you think we will have.

cc @hannahkane @xmatthewx @acabunoc @kaythaney @auremoser @zee-moz @stephwright

[2016-03-29 17:48] hannahkane commented on #105
Thanks, @acabunoc! Do you have a sense of when in the heartbeat you'll get to this?

Wondering if it's possible to get @kristinashu a high-level overview of the copy early in the heartbeat, even if it's just to signal whether you think something will significantly impact the page layout - e.g. "there will actually be a short paragraph introducing the Contribute to a Project section" or something l

[2016-03-29 19:43] kristinashu commented on #97
Please add any copy suggestions to the doc https://docs.google.com/a/mozilla.com/document/d/1k2Ds-iw4B_Sh5ae1areW1qfuLPtSqmgohtXYBkOi7r4/edit?usp=sharing

[2016-03-30 01:58] acabunoc commented on #105
I've blocked off part of tomorrow afternoon for this - I can probably think about page layout earlier

[2016-04-01 16:28] gvn opened #108 "README needs more explanation..."
A few points could use tweaking or explanation:

1. Step 4 indicates setting a PORT, but there's no placeholder for this value in `env.dist`. It also seems to just default to 5000, so no editing should be necessary.
2. It looks like MongoDB requires setup, but there are no instructions.
3. There are empty AWS values, but again I'm not sure if these are needed.
4. The specific permissions granted f

[2016-04-01 16:36] acabunoc commented on #108
Thanks @gvn! Happy for a PR, but I think the plan for the new site is to start from scratch since we're separating out the API.

[2016-04-01 16:42] acabunoc commented on #108
To answer the individual points:

1. yes, that's a good point
2. true
3. we use s3 to store photos users upload with their projects on /collaborate
4. That's a good idea, there is a scope associated with the GitHub authentication (https://github.com/mozillascience/site/blob/master/app.js#L332) once they log in

[2016-04-01 16:56] gvn commented on #108
Oh! Well disregard if we're starting fresh! :+1:

[2016-04-01 22:42] hannahkane opened #109 "Sketch out engineering work and map to upcoming heartbeats"
Would like to create a more specific plan for how we're going to complete the engineering work in the remaining heartbeats before our deadline.

Ideally, we'll identify the "must haves for release" and complete those items first.

cc @acabunoc @alicoding @gideonthomas @gvn @simonwex - let's discuss at stand on Monday

[2016-04-04 15:12] kristinashu commented on #105
Thanks @acabunoc!

Here's a wireframe to show how the copy is looking: https://redpen.io/jc2e62ed8f6f3f6ef5

Could everyone please take a look at the [copy doc](https://docs.google.com/document/d/1k2Ds-iw4B_Sh5ae1areW1qfuLPtSqmgohtXYBkOi7r4/edit#heading=h.xm1qmbkhves4) and me know if they think a particular tagline or intro is working better than another?

We also still need copy for the intro to

[2016-04-04 15:24] kristinashu opened #110 "Form fields for submitting and adding a project"
The current submission form is very long (especially if someone doesn't even know if their project will go on the site or not).

![screenshot-www mozillascience org 2016-03-30 14-11-47](https://cloud.githubusercontent.com/assets/1068783/14252668/383c3ff0-fa3d-11e5-8a4f-316b6e6c1eb3.png)

I'm wondering if we can split up the form into two separate ones:
- part 1: initial submission to see if the pr

[2016-04-04 15:35] kristinashu opened #111 "Mobile comps"
Mock up the home page and a secondary page to give a better idea of how the site will look on mobile. Particularly the menu and sub menu.

[2016-04-04 18:57] hannahkane commented on #110
I like the simplifications you've made already, and I realize this question is mostly for the Science team to answer, since they'll know what information is critical for evaluating a project.

I imagine most of the fields are quite easy to answer, but perhaps we could reduce the number of textarea questions from three to two by combining "Short description" and "How does this benefit the scientifi

[2016-04-04 19:18] hannahkane commented on #109
Discussed today, and agreed a first step could be an asynchronous conversation about what the "must haves" for release are. We could do that here, or perhaps by annotating the [wireframes](https://redpen.io/p/eb9d7534bcf4dfcc17)

@acabunoc - are you able to do an initial round of identifying what we can't live without at launch vs what can be shipped in the heartbeats immediately following the end

[2016-04-04 19:35] hannahkane commented on #109
Once we've identified all the Must Haves, we can enter them into a tool like planningpoker.com and play a game (hopefully early next week). Data from that can be used to further inform the Must Have list + help us map tickets to heartbeats.

[2016-04-04 20:35] hannahkane commented on #106
Moving this out of the current heartbeat

[2016-04-05 20:02] hannahkane commented on #105
Thanks, @kristinashu. I added some [copy suggestions](https://docs.google.com/document/d/1k2Ds-iw4B_Sh5ae1areW1qfuLPtSqmgohtXYBkOi7r4/edit#heading=h.spcspaqt4ij0) for the three bits (what is open source? how to get started? how it helps science?

But will definitely need refining from Science team, who may not be able to get to this this week, given their work week.

[2016-04-08 18:20] gvn opened #112 "Migrate build from gvn"
https://github.com/gvn/science.mozilla.org

- [x] Delete any unnecessary branches.
- [x] Rename current `master` branch to `mozillascience.org` in case we need to do any hotfixes

[2016-04-08 18:20] gvn commented on #112
CC @acabunoc

[2016-04-08 18:23] alicoding opened #113 "Update our API server with new directory structure"
We're going to have a quick meeting with @jaredkerim to understand what's the best way to structure out directory, so that we can start write codes when using DRF as a module for our API.

[2016-04-08 18:24] alicoding commented on #113
Our current repo for the API server lives here https://github.com/mozilla/api.mozillascience.org

[2016-04-08 18:26] alanmoo opened #114 "Build front end for projects and pages functionality"
https://redpen.io/p/eb9d7534bcf4dfcc17 3.0 and 3.1 content. Includes search/sort/filter

[2016-04-08 18:28] gvn opened #115 "Build front end for Homepage"
Redpen: https://redpen.io/jv7dd38e552814c20a

- [x] #151
- [x] #152
- [x] #153
- [x] #154
- [x] #155

[2016-04-08 18:29] gideonthomas opened #116 "Projects API"
We should add some RPC routes to support search/sort/filter options for projects on the API and expose those routes to the front-end.

[2016-04-08 18:30] kristinashu opened #117 "Comps for all event pages"
Wireframes: https://redpen.io/p/eb9d7534bcf4dfcc17
Without search/sort/filter functionality.

[2016-04-08 18:31] kristinashu opened #118 "Comps for fellowship pages"
Based on wireframes: https://redpen.io/p/eb9d7534bcf4dfcc17

[2016-04-08 18:32] gideonthomas commented on #116
Will link the relevant tickets from the api repo as soon as they are filed.

[2016-04-08 18:32] hannahkane opened #119 "Comps for Blog"
- [x] Individual page
 - [x] List view of all blogs

Use Onesie! This should be generic enough to apply to other blogs.

**Individual Post**
Each post, no matter what site it lives on, will have...
* Title
* Date and time published & updated
* Author (and link to posts by that author)
* Full text
* List of tags (each linked to related articles)
* List of categories that it belongs to (each linked

[2016-04-08 18:34] alanmoo opened #120 "Build front end for Events pages and functionality"
Styling of the three main tabs
 https://redpen.io/vhc355394a8e93c08b (all 1.1 content) (without search/sort/filter)

[2016-04-08 18:34] gvn opened #121 "Build Fellowships pages"
Redpen: https://redpen.io/p/eb9d7534bcf4dfcc17

[2016-04-08 18:34] alicoding opened #122 "Implement API endpoint to return all Events data"
We'll need an endpoint to return `Events` data for the science site.

[2016-04-08 18:34] kristinashu opened #123 "Blog wireframes"

[2016-04-08 18:35] alanmoo opened #124 "Build front end for Study Group pages"
1.2 pages https://redpen.io/ow3163da6caa22acde

- [x] #314
- [x] #315

[2016-04-08 18:36] kristinashu commented on #123
Duplicate https://github.com/mozilla/science.mozilla.org/issues/119

[2016-04-08 18:36] #123 closed

[2016-04-08 18:37] gvn opened #125 "Build Blog"
P1

- [x] Post list
- [x] Post detail

P2

- [x] Pagination for list view
- [ ] Comments (Disqus) **Blocked**
- [ ] Pagination for detail view **Blocked by WP API missing data**

P3

- [ ] Post list: Search
- [ ] Search results view
- [ ] Post list : Filter results

**API:** http://wp.mozillascience.org/wp-json

**Current Node implementation:** https://github.com/mozilla/science.mozilla.org/blob/m

[2016-04-08 18:38] kristinashu opened #126 "Comps for Resources page"
Based on wireframes: https://redpen.io/p/eb9d7534bcf4dfcc17

[2016-04-08 18:39] kristinashu opened #127 "Comps for Study Groups pages"
Based on wireframes: https://redpen.io/p/eb9d7534bcf4dfcc17

[2016-04-08 18:39] kristinashu opened #128 "Comps for Members pages"
Based on wireframes: https://redpen.io/p/eb9d7534bcf4dfcc17

[2016-04-08 18:40] gvn opened #129 "Set up staging"
Set up a staging server for this build...

[2016-04-08 18:40] kristinashu opened #130 "Comp for Code of Conduct page"
Based on wireframes: https://redpen.io/p/eb9d7534bcf4dfcc17

[2016-04-08 18:43] alicoding opened #131 "Migrate data from the current live site to our new one"
This ticket should be for us to figure it out and document this first, but the implementation will happen in the next heartbeat.

https://github.com/mozilla/api.mozillascience.org/issues/4

[2016-04-08 18:43] kristinashu opened #132 "Comps for blog"
Based on wireframes in https://github.com/mozilla/science.mozilla.org/issues/130

[2016-04-08 18:45] simonwex commented on #131
This includes, but is not limited to:

 - [ ] Membership data

[2016-04-08 18:46] gvn commented on #112
Also, delete any unnecessary branches.

[2016-04-08 18:46] alicoding opened #133 "Migrate data from the current database to our new API server"
This is the implementation ticket.

[2016-04-08 18:47] alanmoo opened #134 "Build members pages"
https://redpen.io/pq5fb24849ad3b7634 (6.0, 6.1)

Assume data will be there by the time this needs to be built

- [ ] #311 Home page
- [ ] #312 Member profile

[2016-04-08 18:48] acabunoc opened #135 "Authentication - github login on front-end server"
Can probably use a lot from the existing site

[2016-04-08 18:52] gideonthomas opened #136 "Allow fetching user/member info from the API"
Get all users

[2016-04-08 18:53] gideonthomas opened #137 "Add authentication support for the API"
Figure out which routes need authn/authz and implement the necessary pieces that make this possible.

[2016-04-08 18:53] #109 closed

[2016-04-08 18:54] #97 closed

[2016-04-08 18:54] acabunoc commented on #104
@auremoser is working on this!

[2016-04-10 16:44] kristinashu opened #139 "Design files for dev"
@gvn @alanmoo still working on all of these but here are the most recent files:

Redpen of wireframes and comps (replacing wireframes with comps as I do them):
https://redpen.io/p/eb9d7534bcf4dfcc17

URLs:
https://redpen.io/gpdfe4cfad5fac095e

Illustrator files (working file - will continue to update):
https://drive.google.com/a/mozilla.com/file/d/0B2irLVDJivhLQk50UDhVcGFkYVk/view?usp=sharing

Cop

[2016-04-11 19:47] gvn opened #140 "Build header"

[2016-04-11 19:47] gvn opened #141 "Build Hero component"

[2016-04-11 19:47] gvn opened #142 "Build 3 Up component"

[2016-04-11 19:49] gvn opened #143 "Build Footer"
- [x] #144
- [x] #145

[2016-04-11 19:50] gvn opened #144 "Build newsletter signup"

[2016-04-11 19:51] gvn opened #145 "Footer - Build social media & general links"

[2016-04-11 19:55] gvn opened #146 "Build Card component"
<img width="715" alt="screen shot 2016-04-11 at 12 54 55 pm" src="https://cloud.githubusercontent.com/assets/206379/14440434/a3951e46-ffe4-11e5-83fe-784a7dbc7579.png">

[2016-04-11 19:56] gvn opened #147 "Build form styles"
Style all the form elements in bootstrap (put in mofo-bootstrap).

eg: Everything in this : http://bootswatch.com/cerulean/#forms

[2016-04-11 19:58] gvn opened #148 "build Box with colored shadow (see homepage comp) component"
<img width="426" alt="screen shot 2016-04-11 at 12 57 45 pm" src="https://cloud.githubusercontent.com/assets/206379/14440527/0c5cfc32-ffe5-11e5-9ab4-58965038a684.png">

[2016-04-11 19:58] gvn opened #149 "Add parallax"

[2016-04-11 19:59] gvn opened #150 "Build breadcrumb"
<img width="195" alt="screen shot 2016-04-11 at 12 59 39 pm" src="https://cloud.githubusercontent.com/assets/206379/14440561/451de0a4-ffe5-11e5-815c-eb1da1e26306.png">

[2016-04-11 20:03] gvn opened #151 "Homepage - custom 3 up variant"

[2016-04-11 20:04] gvn opened #152 "Homepage - apply to be a fellow CTA"

[2016-04-11 20:04] gvn opened #153 "Homepage - Events & Study groups CTA block"

[2016-04-11 20:04] gvn opened #154 "Homepage - What's New"
- [x] build general layout

[2016-04-11 20:05] gvn opened #155 "Homepage - Sponsor block"

[2016-04-11 20:24] kristinashu commented on #119
@flukeout I think you started a blog template a little while ago? Would you be interested in doing the science blog, or just sharing the work you've done so far?

[2016-04-11 20:44] #112 closed

[2016-04-11 20:52] gvn commented on #139
Thanks!

[2016-04-11 20:56] alanmoo opened #156 "Projects main page intro section"
Using shared components

[2016-04-11 20:58] alanmoo opened #157 "Projects main page search styles"
Main body of projects page, markup and styles of the list of projects and the filtering UI

[2016-04-11 20:59] alanmoo opened #158 "Projects main page API integration"
Including searching/filtering

When searching and then opening a project link, navigating back to the main page should show the same search filters/results.

[2016-04-11 21:03] alanmoo opened #159 "Project details page main content"
Fetch from API(s) and render content

[2016-04-11 21:03] gvn commented on #139
Actually, @kristinashu looks like that AI is missing a bunch of assets:

eg:

<img width="496" alt="screen shot 2016-04-11 at 2 02 09 pm" src="https://cloud.githubusercontent.com/assets/206379/14442363/2322f724-ffee-11e5-9ec6-9774c964de13.png">

[2016-04-11 21:04] alanmoo opened #160 "Project details page "join the project" section"
Might be modified if we launch without github auth

[2016-04-11 21:05] alanmoo opened #161 ""Add project" page hero"

[2016-04-11 21:09] alanmoo opened #162 ""Add project" page form"
Main body of the page

[2016-04-11 21:10] alanmoo opened #163 ""Add project" page Githubrepo selection"
No longer a modal, may be delayed to later beat as Github auth is needed first.

[2016-04-11 21:10] alanmoo opened #164 "Thank you page"
After submitting project

[2016-04-11 21:11] alanmoo opened #165 "Project pages front end"
I may be doing this wrong
![wrong](https://cloud.githubusercontent.com/assets/1682681/14442646/ed0d1b40-0008-11e6-8867-7948e2b97282.gif)

(Zenhub is required to see more data attached to this, apparently...)

[2016-04-11 21:15] alanmoo commented on #165
I may be doing this wrong
![wrong](https://cloud.githubusercontent.com/assets/1682681/14442646/ed0d1b40-0008-11e6-8867-7948e2b97282.gif)

[2016-04-11 21:40] kristinashu commented on #139
@gvn I've embedded the images and made a few updates https://drive.google.com/a/mozilla.com/file/d/0B2irLVDJivhLWVlPNkt2NEpSMnc/view?usp=sharing

[2016-04-11 22:17] gvn opened #166 "Add autoprefixer"

[2016-04-11 22:26] mmhyamin commented on #154
Do you have any design?

[2016-04-11 22:38] gvn commented on #144
There is some follow up work here (eg: wire up the form and add validation). However, I'd like to get this landed and do anything else as follow up tickets because you'll need this patch to start work on the header.

If this looks good go ahead and merge it so you can start on the footer work...

[2016-04-11 22:45] gvn commented on #154
Hi @mmhyamin. We do have design, but this will be built by our internal team as it's time sensitive.

Stay tuned though, we should have tickets open for contributors in a month or so. Thanks!

[2016-04-11 23:07] kristinashu commented on #139
@gvn @alanmoo these are all the colors used on the site (with the exception of the "sprinkles"):
<img width="492" alt="screen shot 2016-04-11 at 3 54 00 pm" src="https://cloud.githubusercontent.com/assets/1068783/14444991/63951bd8-fffe-11e5-8072-5c07b1435fd3.png">
(illustrator is being annoying with colors and some how changing them slightly and randomly on me so I just want to make sure you get t

[2016-04-12 00:02] kristinashu commented on #107
These are all done https://redpen.io/p/eb9d7534bcf4dfcc17

[2016-04-12 00:02] #107 closed

[2016-04-12 00:14] kristinashu commented on #139
Sorry, it's a work in progress so illustrator file keeps getting updated. Here's the latest https://drive.google.com/a/mozilla.com/file/d/0B2irLVDJivhLU0tNODZneHIyWDQ/view?usp=sharing

[2016-04-12 13:02] alanmoo opened #169 "Set up Heroku pipeline"
It would be great if PR's could automatically generate a Heroku URL. I tried to set up a pipeline in Heroku (https://dashboard.heroku.com/pipelines/new) but I don't have admin access to this repo. @cadecairos do you?

https://github.com/integrations/heroku-review-apps

[2016-04-12 13:09] cadecairos commented on #169
I've [created a pipeline](https://dashboard.heroku.com/pipelines/07f01c87-8d30-4856-97e7-2cc584d0b4c4), but we need a fully configured staging app to inherit configuration from.

[2016-04-12 13:36] alanmoo commented on #169
Great, thanks. I’ll work on that, as I should have appropriate permissions.

[2016-04-12 16:37] #144 closed

[2016-04-12 17:03] acabunoc commented on #165
Both 'Add project' and 'Thank you page' can wait if time is tight since we're delaying authentication till after launch. (Both pages need auth)

[2016-04-12 17:22] kristinashu opened #170 "Comp for event landing page"
https://redpen.io/vhc355394a8e93c08b

[2016-04-12 17:23] kristinashu opened #171 "Comp for simple event page"
https://redpen.io/vxab11f78998c91e29

[2016-04-12 17:23] kristinashu opened #172 "Comp for complex event landing page"

[2016-04-12 17:23] kristinashu opened #173 "Comp for complex event schedule tab"
https://redpen.io/jv1badeb0e2587c638

[2016-04-12 17:23] kristinashu opened #174 "Comp for complex event project tab"
https://redpen.io/dy2a198e14b48f4772

[2016-04-12 17:23] kristinashu opened #175 "Comp for mobile versions"
Don't need to mock up all the pages for mobile, just portions as they are needed and time to give feedback to devs.

[2016-04-12 17:31] kristinashu opened #176 "Comps for fellowships landing page"
https://redpen.io/zj0bbba0e9cb967f38
show both states: during application time vs non application time

[2016-04-12 17:31] kristinashu opened #177 "Comps for fellowships financial terms tab"
https://redpen.io/vsa384a021f236a87f

[2016-04-12 17:32] kristinashu opened #178 "Comps for fellowships fellows tab"
https://redpen.io/tzf8aacaab713da92b

[2016-04-12 17:32] kristinashu opened #179 "Comps for fellowships mobile versions"

[2016-04-12 17:36] kristinashu opened #180 "Wireframes for blog landing page"

[2016-04-12 17:37] kristinashu opened #181 "Comps for blog details page"

[2016-04-12 17:37] #166 closed

[2016-04-12 18:56] gvn opened #182 "Add 404 page"

[2016-04-12 18:56] gvn commented on #182
Have we designed a 404 page @kristinashu ?

[2016-04-12 19:15] kristinashu commented on #182
Good one! 404 would be a good opportunity to streamline so I suggest we just teach's new 404 page https://github.com/mozilla/teach.mozilla.org/issues/1307

@mmmavis is the 404 page up? I don't see it on production?

[2016-04-12 19:23] gvn opened #184 "Wire up subscription in footer"

[2016-04-12 20:54] #184 closed

[2016-04-12 22:40] #145 closed

[2016-04-12 22:40] #143 closed

[2016-04-12 23:16] hannahkane commented on #114
Just to clarify - we are *not* aiming to do the "Sign in to join the project" part for launch, right? @acabunoc @kristinashu @simonwex

[2016-04-13 00:06] kristinashu commented on #114
I agree, we are not aiming to do the "Sign in to join the project" part for launch. Project details page would just be (https://redpen.io/pj5fe2e9cbbd51a880):
![04_projectdetailsnotsignedin 2x copy](https://cloud.githubusercontent.com/assets/1068783/14479006/57085f2a-00cf-11e6-97be-a494b9221e0f.jpg)

Not sure about the "Add your project" form. The button link will not appear on the site (at one ti

[2016-04-13 00:12] kristinashu commented on #170
Initial comp is done: https://redpen.io/aq0c17cb0774ab55bd

Suggesting we could do filter functionality and possibly even archive of events as a phase 2.

![04_events 2x](https://cloud.githubusercontent.com/assets/1068783/14479244/63f9d89c-00d1-11e6-91fd-3226f567bfc9.jpg)

[2016-04-13 00:16] kristinashu commented on #171
Initial comps:
Phase 1: https://redpen.io/upad1a641838872f52
![04_events-simple 2x](https://cloud.githubusercontent.com/assets/1068783/14479340/3c16af2a-00d2-11e6-8193-255cc04806d6.jpg)

Phase 2: with facilitators and participants https://redpen.io/vxab11f78998c91e29
![04_events-simple 2x](https://cloud.githubusercontent.com/assets/1068783/14479356/5986e872-00d2-11e6-9cbc-cc8e8c7d7e03.jpg)

[2016-04-13 00:35] gvn commented on #114
@hannahkane That's my understanding as well.

[2016-04-13 03:33] alanmoo commented on #139
@kristinashu Can you export the logo text and image as a single svg?

[2016-04-13 13:54] acabunoc commented on #114
I don't think the form is needed for launch - we should require auth on the form so we know the submitter.

I left a note in the redpen about "add your project" text -- with the 'hidden' link, some guidance on *how* projects get listed would be good. Currently they are either project that have gone through a Working Open Workshop, or featured projects participating in the global sprint or MozFest.

[2016-04-13 16:23] kristinashu commented on #139
@alanmoo unfortunately the logo has some crazy overlay effects and gradients that don't show up in the svg format. It's not ideal but would you want the entire thing as a png?

[2016-04-13 16:26] alanmoo commented on #139
Hrm...yeah, I'll take that at 2x for now and maybe we can look into the logo deeper in the future.

[2016-04-13 16:30] hannahkane commented on #114
Thanks for the reminder about the "Add your project" workflow. I'd forgotten. @kristinashu - will you add the copy that @acabunoc provided in the copy doc to the Phase 1 comp?

Flagging @gideonthomas and @alicoding regarding the lesser importance of Search and Sorting, especially since we'd estimated that Search would be more effort than Sorting and Filtering.

[2016-04-13 16:30] kristinashu commented on #139
Here it is: https://drive.google.com/a/mozilla.com/file/d/0B2irLVDJivhLd0loV0Jsc19zNlk/view?usp=sharing
![logo-mozillascience 2x](https://cloud.githubusercontent.com/assets/1068783/14501229/2e01e9b2-015a-11e6-9d60-201becffcb45.png)

Yeah, updating colors of the logo is a whole can of worms I'm not ready to get into!

[2016-04-13 17:15] hannahkane commented on #171
Looks great. Just noting that on similar pages on the Teach site, we've embedded the etherpad into the page itself (see https://teach.mozilla.org/community/curriculum-workshop). This was at the request of  program staff.

Is there a benefit to standardizing this one way or another?

[2016-04-13 17:35] hannahkane commented on #170
+1 to @kristinashu's suggestion to move filtering and archive to Phase 2, but checking with @acabunoc to see if that's acceptable.

[2016-04-13 17:36] acabunoc commented on #170
yes!

[2016-04-13 17:37] kristinashu commented on #170
Yes to holding off on filtering but in Redpen we talked about the need to keep archived events because they are often linked in.

[2016-04-13 21:01] kristinashu commented on #171
Thanks for pointing that out. I'm not totally sold on the embedded etherpad because I worry about it taking up a lot of space (and load time) on some of the longer/more complex event pages. Aligning with Teach would be great but I think focusing on aligning all the different science events is more important and the moment. But definitely good to keep in mind.

[2016-04-13 21:03] gideonthomas commented on #113
This is done!

[2016-04-13 21:03] #113 closed

[2016-04-13 21:05] kristinashu commented on #174
Very similar to [simple event landing page](https://github.com/mozilla/science.mozilla.org/issues/171) but with tabs https://redpen.io/ej544b4ac72b9f648f

An event could have two or three tabs depending on the type of event (ie. some will have projects)

As with the simple event landing page, phase 1 would not have the facilitator/participants section.

![jpgs_events-complex 2x](https://cloud.gith

[2016-04-13 21:07] gideonthomas opened #187 "Deploy API to Heroku"
Now that we've finished creating the basic scaffolding for the api, we should setup Travis CI and deploy to heroku.

[2016-04-13 21:08] kristinashu commented on #173
Comp for schedule https://redpen.io/jv1badeb0e2587c638

Schedule could be a phase 2 thing since it is currently not on the site (https://www.mozillascience.org/working-open-workshop-february-2016 links out to https://github.com/mozillascience/working-open-workshop/blob/gh-pages/wow-schedule.md)

![jpgs_events-complex 2x copy](https://cloud.githubusercontent.com/assets/1068783/14509409/f3f59f1c-018

[2016-04-13 21:08] kristinashu commented on #172
Very similar to [simple event landing page](https://github.com/mozilla/science.mozilla.org/issues/171) but with tabs https://redpen.io/ej544b4ac72b9f648f

An event could have two or three tabs depending on the type of event (ie. some will have projects)

As with the simple event landing page, phase 1 would not have the facilitator/participants section.

![jpgs_events-complex 2x](https://cloud.gith

[2016-04-13 21:11] gideonthomas opened #188 "API: Get all projects"
Get all projects from the database as JSON

[2016-04-13 21:16] gideonthomas opened #189 "API: Get all projects AND sort them"

[2016-04-13 21:21] kristinashu commented on #117
With the exception of mobile, initial comps are for all these pages are in redpen https://redpen.io/p/eb9d7534bcf4dfcc17

[2016-04-13 21:47] kristinashu commented on #119
This is linked to the audit work - Identify shared needs for blogs https://github.com/MozillaFoundation/plan/issues/687

[2016-04-13 22:31] hannahkane commented on #117
Looking really good!

[2016-04-13 22:38] hannahkane commented on #171
WFM.

Meta-comment about etherpads: I'm not sure that etherpad is a widely understood tool. Wondering if it would be useful to have a tooltip or something that explains what is it, why we use it, how to use it—something we could use throughout all Mofo properties. Feels like a teachable moment, but maybe I'm overthinking things. Definitely outside the scope of this issue. :)

[2016-04-14 16:26] gvn opened #191 "Upgrade React"
https://facebook.github.io/react/blog/2016/04/07/react-v15.html

[2016-04-14 16:55] #142 closed

[2016-04-14 16:56] alanmoo commented on #187
See also #169

[2016-04-14 17:03] alanmoo commented on #139
Can I also get the SVG for hamburger/close icons in the menu?

[2016-04-14 17:25] alanmoo commented on #139
Oh and the arrow next to "Programs"?

[2016-04-14 17:55] kristinashu commented on #139
Here's the burger and close svgs https://drive.google.com/a/mozilla.com/folderview?id=0B2irLVDJivhLSzRKcWZFVE5DR28&usp=sharing

The arrow is from font awesome https://fortawesome.github.io/Font-Awesome/cheatsheet/
fa-angle-down [&#xf107;]
fa-angle-up [&#xf106;]

[2016-04-14 18:10] gvn commented on #129
Created ticket in Devops:

https://github.com/MozillaFoundation/mofo-devops/issues/319

[2016-04-14 18:51] kristinashu commented on #175
Added mobile version to show how the tabs would look https://redpen.io/gb40d0b0b1f0644ab0

Tabs stay as text for as long as possible but once the text no longer fits then it turns into icons and the selected tab text shows up below the tab.

Also suggesting only the first 6 participants show up at first. Only once a user clicks the load more button will they all appear.

![04_mobile-events 2x](htt

[2016-04-14 19:06] gvn commented on #139
@kristinashu How much are you planning to use Font Awesome? Do you think you might use more than 5-10 glyphs from it?

[2016-04-14 19:39] kristinashu commented on #139
Actually, there probably won't be very many... here's an svg of the arrow https://drive.google.com/a/mozilla.com/file/d/0B2irLVDJivhLQkx4aENQbU1mTnM/view?usp=sharing

[2016-04-14 19:42] kristinashu commented on #117
Added a mobile example to redpen.

@xmatthewx and or @vazquez could I please get a design review on the event pages https://redpen.io/p/eb9d7534bcf4dfcc17

[2016-04-14 19:45] gvn commented on #139
Ok cool. We're not planning on including it so far because it's quite large if we're only using a few glyphs. We can grab SVGs from it a la carte though...

[2016-04-14 20:43] #151 closed

[2016-04-14 20:44] kristinashu commented on #117
Thanks for the feedback @xmatthewx and @vazquez!

I'll be making the updates now.

[2016-04-14 20:45] #170 closed

[2016-04-14 20:45] #172 closed

[2016-04-14 20:45] #174 closed

[2016-04-14 20:45] #171 closed

[2016-04-14 20:45] #173 closed

[2016-04-14 20:46] #175 closed

[2016-04-14 22:59] #105 closed

[2016-04-14 23:12] kristinashu opened #194 "Copy for fellowship pages"
I will updated copy for the fellowship pages (https://redpen.io/p/eb9d7534bcf4dfcc17). I've copied what is on the current site into the copy doc so please edit away https://docs.google.com/a/mozilla.com/document/d/1k2Ds-iw4B_Sh5ae1areW1qfuLPtSqmgohtXYBkOi7r4/edit?usp=sharing

One suggestion is to try and avoid having a FAQ page. FAQ pages generally have poor usability because the content has no hi

[2016-04-14 23:18] kristinashu commented on #117
Science team, please add any thoughts or feedback you might have https://redpen.io/p/eb9d7534bcf4dfcc17

Thanks! @acabunoc @kaythaney @auremoser @zee-moz @stephwright

[2016-04-15 18:29] gvn opened #198 "Design review: Footer"

[2016-04-15 18:30] alanmoo commented on #198
The centering/resizing of elements at mobile size should be reviewed by design

[2016-04-15 22:16] alicoding commented on #187
Done \o/

[2016-04-15 22:16] #187 closed

[2016-04-18 15:33] gideonthomas opened #202 "API: Get projects based on a search query"

[2016-04-18 15:34] gideonthomas opened #203 "API: Get projects based on a filter query"

[2016-04-18 17:13] alicoding opened #204 "Document how to work on the API locally and deployment flow"
It was painful for @gideonthomas and I to get started on the django project for the API, and we want to make sure anyone who's going to help us able to get started quickly.

We should document the process getting started develop locally and deploy to staging/production.

[2016-04-18 18:18] #140 closed

[2016-04-18 19:55] gvn commented on #140
![f9623bec7b5c45196af9d727ba2d874dd86c58ec](https://cloud.githubusercontent.com/assets/206379/14617856/c4a10f84-0564-11e6-9376-da56ed0ae564.gif)

[2016-04-18 20:24] gideonthomas opened #205 "Figure out a cross-compatible solution for run-scripts"
Right now, we use make files to run complex commands that, for e.g. setup the docker container, run migrations, etc.
For now, this is fine. But it isn't great for running complex commands (often multiple) and is not portable across platforms i.e. Windows.

We should try to figure out a cross-compatible solution for this (if there even is one) or figure out a strategy for getting it to work on mult

[2016-04-18 21:00] gvn commented on #205
I'm not sure if this is totally crazy, but could you have a Docker image that's sole purpose is running shell scripts?

I'm thinking something like a modified [Node image](https://hub.docker.com/_/node/) that can run external scripts and that has the build's folder as an externally mapped mount point so that it can manipulate the files within?

[2016-04-18 21:43] kristinashu commented on #178
Here's the initial comp: https://redpen.io/zj0bbba0e9cb967f38 but I will need copy to finalize https://docs.google.com/document/d/1k2Ds-iw4B_Sh5ae1areW1qfuLPtSqmgohtXYBkOi7r4/edit#

![04_fellowship-overview 2x](https://cloud.githubusercontent.com/assets/1068783/14620744/5528faf4-0573-11e6-8a5f-4315fa512345.jpg)

and a comp to show the changes when we are not accepting applications https://redpen.i

[2016-04-18 21:43] #178 closed

[2016-04-18 21:45] kristinashu commented on #177
Here's the initial comp: https://redpen.io/vsa384a021f236a87f

![04_fellowship-financial 2x](https://cloud.githubusercontent.com/assets/1068783/14620866/243ee768-0574-11e6-98ab-9d26341ecda5.jpg)

Will keep https://github.com/mozilla/science.mozilla.org/issues/118 open for feedback and minor updates.

[2016-04-18 21:45] #177 closed

[2016-04-18 21:46] kristinashu commented on #176
Here's the initial comp: https://redpen.io/zj0bbba0e9cb967f38 but I will need copy to finalize https://docs.google.com/document/d/1k2Ds-iw4B_Sh5ae1areW1qfuLPtSqmgohtXYBkOi7r4/edit#

![04_fellowship-overview 2x](https://cloud.githubusercontent.com/assets/1068783/14620744/5528faf4-0573-11e6-8a5f-4315fa512345.jpg)

and a comp to show the changes when we are not accepting applications https://redpen.i

[2016-04-18 21:46] #176 closed

[2016-04-18 21:58] hannahkane commented on #162
This is actually a phase 2 thing, as per https://docs.google.com/document/d/1SdyEca5EXwggJ8oZp9UstQ-tnHZ9_JiajW5K4WPGgdA/edit#

Removing from the milestone

[2016-04-18 21:59] hannahkane commented on #164
Phase 2 as per https://docs.google.com/document/d/1SdyEca5EXwggJ8oZp9UstQ-tnHZ9_JiajW5K4WPGgdA/edit#

[2016-04-18 22:00] kristinashu commented on #160
This is actually a phase 2 thing, as per https://docs.google.com/document/d/1SdyEca5EXwggJ8oZp9UstQ-tnHZ9_JiajW5K4WPGgdA/edit#

Removing from the milestone

[2016-04-18 22:01] kristinashu commented on #161
This is actually a phase 2 thing, as per https://docs.google.com/document/d/1SdyEca5EXwggJ8oZp9UstQ-tnHZ9_JiajW5K4WPGgdA/edit#

Removing from the milestone

[2016-04-18 22:01] kristinashu commented on #163
This is actually a phase 2 thing, as per https://docs.google.com/document/d/1SdyEca5EXwggJ8oZp9UstQ-tnHZ9_JiajW5K4WPGgdA/edit#

Removing from the milestone

[2016-04-18 22:05] hannahkane commented on #110
Moving this out of the April 8 milestone, since it's Phase 2

[2016-04-18 22:07] kristinashu commented on #110
Oh I think we can close this. We've reduced the number of questions and what they are https://redpen.io/dq01e5e243a5cd0634

[2016-04-18 22:07] #110 closed

[2016-04-18 22:34] alicoding commented on #205
I like the idea, but I think if we have to do that it might be easier and
better off just run the whole docker command than setting a bash docker
container don't you think?
On Apr 18, 2016 5:00 PM, "gavin lazar suntop" <notifications@github.com>
wrote:

[2016-04-18 22:39] kristinashu commented on #106
This is covered in https://github.com/mozilla/science.mozilla.org/issues/117

[2016-04-18 22:39] #106 closed

[2016-04-18 22:39] kristinashu commented on #111
Done https://redpen.io/p/eb9d7534bcf4dfcc17

[2016-04-18 22:39] #111 closed

[2016-04-18 22:43] kristinashu commented on #104
Thanks! Looks like a bunch of resources were added to the speadsheet. We can edit as we go but I have enough to get started.

[2016-04-18 22:43] #104 closed

[2016-04-18 22:55] hannahkane opened #207 "(Current site) Change homepage headline and tagline"
Headline: "Transforming Science"
Tagline: "Mozilla Science Lab is a community of researchers, developers, and librarians making research open and accessible. We're empowering open science leaders through fellowships, mentorship, and project-based learning."

[2016-04-18 23:02] hannahkane commented on #194
+1 to eliminating the FAQ and instead working those into the other tabs. Let me know if I can help by offering some suggestions for how to do that. (Happy to do that, though I'm likely not the best person since I don't know what program elements have changed since last year.)

[2016-04-18 23:03] hannahkane opened #208 "(Current site) Update https://mozillascience.org/fellows and promote on homepage"
I believe we want to promote the Fellowships program before the Global Sprint (June 2).

Can use same copy that's [being finalized](https://github.com/mozilla/science.mozilla.org/issues/194) for the non-contingency plan, but use a non-tabbed structure, as on the current production site.

Will need design support for promoting on the current site's homepage.

Might also want to temporarily add a Fe

[2016-04-18 23:17] gideonthomas commented on #205
An issue with this is that it will limit scripting abilities to only what is inside the docker containers. Often you will need to run a script that "generates code for you" or makes modifications to local code that will need to be committed. These won't be possible with a docker shell process since (I believe) volume mounting will listen for changes to the local fs and not the fs inside the docker

[2016-04-18 23:31] kristinashu commented on #208
Those updates sound right. I think Fellowship applications open at the end of May?

[2016-04-19 00:28] Pomax commented on #205
If I can make an even simpler suggestion: why do we need one script to rule them all? If the purpose of the script is to get the docker instance up and running, then why would be try and find a single solution when we simply have a `buildthisthing.sh` for unix/linus setups, as well as a `buildthisthing.bat` for windows, and call it a day?

[2016-04-19 15:08] #204 closed

[2016-04-19 15:11] gideonthomas opened #210 "API: [TEST] Get all projects"
Add tests for the route that gets all projects

[2016-04-19 16:56] #152 closed

[2016-04-19 17:20] hannahkane opened #212 "(Current site) Update Collaborate"
- [ ] update section name from Collaborate to Projects
 - [ ] update url + add a redirect
 - [ ] update all the intro copy to the new copy - https://redpen.io/jc2e62ed8f6f3f6ef5
 - [ ] remove the about page which is out of date https://www.mozillascience.org/collaborate/about

[2016-04-19 19:34] #156 closed

[2016-04-19 19:37] Pomax commented on #205
No, but in this case that seems unnecessary, as they're "write once, the end" scripts that we need. It doesn't feel like it's worth over-engineering a solution for a one-time task =)

[2016-04-19 21:24] hannahkane opened #219 "(Current site) Add Resources page"
- [ ] Perhaps just a list, grouped by category - title (linked) + description from https://docs.google.com/spreadsheets/d/1aQhmnDO4zYt24sD8ItYeesbAn2TUiHzKyllSkzs4VN0/edit#gid=0
 - [ ] Needs a bit of intro text
 - [ ] Add to top level nav

Thinking we don't need tags or "Add a resource" functionality

[2016-04-19 21:24] alanmoo commented on #157
Relevant for later https://github.com/twbs/bootstrap/commit/caa36b8dd723945a788b1dcb2c845ee05532155e

[2016-04-19 21:26] hannahkane opened #220 "(Current site) Add Study Groups page"
Study Groups page (thinking this would be all of the content on [this page](https://redpen.io/ow3163da6caa22acde) and [this page](https://redpen.io/de9fb9639192c1b4e9), but in a non-tabbed structure, and perhaps without the map) + add top level nav item for SGs

[2016-04-19 22:15] #153 closed

[2016-04-19 22:58] kristinashu commented on #180
Initial comps: https://redpen.io/ng651dee79aa4a00d0

Made a couple suggestions that could come in Phase 2:
- we add categories (ex. fellowships, events, projects, coding...) so users can filter posts by category (note that this would require us to go through and add a category tag to each post)
- have two featured posts that would show up at the top, even if they are not the most recent posts. Ex.

[2016-04-19 22:58] #180 closed

[2016-04-19 22:59] kristinashu commented on #132
Closing since covered in https://github.com/mozilla/science.mozilla.org/issues/119

[2016-04-19 22:59] #132 closed

[2016-04-19 23:02] kristinashu commented on #181
Initial comps: https://redpen.io/mo1fa2dc526ca2627d

Suggestion that could come in Phase 2: we could have CTA buttons at the bottom of the post detail page. Arrows go to the previous/next post details page and “Blog Overview” would go back to the blog landing page

Closing this ticket and will make any updates in the [epic ticket](https://github.com/mozilla/science.mozilla.org/issues/119).

![blog

[2016-04-19 23:02] #181 closed

[2016-04-20 14:45] #188 closed

[2016-04-20 17:25] auremoser commented on #194
I'm going to gently push back on this, feel free to veto me. FAQs are kind of a catch all for lots of material that is ancillary to core-content but maybe will save us a few individual email. I know they lack hierarchy but I think people expect that something like this will exist, and are comfortable scrolling for clarity. I feel like having all of FAQ caveats in the base content will make the app

[2016-04-20 17:57] kaythaney commented on #194
+1 to that. the info in the FAQ was also clearly laid out in the
requirements last year. didn't keep us from getting tons of folks asking
the same questions. :)

On Wed, Apr 20, 2016 at 1:25 PM, Aurelia Moser <notifications@github.com>
wrote:

--
@kaythaney <http://twitter.com/kaythaney/>
@MozillaScience <http://twitter.com/mozillascience>

[2016-04-20 18:00] kaythaney commented on #194
also, just to flag, we're looking at broadening the call for year 2 beyond
the US, UK and Canada, but are awaiting a meeting with ops/legal. that'll
take a few weeks. @auremoser and i are working on updates to the text in
the meantime.

don't let that hold you up - will be minor text tweaks. just flagging that
confirmation on that is likely a few weeks out.

On Wed, Apr 20, 2016 at 1:57 PM, Kaitli

[2016-04-20 19:08] stephwright commented on #194
Another +1 from me for what Aure & KT said.

On Wed, Apr 20, 2016 at 10:57 AM, Kaitlin Thaney <notifications@github.com>
wrote:

--
Stephanie Wright
--------------------------------------------------------------------------------------
Open Data Training Lead, Mozilla Science Lab
Twitter @shefw  | GitHub @stephwright | Skype: stephanie_4504
ORCID: 0000-0003-3829-318X
"The opposite of 'open' isn't

[2016-04-20 23:02] kristinashu commented on #194
Sounds good, thanks everyone for weighing in. I'll add an FAQ tab to the mocks.

[2016-04-20 23:59] simonwex commented on #205
Pomax's solution here seems pretty damn reasonable. Any argument to just making it so?

[2016-04-21 00:06] alicoding commented on #205
We shall make that happen 👍 `.sh` for *Nix and `bat` for Windows.

[2016-04-21 13:14] auremoser commented on #194
thank you @kristinashu !

[2016-04-21 14:56] gideonthomas commented on #205
*nix covers only unix :D

[2016-04-21 17:05] hannahkane commented on #158
For this heartbeat, we're not expecting to get real service data

[2016-04-21 18:12] gvn opened #225 "Enable CORS on service"
CC: @alicoding @gideonthomas

Let's just allow all domains for now...

[2016-04-21 18:26] kristinashu commented on #139
Closing this ticket. I'll keep adding files to the folder as they come up but ping me if you need anything.

[2016-04-21 18:26] #139 closed

[2016-04-21 18:41] gideonthomas opened #226 "API: Add contributor list to each project"
Get the contributor list from github and add it to the payload for projects

[2016-04-21 18:42] gideonthomas opened #227 "contributor"

[2016-04-21 18:57] kristinashu opened #228 "[design QA] fonts"
General ticket about fonts on the home page. I've overlaid colors on the comp to highlight text that should have the same size, weight and line height.

Only changes are alignment (left or centered) and color.

General text color rules:
- text is grey #48484A (onesie grey with lightness -20), sometimes the lighter version #7A7A7F (onesie base grey)
- links are mobile blue (even if it is a title) a

[2016-04-21 19:00] #226 closed

[2016-04-21 19:04] Pomax commented on #205
@gthomas is that a concern about not enough scripts, or that ali did not write `*n*x`? Because if the first, please clarify =)

[2016-04-21 19:15] gideonthomas commented on #205
lol i was pulling ali's leg because of the `*n*x` thing

[2016-04-21 19:16] cadecairos commented on #205
If I can't dev on Solaris, I'm gonna rage quit.

[2016-04-21 19:16] #225 closed

[2016-04-21 19:45] hannahkane commented on #210
@alicoding @gideonthomas - should we move this to the next heartbeat, as per discussion at stand-up?

[2016-04-21 19:48] kristinashu opened #229 "[design QA] nav menu"
Tweaks to main menu item text:
- move grey text up slightly
- font size seems a little small, please use 1rem instead of 0.9375rem
- add hover state so text turns to the darker grey on hover (same grey as on selected state)

Logo:
- add hover state so logo turns slightly transparency on hover

Blue Sign in/Join us text and button
- added hover state of one tint darker (mobile blue lightness -15%)

[2016-04-21 20:17] Pomax commented on #205
@cade you can't dev on Solaris.

[2016-04-21 20:20] cadecairos commented on #205
(╯°□°）╯︵ xɐɯoԀ@

[2016-04-21 20:25] gvn commented on #205
What about BeOS?

[2016-04-21 20:34] kristinashu opened #230 "[design QA] Homepage - custom 3 up variant"
Based on #151

Please add space to the sides so the text doesn't go all the way to the browser edges.

Staging:
<img width="1129" alt="screen shot 2016-04-21 at 12 51 56 pm" src="https://cloud.githubusercontent.com/assets/1068783/14722325/ea51467e-07bf-11e6-8bd9-b7b332ee33df.png">

[2016-04-21 20:37] cade commented on #205
Like hell I can't!

![solaris](https://cloud.githubusercontent.com/assets/3403/14723486/f5546d8c-07d6-11e6-8d67-3dada23fe87e.gif)

[2016-04-21 20:43] kristinashu opened #231 "[design QA] apply to be a fellow CTA"
Button:
- button text and line color should be "mobile blue"
- add button hover state: inverse color like on https://mozilla-foundation-research.herokuapp.com/globalweb/
- button text weight is too thin - should maybe be 'normal' instead of 300 (newsletter "subscribe" button looks like the right weight

Text:
- line height of body text should be the same as the 3 up text

Layout:
- padding above a

[2016-04-21 20:49] kristinashu opened #232 "[design QA] Homepage - Events & Study groups CTA block"
- titles should be the same size and weight as "Apply to be a Fellow"
- button text is thin - make normal instead of 300
- "Events" blue background should mobile blue with lightness 15%
- add button hover state similar to https://mozilla-foundation-research.herokuapp.com/globalweb/
- padding is a little off: please shift 'events' down, move body text up and add more space between button and bottom

[2016-04-21 20:52] Pomax commented on #205
`$> cade.beersOwed++`

[2016-04-21 20:57] kristinashu opened #233 "[design QA] Homepage - What's New styling"
Minor styling tweaks:
- "What's New" text bigger - maybe 2.65rem instead of 1.74
- "Resource", "Project", "Blog" titles grey instead of green and 300 instead of 400
- "Code Review in the Lab" titles 200 instead of 100
- titles are links so should have hover state

Might be tricky, but can the three box heights be the same?

Comp:
<img width="1234" alt="screen shot 2016-05-10 at 10 31 03 am" src="h

[2016-04-21 21:06] kristinashu opened #234 "[design QA] newsletter signup styling"
Hover state for button should be like https://mozilla-foundation-research.herokuapp.com/globalweb/

"your email" and "subscribe" text are a pixel or two too high

Staging:
<img width="321" alt="screen shot 2016-04-21 at 2 03 43 pm" src="https://cloud.githubusercontent.com/assets/1068783/14724340/4fb52288-07ca-11e6-9130-cf11482d6012.png">

In 'tablet' view:
- please center everything
- put title on

[2016-04-21 21:12] kristinashu opened #235 "[Design QA] Newsletter sign up - add error message if box is unchecked"
If someone clicks subscribe but does not check the "I'm okay with Mozilla handling my info as explained in this Privacy Notice" box then they should get an error message saying to check it.

[2016-04-21 21:17] kristinashu opened #236 "[design QA] Newsletter confirmation"
After successfully subscribing to the newsletter we get redirected to this awful screen:
![screen shot 2016-04-21 at 11 09 22 am](https://cloud.githubusercontent.com/assets/1068783/14724480/491898be-07cb-11e6-9a1e-2740e4b1cb53.png)

Is there a way around his? It would be ideal if the user did not have to leave the science site. This doesn't seem to happen on http://advocacy.mozilla.org/encrypt/

[2016-04-21 21:31] kristinashu commented on #198
- line height for mozilla description text seems like it should be tighter
- diving line could be longer
- please vertically center the logo, line and text

Staging:
<img width="825" alt="screen shot 2016-04-21 at 2 28 22 pm" src="https://cloud.githubusercontent.com/assets/1068783/14724844/6feb07a4-07cd-11e6-93c8-7fb12511db76.png">

Comp:
<img width="833" alt="screen shot 2016-04-21 at 2 29 42 pm"

[2016-04-21 21:38] kristinashu commented on #154
Box shadowy thing is looking good! Mobile seems fine for now - I think you could move the carousel to 'phase 2' if you wanted.

Opened a ticket for minor design tweaks https://github.com/mozilla/science.mozilla.org/issues/233

[2016-04-21 21:45] kristinashu commented on #230
Actually, ignore this one. It looks good a wider sizes and I get why it's close to the edge at narrower widths.

[2016-04-21 21:45] #230 closed

[2016-04-21 21:53] kristinashu opened #240 "[design QA] background images"
Looks good in FF but in Chrome and Safari the Events/Study Group background and the What's New background aren't filling the browser

staging:
<img width="1301" alt="screen shot 2016-04-21 at 2 51 56 pm" src="https://cloud.githubusercontent.com/assets/1068783/14725437/c7d14df4-07d0-11e6-8bd9-fcfb46abfb53.png">

[2016-04-21 22:04] alanmoo commented on #228
@kristinashu Do links have underlines on hover?

[2016-04-21 22:13] kristinashu commented on #228
No, don't think that's necessary.

[2016-04-21 22:17] kristinashu commented on #240
Actually, it's cut off in FF too. Images and color background should fill the browser window. While text content can have max width, as is now.

[2016-04-21 23:12] #117 closed

[2016-04-21 23:23] kristinashu opened #242 "[design QA] Homepage - custom 3 up variant mobile"
Fine if this comes later but to save space on mobile we talked about hiding the 2nd and 3rd icon:
https://redpen.io/prff288a58a7691a56

I think this will only be a thing on the home page, 3 ups on other pages can have all the icons.

[2016-04-21 23:30] #129 closed

[2016-04-21 23:37] kristinashu opened #243 "responsive nav"
Something for post launch but wanted to file. Inspired by http://codepen.io/chriscoyier/pen/bppOVP/

We could and a few intermediaries to the nav before resorting to the hamburger.

Quick mock up:

<img width="837" alt="screen shot 2016-04-21 at 4 34 08 pm" src="https://cloud.githubusercontent.com/assets/1068783/14727397/56328d34-07df-11e6-9812-10579ee924a3.png">

[2016-04-21 23:48] kristinashu opened #244 "[design QA] sprinkles"
Guessing we're saving this for last but filing it as a reminder.

Phase 1, add 'em. Phase 2, animate 'em.

We have a couple:
<img width="170" alt="screen shot 2016-04-21 at 4 47 45 pm" src="https://cloud.githubusercontent.com/assets/1068783/14727542/d3297216-07e0-11e6-8fd1-6de0963426be.png">

But should have more:
https://redpen.io/jv7dd38e552814c20a

[2016-04-22 15:18] #189 closed

[2016-04-22 16:40] #155 closed

[2016-04-22 16:53] kristinashu commented on #179
I think the only element that needs to be mocked up for mobile are the tabs: https://redpen.io/buc5464422a564c21e

The rest should be fairly straight forward to I'll let dev do and then do a design pass.

![mobile-fellowship 2x](https://cloud.githubusercontent.com/assets/1068783/14748676/e4a8c660-086f-11e6-87a5-7ed45792cdae.jpg)

[2016-04-22 16:54] #202 closed

[2016-04-22 16:55] gvn opened #247 "Add carousel for small screens on Homepage - What's New"
According to @kristinashu this section is ok as-is and we can look at adding a carousel for phase 2.

[2016-04-22 16:56] #154 closed

[2016-04-22 16:56] #115 closed

[2016-04-22 17:36] acabunoc commented on #220
This can replace the /training page

[2016-04-22 17:51] kristinashu commented on #119
@xmatthewx any chance you could do a design review on the blog pages: https://redpen.io/p/eb9d7534bcf4dfcc17

[2016-04-22 17:52] kristinashu commented on #118
@xmatthewx could you please do a design review on the fellowships pages: https://redpen.io/p/eb9d7534bcf4dfcc17

[2016-04-22 17:52] #179 closed

[2016-04-22 18:59] #203 closed

[2016-04-22 19:12] kristinashu opened #248 "Prep design files for devs"

[2016-04-22 19:13] gideonthomas commented on #116
This is done! Yay!

[2016-04-22 19:13] #116 closed

[2016-04-22 19:23] #157 closed

[2016-04-24 13:54] taml commented on #231
Hello @kristinashu I'd really like to get involved with helping on the styling of Mozilla Science. I don't seem to be able to get the development environment running though, npm brings up a lot of errors and claims they're linked with the package not npm. I've only recently just used npm so I'm not too clued up on the ins and out of it but I'd love to get it going and help out!

[2016-04-25 13:39] alanmoo commented on #243
Ah, cool, I like this. I'll see what can be done as we have time.

[2016-04-25 13:45] alanmoo commented on #240
The issue with images filling the background usually has to do with width and scaling; There has to be a upper limit of the image at some browser width. On smaller screens we can make it fill to the max-width of the image, but at larger screen sizes what would you like it to do?

[2016-04-25 15:45] xmatthewx commented on #118
Review. Things looked good. I noted in redpen that a few layout details need a comp to show how they'll work on smaller screens or narrow browsers.

I think we also need a comp for the drop-down menu on large screens, with info on how it works (hover/click/dismiss). I also wonder about the hierarchy: fellowships is hidden under programs and less visibility than resources.

[2016-04-25 15:46] xmatthewx commented on #119
Looks good. A few notes in redpen, but nothing too big.

[2016-04-25 16:29] kristinashu commented on #231
Hi @taml, thank you so much for offering to help out! Development of this site is very time sensitive so at the moment it is just being built by our internal team. Stay tuned though, we'll have tickets open for contributors in a month or so. Thanks again!

[2016-04-25 16:32] kristinashu commented on #240
Can it be like the background images on https://advocacy.mozilla.org/open-web-fellows/ ? I like how the height stays the same and the width fills the full browser. Maybe it has a max width but it must be pretty wide?

[2016-04-25 17:09] taml commented on #231
Thank you for getting back to me @kristinashu! I'm not sure if you're a part of the same Mozillian group mentioned on Mozilla.org but is there a direct way to get involved with contributing? I've been to this page so many times over the weekend - https://www.mozilla.org/en-US/contribute/ and feel like I'm really missing something. The instructions say choose what interests you and tell us how you'

[2016-04-25 17:41] kristinashu opened #250 "[design QA] hero banners"
All banners images should have the same height and text should have the same width and style.

Banners appear on:
- home
- fellowships
- study groups
- projects
- resources

Home, Projects, and Resources banners should be taller. Right now they're about 275px but they should be more like 360px (like on Fellowship page).

Staging:
<img width="1413" alt="screen shot 2016-04-25 at 10 33 20 am" src="h

[2016-04-25 17:50] LucyeoH commented on #231
@taml if you let me know the areas you'd like to contribute I can help you out. Based on your comment about styling you might want to start with the Community Design group which is a collection of passionate Mozilla community designers who work on projects together - https://github.com/mozilla/Community-Design/. Another place to look for more technical opportunities is http://whatcanidoformozilla.

[2016-04-25 18:04] kristinashu commented on #119
Thanks, I've commented and made a few updates.

[2016-04-25 18:04] #119 closed

[2016-04-25 18:23] kristinashu commented on #118
Thanks @xmatthewx! Redpen is being buggy and I can only see the start of your comments in the notifications, and can't see them in the comps. Bit of follow up here:
- I'll try the comps with left aligned text instead of centered
- Gavin and Alan seem pretty good with responsive states so our plan is that they build it then I do a design pass (with the expectation that there will be some tweaks nee

[2016-04-25 18:32] gideonthomas commented on #131
Implementation will happen in this heartbeat

[2016-04-25 18:38] #227 closed

[2016-04-25 18:51] gideonthomas commented on #133
Moved here: https://github.com/mozilla/science.mozilla.org/issues/131

[2016-04-25 18:51] #133 closed

[2016-04-25 19:01] kristinashu commented on #118
Oooh I can see the comps in redpen now!

[2016-04-25 19:07] xmatthewx commented on #118
Great. That all makes sense.

As we start thinking about universal nav patterns, we'll want good guidelines so we don't invite excess content in subnav that could be better integrated or cut.

[2016-04-25 19:41] kristinashu opened #251 "Make it easy for contributors to contribute!"
Once dev has settled down we should make sure it's easy for contributors to get involoved: create tickets with lots of detail and possibly add a label to them.

I think @taml and @mmhyamin are both interested in contributing to this repo!

[2016-04-25 19:56] hannahkane commented on #118
@kristinashu - is it ok to either close this or take it out of the milestone now, so we can close April 22?

[2016-04-25 19:57] kristinashu commented on #118
Closing!

[2016-04-25 19:57] #118 closed

[2016-04-25 20:39] taml commented on #251
@kristinashu I'm definitely interested!

[2016-04-25 21:06] taml commented on #231
Amazing, thanks so much for the resources @LucyeoH I hadn't previously come across any of those! Yes design would be good like front end things. HTML, CSS and anything simple in the area of JavaScript are where my skills are strongest, and then things like logo design, graphics and branding. I know a little Ruby too but from the projects I've seen it's not widely used across Mozilla. I'm watching

[2016-04-25 21:54] kristinashu opened #252 "nav on mobile: Animate hamburger icon to close icon"
Example (top right icon): http://tympanus.net/Development/AnimatedSVGIcons/

[2016-04-25 23:45] kristinashu commented on #130
Got this little one done: https://redpen.io/wafbb49c5c4f19ee1f
![jpgs_codeofconduct 2x](https://cloud.githubusercontent.com/assets/1068783/14802293/0fb021c2-0b05-11e6-8a93-c5197d970e5d.jpg)

[2016-04-25 23:57] #130 closed

[2016-04-26 00:34] kristinashu commented on #248
I've added icons for event and fellowship pages to the assets folder: https://drive.google.com/open?id=0B2irLVDJivhLUm1HZExlOUVkcFk

Here is the latest .ia file: https://drive.google.com/a/mozilla.com/file/d/0B2irLVDJivhLMGRYeEF0LTZ5QWc/view?usp=sharing

cc @gvn @alanmoo

[2016-04-26 00:34] #248 closed

[2016-04-27 13:45] #158 closed

[2016-04-27 19:31] kristinashu commented on #127
Comps for study group intro: https://redpen.io/ow3163da6caa22acde same as https://redpen.io/tbb6b630d6533be412 but without map and to show what an accordion looks like.
![jpgs_studygroups 2x](https://cloud.githubusercontent.com/assets/1068783/14865539/edd3bd00-0c73-11e6-8957-77d9c1def03a.jpg)
![jpgs_studygroups 2x copy](https://cloud.githubusercontent.com/assets/1068783/14865538/edd265fe-0c73-11e6

[2016-04-27 22:02] kristinashu commented on #126
Initial resource page comp: https://redpen.io/dr1a6e5c79b466e524

We had hoped to not need filters but I think they are necessary. We already have 27 resources which gets overwhelming and very long on one page so I've added some placeholder filters in.

Categories are being worked on: https://docs.google.com/a/mozilla.com/spreadsheets/d/1aQhmnDO4zYt24sD8ItYeesbAn2TUiHzKyllSkzs4VN0/edit?usp=sharing

[2016-04-27 22:57] hannahkane commented on #126
I think this looks nice, @kristinashu.

I updated the [content doc](https://docs.google.com/document/d/1k2Ds-iw4B_Sh5ae1areW1qfuLPtSqmgohtXYBkOi7r4/edit#) with some places where it looks like we need to fill in copy. Flagging @acabunoc and @auremoser to help with that, if you haven't already discussed it.

[2016-04-28 17:20] gvn commented on #236
I'm going to go with *probably not.* Looks like the encryption site uses a totally different email system. I'm pretty sure that to get rid of it we'd have to migrate Mozillascience to a different system, which is probably not trivial.

However, I'm not absolutely certain. Maybe we can get someone from the Science team to weigh in.

[2016-04-28 17:22] gvn opened #262 "Build tabswitcher component"
There's a tabswitcher used in a lot of the views, so let's build a component!

[2016-04-28 17:24] gvn commented on #120
Let's start by building this sans-tabswitcher (just as long pages of content).

Once I complete the tabswitcher we can drop it in!

[2016-04-28 17:41] gvn commented on #248
Thanks!

[2016-04-28 18:05] kristinashu commented on #236
Based on our stand today, our goal for now is to open this confirmation in a new tab.

I'll open another ticket to explore migrating to Exact Target so that confirmation can happen within the science site and so we're using the service moco and mofo are moving towards.

[2016-04-28 18:13] kristinashu opened #264 "Explore other newsletter services"
When a user completes the newsletter sign, they are redirected to a confirmation page.

![screen shot 2016-04-21 at 11 09 22 am](https://cloud.githubusercontent.com/assets/1068783/14724480/491898be-07cb-11e6-9a1e-2740e4b1cb53.png)

It is poor user experience for user to be kicked out of the site to a dead-end confirmation page. Ideally confirmation happens within the science site (similar to Learn

[2016-04-28 18:15] gvn commented on #236
Sounds good!

[2016-04-28 20:51] kristinashu commented on #128
Initial comps for member pages:

https://redpen.io/pq5fb24849ad3b7634

![07_members 2x](https://cloud.githubusercontent.com/assets/1068783/14901013/29de7a72-0d48-11e6-9ff1-645e2969b7aa.jpg)

https://redpen.io/cr14c4d6583a0e9244

![07_members-details 2x copy](https://cloud.githubusercontent.com/assets/1068783/14901012/29dd81ee-0d48-11e6-9a03-717628cb4954.jpg)

[2016-04-29 00:31] #159 closed

[2016-04-29 20:52] kristinashu opened #269 "Finalize resource categories"
All the resources are here https://docs.google.com/spreadsheets/d/1aQhmnDO4zYt24sD8ItYeesbAn2TUiHzKyllSkzs4VN0/edit#gid=0

We just need to finalize the filter categories. We are trying to limit the number of categories and keep them as broad as possible so multiple resources will show up under the filter.

Based on - Comps for Resources page #126

[2016-04-29 20:53] kristinashu commented on #126
Thanks for the copy, I've added it to the comp and opened a new ticket for finalizing the categories - Finalize resource categories #269

![jpgs_resources 2x copy](https://cloud.githubusercontent.com/assets/1068783/14929313/bb6a00c8-0e11-11e6-8ea6-cb32c5b1e650.jpg)

[2016-04-29 20:53] #126 closed

[2016-04-29 20:56] kristinashu commented on #128
Just need a little intro copy, I've added a section in the copy doc.

[2016-04-29 22:06] #262 closed

[2016-04-29 22:20] #236 closed

[2016-04-29 23:51] alanmoo opened #274 "Data needed from Events API"
Looking at https://redpen.io/aq0c17cb0774ab55bd and https://redpen.io/vxab11f78998c91e29, there seems to be a bunch of odds and ends of data that are needed from the events API. I may be able to calculate some of these on the front end, but I'm not quite sure where to draw that line. Maybe @acabunoc can help?

* "tag" format of the date (single date or multiple dates)- can possibly be calculated
*

[2016-04-30 16:21] acabunoc commented on #274
One other thing you will need to consider is the time zone.

For events happening in a certain location (Like a [Berlin Community Meetup](https://mozillascience.org/working-open-workshop-mixer-february-4th)), that should be displayed in the local time w/ appropriate timezone.

For worldwide events (like our calls), that should be displayed in the viewers' timezone.

---

For your other notes:

yes

[2016-04-30 16:28] acabunoc commented on #274
@alanmoo I feel like looking at the existing data would help here -- let me know if you want access to our current mongodb while you wait for the migration!

[2016-05-02 16:33] alanmoo commented on #114
This has been merged in

[2016-05-02 16:33] #114 closed

[2016-05-02 18:11] gvn commented on #235
Is there design for this?

[2016-05-02 18:14] alanmoo opened #275 "Data parsing/massaging of events pages"
Dates for project cards, pulling in github avatars, etc.

[2016-05-02 18:24] gvn commented on #121
This ticket is just for static buildout.

[2016-05-02 19:11] kristinashu commented on #235
Nothing mocked up, just a combo of what you have for the email address error and what's on encrypt campaign:
<img width="343" alt="screen shot 2016-05-02 at 12 02 46 pm" src="https://cloud.githubusercontent.com/assets/1068783/14964632/ef2d286a-105d-11e6-8241-29d9a01126d9.png">

[2016-05-02 19:19] kristinashu opened #276 "[design QA] Homepage - add sponsor block links"
Based on Homepage - Sponsor block #155

Logos should link in a new tab to:
http://www.sloan.org/
http://helmsleytrust.org/

[2016-05-02 21:34] alanmoo commented on #274
Thanks @acabunoc, this was really helpful.

`additional_notes` is a link to the etherpad?

[2016-05-02 21:50] acabunoc commented on #274
@alanmoo

yes!

[2016-05-03 15:55] #210 closed

[2016-05-03 15:55] #136 closed

[2016-05-03 15:55] #122 closed

[2016-05-03 15:56] #131 closed

[2016-05-03 16:31] alanmoo commented on #274
Ok, I'm going to close this and implement using this ticket for guidance.

[2016-05-03 16:31] #274 closed

[2016-05-03 18:07] alicoding opened #279 "Add pagination support for getting list of projects/events/users"

[2016-05-03 19:25] alanmoo opened #280 "Projects API returns relative links to images"
Some events like https://api-mozillascience-staging.herokuapp.com/events/3/ return relative links to images stored inside the project repo itself. Should we change this?

@gvn @alicoding @gideonthomas @acabunoc

[2016-05-03 19:37] #279 closed

[2016-05-03 20:03] gvn opened #282 "Add Favicon"

[2016-05-03 20:03] acabunoc commented on #280
I think we can! In this case, it's a recurring event we create via template -- all the template images you'll find will be relative links stored inside the repo.

[2016-05-03 20:07] gvn commented on #280
Are events administered through Django? I ideally they should probably live on a CDN.

[2016-05-03 20:08] alicoding commented on #280
@gvn can you elaborate on that?

[2016-05-03 20:16] gvn commented on #280
Sure! So, if images are being added through Django's web interface then we should add some kind of CDN publishing to also occur when changes are published. This service may be used by other clients as well and that creates an implicit extra dependency on the Science site as a image host.

TLDR: It's ideal that we get back a fully qualified URL for images in the payload coming from the service.

[2016-05-03 20:20] acabunoc commented on #280
@gvn I agree. Most of the images in events are stored in the repo because it was easier at the time.

Long term (phase 2) events will be created via web interface (not Django's web interface).

In the current [create event page](https://www.mozillascience.org/community/new), you upload the image to s3 (unless you're making a recurring event). So some of our newer events have a full URL.

[2016-05-03 20:22] gvn opened #283 "Refactor tab switcher for mobile"
Add icon-ification of tabs for narrow viewports.

[2016-05-03 20:27] gvn commented on #280
Ok, cool. So it sounds like we should just go through and upload anything with a relative path to S3. We'll see some broken images on staging, which should help surface that work.

[2016-05-03 21:43] acabunoc commented on #280
Just a note: you'll find the same problem on our projects! however, we switched to S3 much earlier there, so more of them have the full path.

[2016-05-04 13:36] alicoding opened #287 "Expand user's info on project routes by default"
Right now it's a hyperlink to the user's route, but it will be more work for the client to get the info for users such as their name and image.

[2016-05-04 15:30] alicoding opened #288 "Write tests for expand users and events query"

[2016-05-04 15:32] alicoding opened #289 "Write test for search query for projects route"

[2016-05-04 15:34] #287 closed

[2016-05-04 17:25] kristinashu commented on #282
Nice! We can use the same one (the logo) as on the current site.

[2016-05-04 17:43] kristinashu commented on #128
I've added a little copy.

[2016-05-04 17:43] #128 closed

[2016-05-04 17:48] alanmoo opened #290 "Add expand paramater to event API"
Make `https://api-mozillascience-staging.herokuapp.com/events/1/?expand=projects` a thing that works, please?

[2016-05-04 18:20] alanmoo opened #291 "API driven vs templated event pages"
It seems like some of the events (global sprint, hack day at least) have a bit more styling/data than would make sense to fit into the API. I can pull strings from the API and render them as HTML, but that doesn't seem like it's going to do everything that's desired of those event pages. Should some of them be hard-coded as HTML pages in the repo?

@acabunoc @gideonthomas @alicoding @kristinashu @

[2016-05-04 19:22] #289 closed

[2016-05-04 19:33] kristinashu commented on #291
Is this the Hack Day you're talking about? https://www.mozillascience.org/space-apps-2016 Seems like it's actually a blog post. Can the content be duplicated as an event? Then it should be straight forward content - text and two images (no comments).

Global Sprint seems very custom though https://www.mozillascience.org/global-sprint-2016

[2016-05-04 19:33] alanmoo commented on #291
That's the one

[2016-05-04 19:37] gideonthomas commented on #291
Oh, hmm yeah so for that, that content wasn't stored in the db so I copied the page source from the page linked above and used that as the description in the db. Let me know what that needs to be changed to.

[2016-05-04 20:08] acabunoc commented on #291
Yeah, on the current site I wrote a [custom template](https://github.com/mozilla/science.mozilla.org/blob/mozillascience.org/views/events/globalsprint2016.jade) for the global sprint.

I've been assuming that events will be less boutique going forward -- if it's easier to get rid of some of the custom elements, I'm fine with that! As long as the events are still usable / contain the same info, I'm

[2016-05-04 20:14] alanmoo commented on #291
I think the events/project pages need a reevaluation of the data sets in general- short descriptions specifically come to mind. I'll take a look at the events/projects (and related individual pages) and generate a list of fields I'd expect, based on the comps.

[2016-05-04 21:06] #290 closed

[2016-05-04 21:30] acabunoc commented on #291
I'm happy to manually go through and curate the data we have on our existing events/projects to get them in a format that works well for you! Thanks for bringing this up / evaluating :)

[2016-05-04 21:36] alanmoo opened #292 "Need more data from expanded projects"
I'm using the endpoint from #290 to render https://redpen.io/dy2a198e14b48f4772, so I need a few more pieces of data in its expanded projects:

* Users (or at least leads)
* Institution
* Short description
* Categories
* Tags

[2016-05-04 23:06] alanmoo commented on #280
I don't think I have credentials for S3, who can help with that?

[2016-05-05 04:33] #169 closed

[2016-05-05 17:17] acabunoc commented on #280
I will update the data currently in Django & upload missing images to s3!

[2016-05-05 17:56] kristinashu opened #293 "Update logo so it will work as an svg"

[2016-05-05 18:48] alanmoo opened #294 "When expanding users, real name is needed"
In the response from https://api-mozillascience-staging.herokuapp.com/projects/?expand=users, each user's real name should be returned as part of the response.

@gideonthomas @alicoding

[2016-05-05 20:01] #292 closed

[2016-05-05 20:01] #294 closed

[2016-05-05 20:16] #288 closed

[2016-05-05 20:16] alanmoo commented on #291
It seems like the main thing that's needed right now is short descriptions for projects and events. @acabunoc if you can massage the data for that, it should solve a good amount of the issues, especially coupled with the newly resolved #292 and #294

[2016-05-05 20:17] acabunoc commented on #291
Sounds good, I just need @gideonthomas to add a short_description field to events

[2016-05-05 20:17] gideonthomas commented on #291
ah @acabunoc will do now

[2016-05-05 20:18] kristinashu commented on #293
I've updated the logo so it no longer has any overlay effects and should now work as an SVG:
[logo-mozillascience.svg.zip](https://github.com/mozilla/science.mozilla.org/files/251004/logo-mozillascience.svg.zip)

<img width="792" alt="screen shot 2016-05-05 at 1 17 10 pm" src="https://cloud.githubusercontent.com/assets/1068783/15055865/b97c0ac0-12c3-11e6-8598-522d2e4a4c6b.png">

[2016-05-05 20:20] kristinashu commented on #293
@gvn @alanmoo guess you can update the logo when you get the chance

cc @acabunoc

[2016-05-05 20:25] gideonthomas commented on #291
@acabunoc done :)

[2016-05-05 20:26] kristinashu opened #296 "Finalize copy for study groups"
Based on design in https://github.com/mozilla/science.mozilla.org/issues/127

We need copy for https://redpen.io/ow3163da6caa22acde and https://redpen.io/de9fb9639192c1b4e9

Copy doc: https://docs.google.com/document/d/1k2Ds-iw4B_Sh5ae1areW1qfuLPtSqmgohtXYBkOi7r4/edit

[2016-05-05 20:26] kristinashu commented on #127
Closing and opened a ticket just for copy https://github.com/mozilla/science.mozilla.org/issues/296

[2016-05-05 20:26] #127 closed

[2016-05-05 21:34] gvn commented on #293
![f9623bec7b5c45196af9d727ba2d874dd86c58ec](https://cloud.githubusercontent.com/assets/206379/15057958/670e8dc0-12ce-11e6-91f4-ce48798fb00d.gif)

[2016-05-05 21:47] gideonthomas commented on #280
@alanmoo is this good to close now?

[2016-05-05 21:48] acabunoc commented on #280
I only did events - did  you do all the projects? If you're done projects, then yes!

[2016-05-05 21:50] acabunoc commented on #291
I added images & short_description for each project (& deleted some projects we didn't need)

I think I'm going to have to modify the long description for several of the events once there's an event details page up.

[2016-05-05 21:51] alanmoo commented on #291
Do the short descriptions have HTML in them? Or can I just embed them as text nodes?

[2016-05-05 21:52] acabunoc commented on #291
just text! there will probably be html in the long description, though

[2016-05-05 21:54] alanmoo commented on #280
@acabunoc Event 9 is still broken

[2016-05-05 21:59] acabunoc commented on #280
missed that! should be good now

[2016-05-05 22:15] alanmoo opened #297 "Modify format of user response in events"
Example route: https://api-mozillascience-staging.herokuapp.com/events/1/?expand=projects,users

I appreciate the "leads" array inside each project, but can you name that "users" and give the users the "role" key so that I can reuse a react component? (The component is built using https://api-mozillascience-staging.herokuapp.com/projects/?expand=users)

@gideonthomas @alicoding

[2016-05-05 23:34] alanmoo opened #298 "Implement more sort options for projects"
Need to sort by most active and most contributors. And does "featured" need any algorithmic work @acabunoc ?

Endpoint: https://api-mozillascience-staging.herokuapp.com/projects/

[2016-05-05 23:40] alanmoo opened #299 "Link project card tags out to destination"
@acabunoc where do these links go? Do they perform a search similar to the category filter? (I'm referencing the links that are usually specific technologies)

[2016-05-06 15:22] gideonthomas commented on #297
I don't follow, the component is built using `/projects?expand=users` but you need the change in `/events/<id>?expand=projects,users`?

[2016-05-06 15:23] gideonthomas commented on #280
I did all projects, @acabunoc feel free to close this

[2016-05-06 15:27] gideonthomas commented on #298
I'll try to do this, but since this is reliant on dynamic data pulled from github, it might have a decent amount of complexity attached to it. @acabunoc If we're not able to do this, any chance that this can be phase 2?

[2016-05-06 15:35] gideonthomas commented on #298
Also, what does "most active" mean? Is activity described in terms of number of contributors, number of users, most recent commit?

[2016-05-06 15:37] acabunoc commented on #298
yes, I assumed the github based filters would be phase 2!

[2016-05-06 15:46] alanmoo commented on #298
Ah, ok. I'll hide the 2 github ones for now.

[2016-05-06 15:48] alanmoo commented on #297
Yeah, I need the structure of the user objects from the latter to match the former.

[2016-05-06 15:51] acabunoc commented on #298
I believe 'featured' is just all the active projects - can be returned in a random order!

[2016-05-06 15:52] gideonthomas commented on #297
let's chat about this on a call

[2016-05-06 16:04] #280 closed

[2016-05-06 16:04] acabunoc commented on #299
yes, another search for all the projects with that tag!

[2016-05-06 16:50] alanmoo commented on #299
Is this phase 1?

[2016-05-06 16:55] acabunoc commented on #296
I think @auremoser would be the best person for this

[2016-05-06 17:22] #121 closed

[2016-05-06 17:25] kristinashu commented on #120
@alanmoo maybe you're working on it but I wanted to make sure it's clear that events at the top of the landing page should only be upcoming events. All past events are in the archive section.

I see some past events are showing up with an image:
<img width="536" alt="screen shot 2016-05-06 at 10 14 30 am" src="https://cloud.githubusercontent.com/assets/1068783/15080838/c4933f08-1374-11e6-8cea-a3bd

[2016-05-06 17:38] acabunoc commented on #120
Also (again @alanmoo you may be working on this), but the event pages should have the slug in the url (not the event id number) -- this will help us with forwarding old pages on the new site

[2016-05-06 17:54] alanmoo commented on #120
Yeah, @gideonthomas @alicoding and I had a convo about the slug already. I need to take a look at the API for events and see what we have/if more tickets need filing

[2016-05-06 18:11] alanmoo opened #301 "Filter events by past/future"
When fetching events, can there be a filter for past/future and present events?

[2016-05-06 18:12] alanmoo opened #302 "Fetch projects and events by slug"
Since the URLs for the existing site need to be preserved, we need to be able to access project and events by slug. Can an endpoint be exposed for that?

[2016-05-06 18:19] alanmoo opened #303 "Update select and search input styling upstream"

[2016-05-06 18:31] gideonthomas opened #304 "Migrate data from the staging server to the production server"
We used a migration script to move data from the existing Science Site db to the staging db and to structure it. However, we had to manually make modifications to a bunch of the data directly in the staging db. Hence, we should migrate the data from the staging db directly instead to preserve manually made changes

[2016-05-06 18:50] gideonthomas commented on #298
This is something that should go into a "Backlog" milestone

[2016-05-06 19:22] gideonthomas commented on #302
Sure, the api endpoint will look like `/projects/<slug>` and `/events/<slug>`

[2016-05-06 19:44] #275 closed

[2016-05-06 19:50] #120 closed

[2016-05-06 20:02] acabunoc commented on #299
I'm fine pushing this back :)

[2016-05-06 20:05] gideonthomas opened #305 "Consolidate project tags"
There are over 100 tags in the db and most of them are redundant and/or repetitive. They need to be manually consolidated into a smaller amount of tags that we want and are relevant to projects. This "manual" operation will be done through the Django admin interface.

[2016-05-06 20:06] gideonthomas opened #306 "Consolidate project categories"
There are too many categories in the db and most of them are redundant and/or repetitive. They need to be manually consolidated into a smaller amount of categories that we want and are relevant to projects. This "manual" operation will be done through the Django admin interface.

[2016-05-06 20:11] alanmoo commented on #299
I think this requires some API work. @gideonthomas @alicoding I'm not sure how much lift this is, so I'll let you make the call on the timing for it.

[2016-05-06 20:14] gideonthomas commented on #299
@alanmoo this is already done! `/projects/?tags=Javascript`

[2016-05-06 20:14] acabunoc commented on #269
From @stephwright:

[2016-05-06 20:16] alanmoo commented on #299
Sweet! I'll take this back then

[2016-05-06 20:31] zee-moz commented on #269
Here are my suggestions for broad categories:

**collaboration tools** (github, git, etc)
**community building **(events, personas, codes of conduct etc)
**open communications** (blogs, de-jargonzing, pitches)
**project planning **(roadmapping, strategy exercises)
**coding** (SG lessons, r, command line, etc)
**open data** (all open data stuff)

I think we can get rid of "working open" as a catego

[2016-05-06 20:35] stephwright commented on #269
Are we linking resources on the Fellowship page and Study Group page?  If so, is there something added by creating a filter for the Study Group and Fellowship category?

[2016-05-06 20:49] zee-moz commented on #269
@stephwright if we're linking, then no, we don't need filters!

[2016-05-06 20:51] stephwright commented on #269
:+1:

[2016-05-06 21:11] kristinashu commented on #269
Thanks everyone! I've added a third tab to the spreadsheet called "New Broader Categories" https://docs.google.com/a/mozilla.com/spreadsheets/d/1aQhmnDO4zYt24sD8ItYeesbAn2TUiHzKyllSkzs4VN0/edit?usp=sharing

Any chance someone could check off which categories each resource should show up under? One resource can be in multiple categories.

[2016-05-06 21:24] stephwright commented on #269
I've taken a first stab... some I wasn't sure

[2016-05-06 21:26] #235 closed

[2016-05-06 21:38] acabunoc commented on #269
We were also using the 'study group' category to show which ones should show up on the study group page (under study group lessons) -- can we show all the 'coding' ones there now?

[2016-05-06 21:49] gvn commented on #125
@hannahkane Were we planning on doing search for R1? I'd like to deprioritize or move it to R2 if possible?

[2016-05-06 21:50] gvn commented on #125
Consuming this API: http://wp.mozillascience.org/wp-json

[2016-05-06 22:23] alanmoo opened #309 "Create resources page"
Jumbotron, lists of DataCard components, and filter.

API requirements:
* (paginated) array of resources, filterable by category. Each resource needs
  * Title
  * Short description
  * Categories

[2016-05-06 22:24] alanmoo opened #310 "Create Code of Conduct page"
https://redpen.io/wafbb49c5c4f19ee1f

[2016-05-06 22:26] alanmoo opened #311 "Build members home page"
List of users https://redpen.io/pq5fb24849ad3b7634

[2016-05-06 22:27] alanmoo opened #312 "Build member profile page"
https://redpen.io/cr14c4d6583a0e9244

[2016-05-06 23:10] alanmoo opened #314 "Build "Join a Study Group" tab"
https://redpen.io/ow3163da6caa22acde

- [ ] Needs intro content
- [ ] Might need help from @auremoser for quicker built out of map
- [ ] Need content from API

[2016-05-06 23:11] alanmoo opened #315 "Build "Run a Study Group" tab"
https://redpen.io/de9fb9639192c1b4e9

Needs:

- [x] Content (description paragraphs)
- [x] Figure out where form submission goes
- [x] Data for study group cards

[2016-05-06 23:39] kristinashu commented on #315
Content will be here but still waiting https://docs.google.com/document/d/1k2Ds-iw4B_Sh5ae1areW1qfuLPtSqmgohtXYBkOi7r4/edit

Submission should go to the same place as on the current site. Click "Start a Mozilla Study Group" and then "Submit" https://www.mozillascience.org/training

Data is being finalized in https://github.com/mozilla/science.mozilla.org/issues/269#issuecomment-217565003 and can b

[2016-05-06 23:44] kristinashu commented on #314
Copy will be here https://github.com/mozilla/science.mozilla.org/issues/296

I was thinking the map could just be a PNG for now. Image is in the assets folder https://drive.google.com/a/mozilla.com/folderview?id=0B2irLVDJivhLbE5SN2czTThLdEk&usp=sharing

List of all the locations and their links are in the copy doc https://docs.google.com/document/d/1k2Ds-iw4B_Sh5ae1areW1qfuLPtSqmgohtXYBkOi7r4/edit

[2016-05-06 23:45] kristinashu commented on #312
@hannahkane are we going to hold off on this?

[2016-05-06 23:46] kristinashu commented on #310
Can grab copy from current site https://www.mozillascience.org/code-of-conduct

[2016-05-06 23:49] kristinashu commented on #309
Content is here https://docs.google.com/spreadsheets/d/1aQhmnDO4zYt24sD8ItYeesbAn2TUiHzKyllSkzs4VN0/edit#gid=1510918447

[2016-05-06 23:50] hannahkane commented on #312
we'll discuss at the planning meeting on Monday, but I think it's likely that we'll hold off

[2016-05-09 15:02] #301 closed

[2016-05-09 15:37] #297 closed

[2016-05-09 16:01] hannahkane commented on #296
Moving to May 20 to wrap

[2016-05-09 16:02] hannahkane commented on #269
Moving to May 20 to wrap

[2016-05-09 16:08] auremoser commented on #314
Surely, I could put together a map but the static one works just as well for now, you can even do country-level captions like what we do on the [GDI site](https://www.girldevelopit.com/chapters/), or what Abby did for the [Global Sprint](https://mozillascience.org/global-sprint-2016).

Happy to help with a map, what we had before for the [Study Group Handbook Map](https://mozillascience.github.io/

[2016-05-09 16:19] hannahkane commented on #312
no longer considered a requirement for launch, so removing from May 20 milestone

[2016-05-09 16:20] hannahkane commented on #311
No longer considered a requirement for launch, so removing from May 20 heartbeat

[2016-05-09 16:22] hannahkane commented on #134
No longer a requirement for launch, so removing from May 20 mileston

[2016-05-09 16:44] gideonthomas opened #316 "Add models for Study Groups and Resources"
Create the schema for Study Groups and Resources based on comps

[2016-05-09 16:45] gideonthomas opened #317 "Add study group data and resource data"
Adding actual data to the db

[2016-05-09 16:46] gideonthomas opened #318 "Allow getting study groups and resources"
Adding views and serializers to make this possible

[2016-05-09 16:48] gvn opened #319 "Build accordion component"
Be sure to add to style guide page too.

[2016-05-09 16:48] acabunoc commented on #315
Form on current site:
https://github.com/mozilla/science.mozilla.org/blob/mozillascience.org/views/training.jade#L62

[2016-05-09 17:05] alanmoo opened #320 "Migrate routes for projects/events to slug rather than ID"

[2016-05-09 17:17] hannahkane commented on #125
Do: list view with 10 posts, detail view
P2: comments, pagination
Drop: search, filter, next/prev on detail

[2016-05-09 17:20] kristinashu opened #321 "Design QA of site"

[2016-05-09 17:29] gvn opened #322 "Externalize env"
Right now the servers are hardcoded in the backend module. We need them externalized.

[2016-05-09 18:09] kristinashu commented on #125
On the current site, an author's name links to their profile page. We will need to temporarily disable those links since we are not doing members right now.

[2016-05-09 18:11] kristinashu opened #323 "Things to hide until we have autentication"
Starting a list:
- [x] Members link in main menu
- [x] Sign In and Join Us links in main menu
- [x] Make sure all Project lead names links to GitHub profile and not MSL profiles

[2016-05-09 18:22] alicoding opened #324 "Write test for slug"
We added support for getting a project or event by slug, but we have no tests yet.

[2016-05-09 18:24] alicoding opened #325 "Write tests for filtering past and future events"
We should test if this query works as expected :)

[2016-05-09 18:24] #302 closed

[2016-05-09 19:56] alanmoo opened #327 "Switch project call endpoints to use "lead" key instead of "users""
Faster performance on the front end, allows consistent endpoints across uses of user list components

[2016-05-09 20:19] alanmoo opened #328 "Build URL support for project searches"
So that search result sets can be passed back and forth via links

[2016-05-09 20:20] alanmoo opened #329 "Add pagination of projects"
API supports it already, need to implement in front-end.

[2016-05-09 22:32] hannahkane commented on #194
Are we good on this ticket, or do we need to finalize more copy?

[2016-05-09 22:34] hannahkane commented on #146
Can we close this ticket?

[2016-05-09 22:37] hannahkane commented on #141
Can this be closed?

[2016-05-09 22:39] hannahkane commented on #276
I think we should have this at launch, so I'm adding to the current milestone.

[2016-05-09 23:33] #141 closed

[2016-05-09 23:33] #146 closed

[2016-05-09 23:37] #327 closed

[2016-05-10 15:58] #316 closed

[2016-05-10 16:02] gideonthomas commented on #318
Things TODO:
* Get one resource
* Get one study group
* Filter resources by tags

[2016-05-10 17:29] alanmoo opened #333 "Updates to data-card component"
Require className, possibly add `.row` and options for container type.

[2016-05-10 17:30] kristinashu opened #334 "[design QA] Homepage - What's New content and links"
Before launch we need to updated the content to show the latest Project, Blog Post and Resource the science team want to feature.

Each one should link to it's detail page.

Science team might want to write the copy so that it doesn't truncate - copy should be about 250 characters and titles should be kept short.

[2016-05-10 17:33] alanmoo commented on #333
And possibly font sizes that respond to viewport width at various breakpoints.

[2016-05-10 17:50] kristinashu opened #335 "[design QA] newsletter signup typo"
- [ ] Typo after check box "I'm"
- [x] "Privacy Notice" should link to https://www.mozilla.org/en-US/privacy/websites/

[2016-05-10 17:59] kristinashu opened #336 "[design QA] button styling"
I've mentioned this in a few styling tickets but it might warrant it's own ticket.

Button text and line color should be "mobile blue" or white (when on a photo or color background).

All buttons should have the same font size, weight and have the same amount of padding.

Button hover state should fade to the inverse color like on https://mozilla-foundation-research.herokuapp.com/globalweb/ and ht

[2016-05-10 18:55] kristinashu commented on #335
Looks like the link is there now so just the little typo

[2016-05-10 19:02] gvn commented on #125
I think we might have to upgrade the WP REST API plugin to V2 to achieve (sane/hack-free) client-side pagination.

Currently the `X-WP-Total` header isn't whitelisted by CORS, so I can't read it to see how many pages of posts there are. It doesn't seem like there's any way to enable `Access-Control-Expose-Headers` for `X-WP-Total` via the plugin's web interface. I'm not sure if there's server-side

[2016-05-10 19:04] kristinashu opened #337 "[design QA] When navigating to a new page, should be scrolled to top"
Clicking on an internal page link doesn't bring user to the top of the new page.

STR:
Go to Project or Event landing page https://science-mozilla-org-staging.herokuapp.com/projects
Scroll down and click on a project
When you get to the project detail page, you can not see the main nav bar because you are slightly scrolled down on the page.

Learning had similar issue https://github.com/mozilla/le

[2016-05-10 19:05] gvn commented on #125
Actually, one more option occurred to me. I can keep allowing additional pages of posts to be requested until the request just breaks. It's not very elegant, but I think it will work...

[2016-05-10 19:16] hannahkane commented on #125
@gvn - can you describe what the alternative to pagination is? Is it all posts on one page?

[2016-05-10 19:18] gvn commented on #125
Well, right now we have 10 posts with no way to get to more.

The option I'm suggesting is that you can load everything but you might still get a LOAD MORE button if there's nothing left. It's kind of an edge case though.

[2016-05-10 19:24] hannahkane commented on #125
I think it would be preferable to give users the option to load more, even if it eventually breaks. What do you think, @acabunoc @kristinashu ?

[2016-05-10 19:26] gvn opened #338 "CORS is wonky for WP API"
It seems like WP API is inconsistent about how it sets the `Access-Control-Allow-Origin` header. Sometimes it's there, sometimes it's not, sometimes it's the wrong domain (eg: a previous client).

My guess is that upgrading to V2 might solve this.

[2016-05-10 19:28] gvn commented on #338
cc: @acabunoc

[2016-05-10 19:29] gvn commented on #125
Agreed. I am running into other problems with the V1 API (#338), so upgrading to V2 might be inevitable.

[2016-05-10 19:31] gvn commented on #338
Example CURLs:

`curl -I http://wp.mozillascience.org/wp-json/posts\?`

[code]

[2016-05-10 19:31] #318 closed

[2016-05-10 19:54] acabunoc commented on #125
I got pagination working the current site by adding `?page=`. Not sure if the same will work for you?
https://github.com/mozilla/science.mozilla.org/blob/mozillascience.org/routes/blog.js#L16

We didn't have pagination for a year on the old site. I'm good with pushing to phase 2 if it comes to it.

[2016-05-10 19:55] acabunoc commented on #338
I'll take a closer look tomorrow and see if it's easy to upgrade to v2 and not break the current site!

[2016-05-10 19:59] gvn commented on #338
I'm definitely not 100% sure that'll solve it, but if it's backwards compatible then it probably wouldn't hurt to upgrade.

[2016-05-10 20:04] gvn commented on #338
Pretty sure it's a caching issue since `X-Cache`'s count drops back to 1 in the 2nd request.

[2016-05-10 20:11] kristinashu opened #340 "[design QA] grid width for body copy"
On some of the pages, the body copy sentence length is too long which makes it hard to read. Can they be narrower?

Text length looks ok on Event detail pages and Project detail pages:
<img width="1404" alt="screen shot 2016-05-10 at 12 58 34 pm" src="https://cloud.githubusercontent.com/assets/1068783/15160720/f60909a8-16af-11e6-9625-4939d4d846c9.png">
<img width="1402" alt="screen shot 2016-05-10

[2016-05-10 20:15] gvn commented on #125
To clarify, I can paginate. The issue is that I can't tell how many pages there are, so I'd have to blindy keep requesting more pages until things fail. I think that's ok though.

[2016-05-10 20:33] kristinashu opened #341 "[design QA] crop thumbnail images"
Can all thumbnail images (project, event, blog thumbnails) automatically crop so they all have the same height and width? Preferably they crop from the center so it would crop equally from the top and bottom or equally on both left and right side?

Staging:
<img width="1229" alt="screen shot 2016-05-10 at 1 31 04 pm" src="https://cloud.githubusercontent.com/assets/1068783/15161554/822e9b98-16b3-11

[2016-05-10 20:35] gvn commented on #338
@cadecairos had a great idea: cachebusting via query string. I'm going to try that now and see if it works...

[2016-05-10 20:38] kristinashu opened #342 "[design QA] fellowship icon sizes and not showing up"
The icons should be similar sizes but some of them look too big or too small.

Staging:
<img width="125" alt="screen shot 2016-05-10 at 11 51 34 am" src="https://cloud.githubusercontent.com/assets/1068783/15161718/13391550-16b4-11e6-91b3-762ec3a8321c.png">

Comp:
<img width="287" alt="screen shot 2016-05-10 at 1 34 57 pm" src="https://cloud.githubusercontent.com/assets/1068783/15161771/49402b70-16

[2016-05-10 20:44] cadecairos commented on #338
We might want to consider only cachebusting in staging/dev, so that we get cached responses in production.

[2016-05-10 21:08] acabunoc commented on #125
Ah, yeah that's cool

[2016-05-10 21:17] gvn commented on #338
There's still a possibility that another consumer of the API could hijack CORS by not cachebusting and break our staging/prod though, so I think we should leave it on to prevent that.

[2016-05-10 21:23] #338 closed

[2016-05-10 21:32] #319 closed

[2016-05-10 22:22] gvn opened #346 "Upgrade WP-API to v2"
I think we can get away with continuing to use V1 for now, but eventually migrating to V2 would probably make sense.

CC: @acabunoc

[2016-05-10 22:56] #320 closed

[2016-05-10 22:57] #293 closed

[2016-05-10 23:02] kristinashu commented on #194
Do we know the deadline date for applications?

[2016-05-11 00:10] kristinashu opened #349 "[design QA] images in body are too big"
Related to [design QA] grid width for body copy #340

To avoid massive images, they should use fewer grid columns than the copy.

Staging:
<img width="1051" alt="screen shot 2016-05-10 at 4 58 02 pm" src="https://cloud.githubusercontent.com/assets/1068783/15166232/bf4540cc-16d1-11e6-8a14-a2612912903b.png">
<img width="1252" alt="screen shot 2016-05-10 at 4 58 37 pm" src="https://cloud.githubuserco

[2016-05-11 10:59] kaythaney commented on #194
Let's say July 15. :) (cc @auremoser)

sent on the move. apologies for typos.

[2016-05-11 15:25] acabunoc commented on #317
Study group data is in: https://api-mozillascience-staging.herokuapp.com/admin/study_groups/studygroup/

[2016-05-11 16:57] kristinashu opened #350 "Copy and link updates to Fellowship pages"
Before launch we will need to:
- [x] update Apply Now button link to the screen door form link (need link)
- [x] update copy in bottom section to "Deadline for applications is July 15, 2016"

<img width="1220" alt="screen shot 2016-05-11 at 9 54 19 am" src="https://cloud.githubusercontent.com/assets/1068783/15189291/a7bd94ee-175e-11e6-8578-d55becd79c9d.png">

[2016-05-11 16:58] kristinashu commented on #194
Thanks! Closing this ticket.

[2016-05-11 16:58] #194 closed

[2016-05-11 17:09] #325 closed

[2016-05-11 17:21] #324 closed

[2016-05-11 17:21] acabunoc commented on #317
Resources data is in: https://api-mozillascience-staging.herokuapp.com/resources/

[2016-05-11 17:25] alicoding opened #351 "Write test for users, resources and study groups routes"
For single and list view for all

[2016-05-11 17:29] acabunoc commented on #317
@auremoser & @zee-moz have access to edit / clean up the resources & study groups! Data is in, though :)

[2016-05-11 17:29] #317 closed

[2016-05-11 17:38] kristinashu opened #352 "Link mailto in footer"
Looks like it's marked #TODO but just to make sure we don't miss it, the email should go to sciencelab@mozillafoundation.org

[2016-05-11 17:49] kristinashu commented on #336
Some buttons like on Project detail page match the background color, which is good:
<img width="186" alt="screen shot 2016-05-11 at 10 46 52 am" src="https://cloud.githubusercontent.com/assets/1068783/15190627/c9c11dfc-1765-11e6-85d6-f8eafa4483d4.png">

But some, like the Blog load more button, are white when they should be the same color as the background:
<img width="155" alt="screen shot 2016-0

[2016-05-11 17:52] kristinashu commented on #342
Also noticed that some icons that look good at full width, start to look weird a narrower browser widths:

Staging - narrow browser width:
<img width="261" alt="screen shot 2016-05-11 at 10 44 57 am" src="https://cloud.githubusercontent.com/assets/1068783/15190728/5c1cf2d4-1766-11e6-80df-06e338233c5c.png">

Staging - wide browser width:
<img width="352" alt="screen shot 2016-05-11 at 10 50 56 am"

[2016-05-11 17:56] kristinashu opened #353 "[design QA] responsive layout of Project filters"
Looks a little funny at narrower widths:
<img width="331" alt="screen shot 2016-05-11 at 10 45 51 am" src="https://cloud.githubusercontent.com/assets/1068783/15190796/ae1e8f02-1766-11e6-832c-2ce2b908e4fc.png">

Please:
- [ ] add padding in between the search bar and the drop down
- [ ] center align filters

[2016-05-11 17:59] gideonthomas commented on #291
@acabunoc does anything else need to be done here?

[2016-05-11 18:11] kristinashu opened #355 "[design QA] put FAQs into accordions"
FAQ on staging is just text, it should be in accordions. I think accordions is already a component https://github.com/mozilla/science.mozilla.org/issues/319

Body copy on staging also look thicker than the body copy on all the other pages, all body copy should be the thinner font weight.

Staging:
<img width="1374" alt="screen shot 2016-05-11 at 11 02 41 am" src="https://cloud.githubusercontent.co

[2016-05-11 18:34] #351 closed

[2016-05-11 21:46] alanmoo commented on #303
Dear future @gvn,

I've found a solution for this that doesn't require updating Bootstrap right now, but while exploring I realized that there will need to be updates to [three-up's styles](https://github.com/mozilla/science.mozilla.org/blob/master/app/react/components/three-up/three-up.scss). `make-col` and `make-col-span` become one mixin.

[2016-05-11 22:47] kristinashu opened #357 "[design QA] add equation to home page"
Home page is missing the + and =

Staging:
<img width="1337" alt="screen shot 2016-05-11 at 3 44 45 pm" src="https://cloud.githubusercontent.com/assets/1068783/15198923/76c7bcb2-178f-11e6-8818-094320bf89fd.png">

Comp:
<img width="1239" alt="screen shot 2016-05-11 at 3 45 17 pm" src="https://cloud.githubusercontent.com/assets/1068783/15198922/7507842a-178f-11e6-925a-25df746b3e0e.png">