[2016-05-11 22:52] kristinashu commented on #337
Seems much worst in FF on my iPhone (I'm way more scrolled down the page).

[2016-05-11 23:13] kristinashu commented on #342
Examples above are from FF. The icons look good in Chrome. They don't show up at all in Safari and in FF on iPhone.

Staging in Safari:
<img width="1067" alt="screen shot 2016-05-11 at 4 12 46 pm" src="https://cloud.githubusercontent.com/assets/1068783/15199473/3c50cbd8-1793-11e6-8c2f-7f1e5630b558.png">

[2016-05-12 06:16] alanmoo opened #358 "Remove study group pagination?"
Is it possible to just get all study groups in one API call? @gideonthomas @alicoding

`https://api-mozillascience-staging.herokuapp.com/study-groups/`

[2016-05-12 15:54] #358 closed

[2016-05-12 16:57] gvn commented on #303
Ok, cool. Do you want to throw a ticket in the backlog (Blue Sky, I guess) for that update?

[2016-05-12 17:05] #291 closed

[2016-05-12 17:29] gvn commented on #283
@kristinashu Are there tab icons for the Study Groups and Events tab switchers?

[2016-05-12 17:38] #310 closed

[2016-05-12 18:09] alanmoo opened #359 "Update three-up component once Bootstrap 4 is updated"
This is just kind of a note for the future:

While exploring I realized that with the next update to Bootstrap there will need to be updates to three-up's styles. `make-col` and `make-col-span` become one mixin, a few styles need to be refactored.

The new signature is `@include make-col($size, $columns: $grid-columns, $gutter: $grid-gutter-width)`, at least on https://github.com/twbs/bootstrap/bl

[2016-05-12 18:10] alanmoo commented on #359
(Blocked until Bootstrap v4 releases a new tag)

[2016-05-12 18:11] acabunoc commented on #306
done

[2016-05-12 18:11] #306 closed

[2016-05-12 18:17] kristinashu commented on #283
All of them should now be in the assets folder https://drive.google.com/a/mozilla.com/folderview?id=0B2irLVDJivhLUm1HZExlOUVkcFk&usp=sharing

and attached here
[tab icons.zip](https://github.com/mozilla/science.mozilla.org/files/262005/tab.icons.zip)

[2016-05-12 21:14] acabunoc commented on #305
tags consolidated! Still 76, but they make sense now!

[2016-05-12 21:14] #305 closed

[2016-05-12 21:37] gideonthomas commented on #305
wooo thanks @acabunoc!

[2016-05-12 21:41] #283 closed

[2016-05-12 22:00] kristinashu commented on #321
I've opened some tickets, labeled and put what I could into milestones. Tickets I have not assigned to a milestone are certainly not priories but I would love to see them done before launch, if we have the time.

[2016-05-12 22:00] #321 closed

[2016-05-12 22:54] gvn commented on #309
Service: https://api-mozillascience-staging.herokuapp.com/resources/

[2016-05-13 12:24] acabunoc opened #363 "Footer twitter link - @MozillaScience"
The Twitter link in the footer should go to https://twitter.com/mozillascience (not https://twitter.com/mozilla)

[2016-05-13 14:47] auremoser commented on #296
I added some copy for this, let me know if it's too much or not enough. Apologies for the delay!

[2016-05-13 16:40] hannahkane commented on #296
Thanks, @auremoser! I'm closing this, but tagging @alanmoo who's building the pages.

[2016-05-13 16:40] #296 closed

[2016-05-13 16:40] alanmoo commented on #296
I literally just finished copying this stuff into the site. Thanks!

[2016-05-13 16:43] hannahkane commented on #296
@alanmoo you are so ahead of the game.

[2016-05-13 16:44] auremoser commented on #296
Superdupe thanks @alanmoo + @hannahkane

On Fri, May 13, 2016 at 12:40 PM, Alan Mooiman <notifications@github.com>
wrote:

--
Aurelia Moser
Community Lead, Mozilla Science Lab
Twitter @auremoser | GitHub @auremoser | Skype: auremoser1

[2016-05-13 16:50] #322 closed

[2016-05-13 17:35] gvn opened #365 "Component-ize sort filter"
Right now it's tightly coupled to `projects.jsx`. We need it for at least Resources as well.

[2016-05-13 17:40] gvn opened #366 "Add sorting filter to Resources view"

[2016-05-13 17:40] gvn commented on #366
blocked by #365

[2016-05-13 18:18] gvn commented on #309
Going to add the filtration in a follow-up ticket: https://github.com/mozilla/science.mozilla.org/issues/366

[2016-05-13 18:59] acabunoc opened #368 "Add CC-BY 4.0 to the footer"
This needs to present in the footer before we launch
https://creativecommons.org/licenses/by/4.0/

cc @kaythaney

[2016-05-13 19:15] #309 closed

[2016-05-13 20:07] #365 closed

[2016-05-13 21:14] gvn commented on #357
Looks like the CSS is there in `home.scss` and must have gotten lost in a ThreeUp refactor.

[2016-05-13 21:44] #335 closed

[2016-05-13 23:27] alanmoo opened #373 "Make filter component a select element at small screen sizes"
Or figure out some other solution, but it seems like a select would work.

[2016-05-16 17:03] acabunoc commented on #368
cc @xmatthewx

[2016-05-16 17:13] acabunoc opened #374 "Close fellows applications for website launch"
We should launch the site without the call for Fellows

- [x] Hide the 'apply to be a fellow' hero images on the homepage
- [x] Hide the 'Apply Now' block on Fellows pages

[2016-05-16 17:14] gideonthomas commented on #269
This is done.

[2016-05-16 17:14] #269 closed

[2016-05-16 17:14] acabunoc opened #375 "Copy Changes for fellows application launch!"
June 3!

@auremoser can provide links to screendoor for applications

[2016-05-16 17:56] gvn commented on #373
+1 to select

[2016-05-16 18:24] gvn opened #376 "Study Groups accordion improvements"
- [ ]  Improve the open/close transitions. There is retro-motion in the animation caused by two animations firing simultaneously. Recommend having the close transition be instantaneous, or doing the open animation after the close animation has finished.
- [ ] Animation on open/close is generally chunky, probably caused by CSS columns. Refactoring the transitions may help...

[2016-05-16 18:38] #366 closed

[2016-05-16 19:52] xmatthewx commented on #368
cc @kristinashu – let's add this bit to the universal footer design.

[2016-05-16 22:14] alanmoo opened #379 "Display inline messaging when submiting study group"
The form submission should be switched to XHR instead of an action on the form element. Then the response should happen inline. This could use some design help though.

[2016-05-16 22:41] #323 closed

[2016-05-16 22:41] #363 closed

[2016-05-16 23:04] alanmoo commented on #374
Should the top CTA change too? `Are you a champion of open science and open data? Mozilla is seeking researchers eager to advance openness in science and data within their institutions.`

[2016-05-16 23:09] #314 closed

[2016-05-16 23:10] alanmoo commented on #315
Closed by #372

[2016-05-16 23:10] #315 closed

[2016-05-16 23:12] alanmoo opened #381 "Build dynamic map for Study Groups page"
Some conversation was in #314, but the MVP of that has been merged. @auremoser if you have something in mind that you want to throw together in a PR that would be great, otherwise @gvn or I can take this on eventually, it's just lower priority at the moment.

[2016-05-16 23:42] #368 closed

[2016-05-16 23:47] #352 closed

[2016-05-16 23:51] alanmoo commented on #350
@acabunoc What's the screen door link? This will be hidden, but I want to add it all in now so it's easier to unhide before launch.

[2016-05-16 23:59] alanmoo commented on #357
I'm guessing the same refactor shrunk those icons

[2016-05-17 00:00] #276 closed

[2016-05-17 12:53] auremoser commented on #381
Surely, I'll take a look later today. Thanks @alanmoo !

[2016-05-17 15:40] gideonthomas opened #385 "Format the time shown for geo-specific events"
On the API, we store the start and end times for an event in UTC. We also provide a timezone field (which apparently has not been populated in the database yet) that is a string which helps convert those UTC times into a time that is appropriate for that event.

Based on a quick chat with @alanmoo, this might be relevant only for events that are not online and are occurring at a specific location.

[2016-05-17 15:43] gideonthomas opened #386 "Add timezone data for events to the db"
Once the format for the timezone field for events has been decided, all events should have this field filled in.

Blocked partly on information from https://github.com/mozilla/science.mozilla.org/issues/385

[2016-05-17 15:51] gideonthomas opened #387 "Archived Events need pagination"
I don't see all the events under the "Archived events" section on this page: http://science-mozilla-org-staging.herokuapp.com/programs/events

**Expected** - 15 archived events
**Actual** - 9 archived events

Is this intentional?

[2016-05-17 16:36] gvn commented on #387
Looks like it didn't get pagination added to it, so no I don't think it's intentional. Good catch!

[2016-05-17 16:38] #124 closed

[2016-05-17 16:46] gvn opened #388 "Projects hero links missing"
http://science-mozilla-org-staging.herokuapp.com/projects

The links in `Have a project you want to add?Bring it to our Global Sprint, Mozfest, or Working Open Workshop.` need wiring up.

Also there should be a space after the `?`.

[2016-05-17 16:51] gvn opened #389 "Projects "help with" links are empty"
Right now there are placeholder links in "Help with" on /projects.

[2016-05-17 16:55] #389 closed

[2016-05-17 17:46] gvn opened #390 "Switch to git flow"
Git flow reference: http://nvie.com/posts/a-successful-git-branching-model/

- [x] add `develop` branch and set as default
- [x] map `develop` branch to [staging server](http://science-mozilla-org-staging.herokuapp.com/) and set up CI
- [x] add production/release-candidate server to Heroku, which pulls from `master`
- [x] point production/release-candidate to the production API once it's ready & m

[2016-05-17 18:46] #304 closed

[2016-05-17 19:11] gvn commented on #334
@hannahkane Front end is blocked until we ascertain the feature choices and get copy.

[2016-05-17 19:38] gvn opened #394 "Alphabetize topics on /projects"
For a bit of a UX improvement...

[2016-05-17 19:39] alanmoo commented on #388
What I'm guessing for links:

Global Sprint: programs/events/global-sprint-2016
Mozfest: https://mozillafestival.org/
Working Open Workshop: ?? @acabunoc

[2016-05-17 20:13] gideonthomas commented on #390
All set up!

[2016-05-17 20:36] gvn opened #395 "wp.mozillascience.org lacks https"
Right now there are mixed content warnings on https://science-mozilla-org-production.herokuapp.com/blog because `wp.mozillascience.org` is being accessed over `http`.

Can we add SSL to wp.mozillascience.org?

CC: @acabunoc

[2016-05-17 20:51] gvn commented on #390
![itclap](https://cloud.githubusercontent.com/assets/206379/15338820/6cc9f896-1c36-11e6-86b9-112c504646dd.gif)

[2016-05-17 20:52] #390 closed

[2016-05-17 20:56] hannahkane commented on #334
@auremoser @zee-moz @stephwright @kaythaney please see above

[2016-05-17 20:59] alanmoo commented on #385
@acabunoc we could use some guidance on this.

Currently, all events shorter than a day display their time in the visitor's time zone. Is that OK, even for events that are fixed to a location [like the one Gideon referenced](http://science-mozilla-org-staging.herokuapp.com/programs/programs/events/working-open-workshop-mixer-february-4th)? If so, I believe this issue can be closed.

[2016-05-17 21:48] auremoser commented on #375
Status update:
* screendoor subscription is being processed w/dev ops
* until then, I won't have the link but I'll get it to you before (hopefully) the 20th.

Thanks!

[2016-05-17 23:26] #329 closed

[2016-05-17 23:40] acabunoc commented on #388
working open workshop *should* be: http://science-mozilla-org-staging.herokuapp.com/programs/programs/events/working-open-workshop-february-2016 -- but it doesn't seem to be loading

[2016-05-17 23:41] acabunoc commented on #388
nevermind, there was a double 'programs': http://science-mozilla-org-staging.herokuapp.com/programs/events/working-open-workshop-february-2016

I got there from the events page, so that's odd

[2016-05-17 23:43] acabunoc commented on #395
There's SSL on https://mozscienceblog.wpengine.com/ -- we can update all the links from wp.mozillascience to mozscienceblog.wpengine.com

[2016-05-17 23:44] acabunoc commented on #350
https://github.com/mozilla/science.mozilla.org/issues/375#issuecomment-219864757

[2016-05-17 23:46] alanmoo commented on #388
@acabunoc That fix is already built, will deploy with these changes in #396

[2016-05-18 00:01] hannahkane opened #399 "QA the v1"
Hoping the Science team can help QA this week.

This means looking at the staging site, and filing bugs for:
 * Bad copy (forgotten placeholder copy, typos)
 * Broken links (including header, footer, and all page content)
 * Bad data - i.e. projects, resources, and events should look accurate and complete (@gideonthomas to advise on when the staging server is pointing to production-ready data)
 *

[2016-05-18 00:02] hannahkane commented on #399
@auremoser @zee-moz @stephwright @kaythaney - do any of you have time to help QA this week? Or suggestions for community members we might call on to help with this? thanks!

[2016-05-18 00:51] hannahkane commented on #399
@kgorr's going to help out as well. Thanks, Kristina!!

[2016-05-18 01:48] auremoser commented on #399
I can help but not until Friday, I'll set aside some time. Thanks @hannahkane

[2016-05-18 02:58] auremoser commented on #334
Happy to help, @kristinashu can you point to the part of the copy doc where you need this material?

[2016-05-18 06:18] stephwright commented on #399
I can help too but not til Thursday.  I'll block off some time, as well.  I know I have the link to the staging site somewhere but do you mind putting it in here for easy reference?

[2016-05-18 14:56] hannahkane commented on #399
Thanks @auremoser and @stephwright. Staging is here: http://science-mozilla-org-staging.herokuapp.com/

[2016-05-18 16:56] #388 closed

[2016-05-18 17:08] alanmoo commented on #334
@auremoser I just added a comment https://docs.google.com/document/d/1k2Ds-iw4B_Sh5ae1areW1qfuLPtSqmgohtXYBkOi7r4/edit#heading=h.ppc8bywn72bz

[2016-05-18 17:09] alanmoo commented on #334
This is for the three white boxes on the plant background. https://science-mozilla-org-staging.herokuapp.com/

[2016-05-18 18:08] gideonthomas commented on #399
I believe that QA is happening on https://science-mozilla-org-production.herokuapp.com/ (@alanmoo can you confirm this assertion).

@auremoser for any data changes that need to happen directly in the API, you can use https://api-mozillascience-production.herokuapp.com/admin for them. Your previous username/password should work on there too.

[2016-05-18 18:11] alanmoo commented on #399
@gideonthomas No, it's happening on staging as Hannah linked. That's where merges into the develop branch automatically deploy so it gets updates faster.

[2016-05-18 18:15] gideonthomas commented on #399
@alanmoo so should staging point to the production API?

[2016-05-18 18:20] alanmoo commented on #399
It probably should until launch for easier QA, then we can split it to point to the staging API.

[2016-05-18 19:26] auremoser commented on #399
Thanks @gideonthomas + @alanmoo !

[2016-05-18 19:36] acabunoc commented on #374
@alanmoo I think it's fine! We could change 'Appy Now' to 'Applications open on June 3'

[2016-05-18 23:19] acabunoc commented on #385
No, if the event occurs at a specific location the time *should* be in the local timezone. However, I'm happy moving this to phase 2.

[2016-05-18 23:26] alanmoo commented on #385
Ok, we're going to figure out how this is indicated then- I was thinking a checkbox when creating an event that indicates it's meant for in-person attendees only (not an online event).

[2016-05-18 23:28] alanmoo commented on #353
see #373 too

[2016-05-18 23:38] alanmoo commented on #337
@gvn as I suspected (and the learning ticket all but confirms), this is react-router related. We could band-aid this with changes to all the `<Link>` elements, but I'm starting to really feel like we should move to back-end use of react-router and reduce what gets sent to the user- this is really a content-driven site, after all, not a full webapp.

[2016-05-18 23:39] alanmoo opened #405 "Consolidate fonts"

[2016-05-18 23:40] alanmoo opened #406 "Migrate React-router to server side"

[2016-05-18 23:40] alanmoo opened #407 "Refactor webpack settings to reduce front-end overhead"

[2016-05-18 23:40] alanmoo opened #408 "Performance Improvements"
Performance improvements across the site

[2016-05-18 23:50] alanmoo commented on #342
For desktop Firefox, these icons are varying in size according to the number of lines in the row of text to their right.

[2016-05-19 03:11] KGorr commented on #399
@hannahkane, do all of the projects and resources need QA'd, or just the page they are housed on?

[2016-05-19 03:16] alanmoo commented on #399
Anything that's on that same herokuapp domain should be QA'ed

-Alan

On May 18, 2016, 8:11 PM -0700, Kristina Gorr<notifications@github.com>, wrote:

[2016-05-19 14:48] stephwright opened #410 "[QA] "Apply Now" button on Fellows page doesn't work"
http://science-mozilla-org-staging.herokuapp.com/programs/fellowships
Button in header at top of page doesn't do anything

[2016-05-19 14:49] stephwright commented on #410
Same w/ button at bottom in blue frame under list of fellows

[2016-05-19 15:08] stephwright commented on #399
In an effort not to duplicate... uh, efforts, heads up I'm working on Fellows pages right now.

[2016-05-19 15:12] stephwright opened #411 "[QA] Several links in fellows bios are broken or point to wrong place"
http://science-mozilla-org-staging.herokuapp.com/programs/fellowships
Under Joey:
* Link to "Big Atlas of Pools" results in 404
* "building workshops" link points to a slide halfway through the presentation
* same w/ "between his MSc research"

Under Richard:
* Solver.io has bad certificate - talkiing to Richard now, he's going to create a landing page because Solver.io "doesn't exist anymore".  M

[2016-05-19 15:15] auremoser commented on #334
[Updated](https://docs.google.com/document/d/1k2Ds-iw4B_Sh5ae1areW1qfuLPtSqmgohtXYBkOi7r4/edit#), feel free to edit down to fit @alanmoo , as long as there are verbs and nouns in agreeable places.

[2016-05-19 15:24] stephwright opened #412 "[QA] Need to update some content in Fellowships Overview"
http://science-mozilla-org-staging.herokuapp.com/programs/fellowships
"About the Program"
- [ ] 2nd para: "Fellows will spend 10 months starting September 2015" - suggest removing year
- [ ] inconsistent use of Oxford comma throughout text (no biggie, just caught my eye :) )
- [ ] some of the graphic bullets under throughout the page look significantly bigger than others

[2016-05-19 15:28] stephwright commented on #412
Just found out all the copy is a placeholder while getting application up & running.  Removing Milestone for this heartbeat.

[2016-05-19 15:29] stephwright opened #413 "[QA] Archived events not sorted by date"
http://science-mozilla-org-staging.herokuapp.com/programs/events
Is there a way to get these sorted by date.  They appear to be random at the moment.

[2016-05-19 15:51] stephwright opened #414 "[QA] Incorrect dates on Global Sprint event"
Global Sprint is June 2-3, not 1-3

[2016-05-19 15:58] stephwright commented on #399
Also reviewed Global Sprint page.  Is there some other way I should be tracking this so we're not all reviewing the same pages w/o reviewing others?

[2016-05-19 16:03] auremoser commented on #375
### Content Update:

All content for the new fellow CFP is available in these documents, request access if you need them ahead of time:

* [2016 CFP Landing Page Copy](https://docs.google.com/document/d/1CpeoT-gJjapZ54HG_-2AqxIIYmNnpoF2p995WZrbjOc/edit#)
* [2016 FAQ](https://docs.google.com/document/d/1iE-UAM1-8DABBF4ynGBSz6gHw4jCnZtFZnz57nyJQGk/edit#)
* [2016 Application Questions](https://docs.g

[2016-05-19 16:20] auremoser commented on #375
Addendum: When I said "June 6th" I meant that I'm suggesting people visit the application on the Monday after the launch of the site, just in case we want to let the site breathe for a few days before we up the traffic.

[2016-05-19 16:54] gvn commented on #395
Is the wordpress API under a different path on mozscienceblog.wpengine.com?

I tried `https://mozscienceblog.wpengine.com/posts?cachebuster=592515951852.9949&page=1` and it doesn't resolve.

[2016-05-19 17:15] alanmoo commented on #410
This is about to change when #382 lands

[2016-05-19 17:15] #410 closed

[2016-05-19 17:17] alanmoo commented on #414
I wonder if this has something to do with time zones...

[2016-05-19 17:26] gvn commented on #395
Ok, I think this is working under: https://mozscienceblog.wpengine.com/wp-json

[2016-05-19 17:36] #395 closed

[2016-05-19 18:02] #342 closed

[2016-05-19 19:02] gideonthomas commented on #413
This has been implemented on the API:
`/events/?sort=starts_at` and `/events/?sort=-starts_at`

[2016-05-19 19:12] KGorr opened #416 "[QA] Homepage/Fellowships/Study Groups"
**Homepage**
What’s new section – nothing is linked

**http://science-mozilla-org-staging.herokuapp.com/programs/fellowships**

All Tabs
- [x] Apply now button not working (both instances)
- [x] Under 2nd apply now button it says “Deadline 11:59pm PT [date], 2016”

Fellows Tab
- [x] Fellows is capped in 1st paragraph, but no where else
- [x] I get a “Your connection is not secure” message from Ric

[2016-05-19 19:13] KGorr commented on #399
To help others see what I've noted, I filed this ticket: https://github.com/mozilla/science.mozilla.org/issues/416

@hannahkane - if it needs divided into different tickets, let me know!

[2016-05-19 19:21] gvn commented on #125
Moving to `Phase 2` per standup discussion.

[2016-05-19 19:39] stephwright commented on #399
Yer awesome @KGorr !!!  Thanks!

[2016-05-19 19:52] #374 closed

[2016-05-19 20:00] gideonthomas commented on #414
Yeah I'm pretty sure! In the database, the time is stored as "2016-06-02T06:00:00Z"

[2016-05-19 21:29] auremoser commented on #375
O.k., content is complete for the application, embed the form via the code below, or just link to it via the link included below. It is **not live yet**, I'll push it live on the 3rd, but the details below will be the same.

Link: <https://mozilla-science-lab.forms.fm/mozilla-fellows-for-science-2016>

Embed:
[code]

Where is the best place to add the FAQ content, in the website directly via my lo

[2016-05-19 21:51] #387 closed

[2016-05-19 22:08] hannahkane opened #418 "change IRC link in footer to a chat channel"
Not sure which one. @acabunoc - is there an MSL channel?

[2016-05-19 22:38] KGorr commented on #416
Oh, and super-picky find: throughout the whole site, the oxford comma is used and not used about 50/50. I didn't note all instances because I'm not sure which should be used.

[2016-05-19 22:48] alanmoo commented on #375
Can we just link to that page come June 3? I don't think there were plans to embed it.

[2016-05-19 22:59] #357 closed

[2016-05-19 23:01] alanmoo commented on #411
Could Solver.io link to https://github.com/solvers ?

[2016-05-19 23:17] alanmoo commented on #234
This component breaks the mobile view, we really need to fix this before launch.

[2016-05-19 23:52] acabunoc commented on #418
http://gitter.im/mozillascience/community

But we mirror content from here to our irc channel

[2016-05-20 00:03] hannahkane commented on #418
in that case, we can leave as is if you'd prefer. I just thought maybe a switch had been made to chat.mofo.

will close, but re-open if you prefer the gitter link.

[2016-05-20 00:16] auremoser commented on #375
Yep, that's why I including the link.

[2016-05-20 00:17] acabunoc commented on #418
I prefer the gitter link! Thanks :)

[2016-05-20 17:35] #350 closed

[2016-05-20 17:38] alanmoo commented on #414
I've addressed this in a PR- when rendering a date range I'll use UTC for the dates. We're going to have to keep an eye on this when we get to form submission for events.

[2016-05-20 17:56] #411 closed

[2016-05-20 18:12] #413 closed

[2016-05-20 18:12] #414 closed

[2016-05-20 18:20] gvn commented on #416
@KGorr Is fellows supposed to be capitalized?

[2016-05-20 18:25] KGorr commented on #416
@gvn - I'm not the authority on it (just helping), but it seemed to NOT be capped more often than capped. Not sure who to ask for verification...

[2016-05-20 18:27] gvn commented on #416
@hannahkane Do you know who can clarify what needs to happen in this ticket?

[2016-05-20 18:28] hannahkane commented on #416
Let's not capitalize "fellows."

Not sure about the rules on Oxford comma (personal preference: yes!), but let's not worry about fixing those for May 20.

[2016-05-20 18:28] hannahkane commented on #416
cc @KevZawacki who I think has a vision of someday having a written styleguide for Mofo. The above could provide fodder for that.

[2016-05-20 18:29] hannahkane commented on #416
we can also not capitalize "fellowship" except for when it's used formally as in the "Mozilla Fellowships for Science".

[2016-05-20 18:41] #334 closed

[2016-05-20 18:43] hannahkane commented on #399
I'm closing this because several people have had a chance to review the site and file tickets. More reviewers/tickets are welcome!

[2016-05-20 18:43] #399 closed

[2016-05-20 18:45] hannahkane commented on #412
Closing this, as all of these are now referenced in other tickets. Thanks for the eagle eye!

[2016-05-20 18:45] #412 closed

[2016-05-20 18:48] hannahkane commented on #240
Adding this to May 20 because I think it looks like a bug, but not a blocker for launch.

[2016-05-20 19:01] gideonthomas opened #424 "Make the admin interface for the API more user-friendly"
Would like to have feedback on what we can improve in the admin interface to make adding/modifying/deleting data easier. Are there any issues that you have while navigating data?

Suggestions are welcome based on your use case.

cc @acabunoc, @auremoser

[2016-05-20 19:13] gideonthomas commented on #299
@alanmoo this is phase 2 right?

[2016-05-20 19:51] alanmoo opened #425 "OpenMetaAnalysis name"
The data in https://api-mozillascience-staging.herokuapp.com/projects/27/ has a long name with no spaces causing rendering issues. Should it...not be a url? Or should I force wrap mid-word on titles?

[2016-05-20 19:54] acabunoc commented on #425
updated to openMetaAnalysis -- does this fix things?

[2016-05-20 20:18] alanmoo commented on #425
That is to say, it would solve it, but I'm not seeing that on prod or staging

[2016-05-20 20:23] acabunoc commented on #425
Ah, @gideonthomas it won't let me save without changing the slug:
![screen shot 2016-05-20 at 13 22 21](https://cloud.githubusercontent.com/assets/617994/15441131/f7f182c8-1e8d-11e6-948b-ec04ebfdfe04.png)

[2016-05-21 16:06] gideonthomas commented on #425
@acabunoc Unfortunately that is not a valid slug name because of the punctuation (https://en.wikipedia.org/wiki/Semantic_URL#Slug). Have you tried just having the slug as `openMetaAnalysis`?

[2016-05-21 19:52] acabunoc commented on #425
We could but then redirects won't work properly

[2016-05-23 16:53] gvn commented on #418
@acabunoc were you planning on doing a PR, or should Alan or I take this?

[2016-05-23 19:04] #282 closed

[2016-05-23 20:38] alanmoo commented on #234
I'm submitting a PR for this that should fix everything except for the input/button pixel text- that's an issue being caused by the Fira Font- when I change inputs back to the system font, it looks as it should. I'm hesitant to make adjustments to input elements based on that, because I've seen this type of fix spiral out of control in the past.

[2016-05-23 22:07] alanmoo commented on #349
I've given a swing at solving for this in #430, @kristinashu this should be merged into staging by the time you're back. I could only address the images at the top of the event pages, non-text content in the body of the event details has other variables at play that make it more difficult to quickly solve.

Please take a look at it (at various viewport sizes) and let me know your thoughts.

[2016-05-23 22:28] alanmoo commented on #341
Only future projects have the image, and there's only one of those for now, so I'm putting this in the backlog. It's hard to apply a blanket paradigm to this and make sure it looks good, so we may want to suggest ratios for images when adding them or something.

[2016-05-23 22:32] alanmoo commented on #233
It seems like most of the concerns here stem from identifying typographic styles. Is there a set of font sizes/weights used across the project so that we can use a few classes instead of manually setting everything?

[2016-05-23 23:25] #240 closed

[2016-05-24 15:10] gideonthomas commented on #425
alright, I'll try to add an exception for the period character.

[2016-05-24 15:59] gideonthomas commented on #425
@acabunoc how bad would it be if we added an exception on the redirect instead and change the slug to `openMetaAnalysis`? That is to say, `mozillascience.org/projects/jstirnaman-openMetaAnalysis.github.io` will redirect to `science.mozilla.org/projects/openMetaAnalysis` and everything else will redirect normally?

It seems like a bit of a rabbit hole trying to add exceptions for periods and I'd li

[2016-05-24 16:04] acabunoc commented on #425
Either option works! But currently our slugs are generated from the github repo name - which often contain a period. I we do the one off redirect, we'll need to update how we generate slugs.

[2016-05-24 16:34] gideonthomas commented on #425
Yep, any new project that is created won't have this problem.
I'll identify the projects/events that need this change for now.

[2016-05-24 16:51] #191 closed

[2016-05-24 16:52] #394 closed

[2016-05-24 17:03] #234 closed

[2016-05-24 17:08] gideonthomas commented on #425
**Note to self**: When we set up redirects to the new site, add the above mentioned redirect exception.
`openMetaAnalysis` seems like the only one that requires this exception.

[2016-05-24 17:09] acabunoc commented on #425
Updated!

[2016-05-24 17:17] acabunoc opened #433 "Projects landing page should only show 'active' projects"
Some of these have the status 'complete'. Only 'active' projects should be shown

Example:
http://api-mozillascience-staging.herokuapp.com/projects/23/

[2016-05-24 17:38] acabunoc commented on #375
The fellowship copy needs to be updated on the new site by the front-end team for the June 3 launch. Copy in the docs below

* [2016 CFP Landing Page Copy](https://docs.google.com/document/d/1CpeoT-gJjapZ54HG_-2AqxIIYmNnpoF2p995WZrbjOc/edit#)
* [2016 FAQ](https://docs.google.com/document/d/1iE-UAM1-8DABBF4ynGBSz6gHw4jCnZtFZnz57nyJQGk/edit#)

[2016-05-24 17:44] gvn opened #434 "Write more documentation"
The README is pretty light right now. Needs to be more fleshed out with architecture & best practices.

[2016-05-24 18:10] hannahkane opened #435 "Front-end QA"
Let's coordinate front-end QA.

[2016-05-24 18:11] hannahkane commented on #435
I can look at every page of the site on an iPhone/Safari. Is that helpful, @gvn @alanmoo ?

[2016-05-24 18:15] gvn commented on #435
Yes, I think that we should all go through with our phones/devices.

I have a Nexus 5, iPad, and some other random phones.

[2016-05-24 19:08] alanmoo commented on #435
I've got an iPhone 6 and Nexus 4

[2016-05-24 19:16] xmatthewx opened #436 "[QA] Optimize Search & Filter interactions"
Forgive me if this is already filed somewhere. There are a few opportunities to polish the Project search and filter interactions. None seem like blockers, though filtered search might confuse some people.

1. **None found** – when a search or filter reveals nothing, we should display a friendly note.
1. **Loading** – there's a slight lag between changing a filter or sort, and the results that are

[2016-05-24 19:22] gvn opened #437 "Pic of Joey is showing up on mobile"
<img width="407" alt="screen shot 2016-05-24 at 12 21 37 pm" src="https://cloud.githubusercontent.com/assets/206379/15516971/1f744ff0-21aa-11e6-9157-2b5dcd4a0d97.png">

[2016-05-24 19:31] gvn commented on #337
I don't think we should move to server-side react router until V2.

If there is a way we can do an interim fix, we should. This is really awkward on mobile, for example: tapping the "content mine" link on the homepage. We might just have to force the scroll to 0 on view changes.

[2016-05-24 19:51] #418 closed

[2016-05-24 20:34] gvn opened #438 "Display glitches in accordion"
On an iPad w. Safari there are display glitches when using the accordion.

Repro: expand & collapse a few items.

[2016-05-24 20:36] gvn opened #439 "Submit button cut off on iPad"
On iPad Safari and Chrome:

![image](https://cloud.githubusercontent.com/assets/206379/15519060/881901cc-21b4-11e6-9296-3754842831ed.png)

[2016-05-24 20:44] gvn opened #440 "Some encoded entities are showing up in blog post titles"
EG: `&#8221;`

<img width="941" alt="screen shot 2016-05-24 at 1 42 25 pm" src="https://cloud.githubusercontent.com/assets/206379/15519272/8410c366-21b5-11e6-8487-cb83745c6160.png">

[2016-05-24 23:03] alanmoo commented on #436
All great points! Which should be prioritized? 3 and 4 are pretty quick to fix, 1 and 5 *shouldn't* be difficult though I can see a few potential issues. 2 might take a little longer.

[2016-05-24 23:12] hannahkane commented on #438
I'm seeing this on iPhone 5 with Safari. Same thing?

![img_1085](https://cloud.githubusercontent.com/assets/8389648/15522857/436e5da4-21ca-11e6-827d-7befbfb5cfca.PNG)

[2016-05-24 23:17] hannahkane opened #443 "Improve "Start a Study Group" experience"
When a user is viewing the "Run a Study Group" tab, we currently have a paragraph with several links to resources for starting a Study Group, and then a short form (email/location + submit button). Upon submission, the user lands on the Confirmation screen of a Google form and sees the message "Start a Mozilla Study Group. Your response has been recorded."

We should improve this experience. Possi

[2016-05-24 23:17] hannahkane commented on #443
cc @auremoser and @kristinashu for input

[2016-05-24 23:34] hannahkane commented on #436
I'm pretty sure @kristinashu mocked up a search results page with "none found" at some point, but I can't find it in the redpen now. Perhaps we can wait until she's back to resolve that one (not a blocker for release).

I completely agree on point 5. We're setting people up to narrow their search too much.

If 3 and 4 are easy, maybe we aim to do those now.

[2016-05-24 23:35] hannahkane commented on #435
Finished going through on an iPhone 5. Didn't find anything that hadn't already been filed.

[2016-05-24 23:47] #440 closed

[2016-05-25 15:53] auremoser commented on #443
Thanks for asking @hannahkane
I would say:
* can we rename the tab "Get Started" or "Start a Study Group", "run" implies maybe running a program on selection, or something else?
* can we add email/location/**name** + submit button), we have a form that does email location now and I always am uncomfortable addressing people by my best name guess based on their address.

* instead of "your response

[2016-05-25 17:24] alanmoo opened #446 "Site doesn't load on iOS8"
Console shows

[code]

[2016-05-25 17:44] alanmoo commented on #443
I'd also like the form submission response to be inline, but opted to run with what was working rather than spend too much time on it when I was building it.

[2016-05-25 18:41] alanmoo commented on #446
Oh look at that, iOS8 doesn't support "startsWith" because it's ES6.

[2016-05-25 19:20] kristinashu commented on #298
I was thinking 'featured' would be similar to the current site https://www.mozillascience.org/collaborate
except the new site would have only 2 large features instead 4 and then below would just be all projects in random order.

comp to show the 2 top featured projects with images: https://redpen.io/jc2e62ed8f6f3f6ef5

Also wondering if we can make 'featured' the default sort instead of 'Recently

[2016-05-25 19:24] kristinashu commented on #436
Great ticket! I've updated these to the order suggested above and added a few notes:

- [ ] **Mobile styling** – Search and Topics blend into a single white box and the alignment of sort is off. These are both covered in https://github.com/mozilla/science.mozilla.org/issues/353

- [ ] **None found** – when a search or filter reveals nothing, we should display a friendly note.

<img width="1237" al

[2016-05-25 19:53] kristinashu commented on #443
I've mocked this up with the copy and form changes (I think only the email address needs to be a required field):
![desktop_studygroups-running 2x](https://cloud.githubusercontent.com/assets/1068783/15554000/be7ac03a-2276-11e6-9e70-5a3cfd2000d7.jpg)

Submit would link to the gdoc confirmation with the message:
"Thanks so much for your interest, Aurelia (or the Mozilla Science Lab staff) will be in

[2016-05-25 20:06] kristinashu commented on #349
Looks good, thanks @alanmoo!

[2016-05-25 20:06] #349 closed

[2016-05-25 21:02] kristinashu commented on #233
Links and box height are fixed. I think we can close this ticket and move the font styling to https://github.com/mozilla/science.mozilla.org/issues/228 and https://github.com/mozilla/science.mozilla.org/issues/405

[2016-05-25 21:02] #233 closed

[2016-05-25 21:10] hannahkane opened #448 "Create promotional image for Twitter"
We'll be announcing the new site design and url on Twitter. Would be great to have an image to accompany. Could be screenshot of homepage with text of url. Open to other ideas! :)

[2016-05-25 21:34] kristinashu opened #449 "[design QA] add more padding"
The site generally needs a little more vertical space in some areas to make it feel more airy and for better legibility.
- [x] **Home page Events/StudyGroups:**
  Make blue + purple background taller (more padding between the button and the What's New background image).

Staging:
<img width="1326" alt="screen shot 2016-05-25 at 2 17 51 pm" src="https://cloud.githubusercontent.com/assets/1068783/15

[2016-05-25 21:45] kristinashu commented on #405
We can chat to figure out the best way to do this but noting 'cards' seem like a quick win. All Event, Project, Resource, and Blog grid cards should have the same font sizes. But on staging it looks like the Blog card title is much much larger than on the pages. Event titles also look a little bigger than Resources and Projects.

[2016-05-25 22:23] kristinashu commented on #229
Adding a hover state and select state to nav items seems fairly important but the others can wait.

[2016-05-26 02:48] acabunoc commented on #424
It would be nice to have a search for adding users to an event (instead of scrolling through everyone)

[2016-05-26 03:10] auremoser commented on #443
It looks beautiful @kristinashu! Thank you all.

[2016-05-26 12:46] alanmoo commented on #229
By select state you mean indicating which page the user is on? That should come back with #447.

[2016-05-26 16:09] kristinashu commented on #229
Yes, that's what I meant. Perfect!

[2016-05-26 17:32] acabunoc opened #452 "github contributors not showing up on project pages"
only the 'lead' and 'volunteers' -- not the actual contributors from the github api

[2016-05-26 17:35] acabunoc opened #453 "'other links' not appearing on project pages"
even if there are links and websites listed on the project

https://science.mozilla.org/projects/biosurveillanceCuration
https://api-mozillascience-production.herokuapp.com/projects/13/

[2016-05-26 17:39] kristinashu opened #454 "Project Detail page - Visit Repo link isn't working"
Button should link to the project's Github repo

[2016-05-26 17:43] kristinashu opened #455 "Project Detail page - Institution link isn't working"
If there is an associated Institution, it should link to the external site

If there is no institution then the field should be hidden. Ex. http://science-mozilla-org-staging.herokuapp.com/projects/bigvasp not sure what is happening here but I think "Independent" should not appear.

[2016-05-26 17:45] kristinashu opened #456 "Project Landing and Project Detail page - Need Help With links aren't working"
'Needs Help With' tags should link to a search result like page that only shows projects with that same tag. This can be done in Phase 2 but lets at least disable the links for now.

[2016-05-26 17:54] kristinashu commented on #452
Flagging that on the current site, contributors and volunteers are duplicated. Ex. Amit on https://www.mozillascience.org/projects/KirstieJane-STEMMRoleModels
Can we not show them twice?

The current site also distinguishes between contributors (full color picture) and volunteers (grey scale), we don't need to distinguish them so can they all be full color?

@acabunoc does that sound right?

[2016-05-26 17:58] #439 closed

[2016-05-26 18:00] #337 closed

[2016-05-26 18:24] acabunoc commented on #452
Thanks @kristinashu, yes that sounds right!

[2016-05-26 18:38] #446 closed

[2016-05-26 18:42] alanmoo commented on #438
@kristinashu We're reverting this back to 1 column across browser right now because it's being rather buggy- may attempt to re-implement as 2 columns later.

[2016-05-26 18:43] gvn opened #457 "Blog isn't loading content"

[2016-05-26 18:55] alanmoo commented on #438
This was fixed by #444, right @gvn?

[2016-05-26 19:03] gvn commented on #438
Yes, verified on iPad on staging.

[2016-05-26 19:06] #438 closed

[2016-05-26 19:17] alanmoo commented on #452
It appears that github contributors is not a superset of the project's users as seen [here](https://api-mozillascience-production.herokuapp.com/projects/13/), so I think I'm going to have to do this:

* Display project lead
* Display project members
* Display contributors, but filter out project lead/members based on github username matching

And all of this is displayed as photos across the top o

[2016-05-26 19:19] acabunoc commented on #452
Slight tweak, can you:

* Display project lead
* Display contributors
* Display project members, but filter out contributors based on github username matching

The project members are just people who clicked 'join project' on the old site. They may or may not have contributed.

[2016-05-26 19:22] gvn commented on #457
Seems to be back up. Looks like a back-end issue.

[2016-05-26 19:22] #457 closed

[2016-05-26 19:26] acabunoc commented on #455
I don't think we store a link to institutions in the database, so it might not be possible to link to the external site yet

[2016-05-26 19:29] alanmoo commented on #452
So basically a change in rendering order?

[2016-05-26 19:31] acabunoc commented on #452
yes - I forgot we're not displaying them differently here! But also, the github contributors are usually ordered by amount of contributions, so adding volunteers last makes sense

[2016-05-26 19:45] alanmoo commented on #455
So I'll just take the link off?

[2016-05-26 19:47] kristinashu commented on #455
Oh ok, yeah just remove the link please

[2016-05-26 19:50] alanmoo commented on #456
Ok, #299 covers the linkability/search, so I'll removed the `a` tag for now.

[2016-05-26 19:57] kristinashu commented on #438
1 column is good for now but it would be great to eventually make it 1 column at small widths and 2 column on wider screens

[2016-05-26 19:58] alanmoo commented on #438
Yeah, I tried that but the tech isn't quite there to make it easy- it's going to be more involved to get a solution that works today.

[2016-05-26 20:00] kristinashu commented on #452
Sounds good. Yes, all the photos can be displayed across the top. I don't think we'll need an upper limit.

Also, just to be clear, these will only show up on the detail page. The cards on the landing page are correct the way they are - only showing the project lead(s).

[2016-05-27 13:43] #453 closed

[2016-05-27 13:43] #454 closed

[2016-05-27 13:43] #455 closed

[2016-05-27 13:43] #456 closed

[2016-05-27 14:27] alanmoo opened #461 "Rename github_contributor property keys"
Example endpoint: http://api-mozillascience-staging.herokuapp.com/projects/22/?expand=users

Since users and github_contributors are used similarly, it would be helpful if the shared properties could be the same name.

Example:

[code]

In addition, does the github api return a first name that we could add in there too?

Blocking #452

[2016-05-27 15:06] gideonthomas commented on #461
@alanmoo is the collation of `users` and `github_contributors` absolutely necessary? I ask because it is a bit complicated to combine them since one property is obtained from the db and the other is dynamically populated from a github API call.

The first name is not returned in the github API call since Github has no concept of First/Last Name.

[2016-05-27 15:32] alanmoo commented on #461
You don't need to collate, I will. I just need you to change the key names for github_contributors

-Alan

On May 27, 2016, 11:06 AM -0400, Gideon Thomas<notifications@github.com>, wrote:

[2016-05-27 15:53] gideonthomas commented on #461
Oh I see what you mean! We can do that!

[2016-05-27 16:02] kristinashu commented on #454
Nice!

[2016-05-27 16:31] #461 closed

[2016-05-27 16:34] gideonthomas commented on #461
@alanmoo this is done on staging and production! Let me know if you want me to revert production temporarily

[2016-05-27 17:27] #434 closed

[2016-05-27 17:28] #437 closed

[2016-05-27 17:33] gvn opened #463 "Add OG tags"
We should add Open Graph tags to the header so that when you share links on Facebook something meaningful shows up.

[2016-05-27 17:53] alanmoo commented on #375
These changes are in and visible at https://science-mozilla-org-sta-pr-442.herokuapp.com/ - this still mentions the application launch being June 3, is there any reason to not update the FAQ and such until then? Or can we merge this in and then file another ticket to change the links on the 3rd?

[2016-05-27 17:57] acabunoc commented on #375
This is great @alanmoo! Yes, I think merging this in + another ticket to change the links on the 3rd is a good plan.

[2016-05-27 18:06] #375 closed

[2016-05-27 18:29] #463 closed

[2016-05-27 19:15] auremoser commented on #375
+1

[2016-05-27 19:37] alanmoo commented on #461
I'm not seeing it in production yet, but it's not being used by anything so go ahead and push it there too.

[2016-05-28 00:37] #252 closed

[2016-05-28 00:37] #433 closed

[2016-05-28 00:37] #452 closed

[2016-05-28 00:50] gideonthomas commented on #425
I'm going to close this since we're tracking the last part of this, i.e. the redirect exception, in the devops repo.

[2016-05-28 00:50] #425 closed

[2016-05-28 19:14] auremoser opened #466 "Code of Conduct Link fix"
### Context
Homepage footer link to Code of Conduct overrides homepage on click: https://science.mozilla.org/code-of-conduct
![screen shot 2016-05-28 at 12 18 44 pm](https://cloud.githubusercontent.com/assets/1559703/15629434/9757a94c-24cd-11e6-9c6c-d10119cf02f8.png)

### Expected Result
Like the other footer links, this link would open a new tab with the code of conduct.

### Current Result
Unlik

[2016-05-28 19:26] auremoser opened #467 "Fellowships page puntuation"
### Context

This may seem bogus as a change, and is possibly my fault for writing the copy, but there's a mixture of punctuation on this page that we should standardize: https://science.mozilla.org/programs/fellowships
![screen shot 2016-05-28 at 12 24 56 pm](https://cloud.githubusercontent.com/assets/1559703/15629519/3ac00a2e-24cf-11e6-8a83-cd3bef19d3aa.png)

### Expected Result
All bullet point

[2016-05-28 19:35] auremoser opened #468 "Uneven cards + image sizing question"
### Context
QAing the events page and I noticed that in full-screen mode, the top two events (featuring images and tags) are "uneven".

![screen shot 2016-05-28 at 12 33 33 pm](https://cloud.githubusercontent.com/assets/1559703/15629560/92ee07fe-24d0-11e6-9cfc-c34f7a0e9e3b.png)

### Expected Result
I would expect the images to bloat to the same sizing, so that they would be "even" in how the botto

[2016-05-28 19:43] auremoser opened #469 "What is open source, explanation"
### Context
Content explaining open source might be too long, or maybe confusing here: https://science.mozilla.org/projects

![screen shot 2016-05-28 at 12 43 42 pm](https://cloud.githubusercontent.com/assets/1559703/15629594/bed53076-24d1-11e6-8d20-00a4590a522d.png)

### Expected
I guess it would be nice if the text matched, and if the open source description was simpler, now that I'm seeing it i

[2016-05-29 03:49] hannahkane commented on #467
Thanks, @auremoser. I'm going to take this out of the June 3 milestone, because we're reserving that for things that would block the launch of the site, and I don't think this should. Though, of course, we can do this if anyone has time.

I'd also vote for no period.

[2016-05-29 03:51] hannahkane commented on #466
Taking this out of the milestone, bc I don't think it's a blocker to launch.

I don't know that we have an official policy on this, but I feel like not opening new tabs when staying on the same site makes sense. @kristinashu - do you have an opinion?

[2016-05-30 16:44] kristinashu commented on #466
I agree, internal links should open in the same tab and external links should be in a new tab so I think it is good the way it is.

[2016-05-30 17:11] kristinashu commented on #448
@acabunoc here's an image for the tweet. Let me know if that works for you.
![science-twitter](https://cloud.githubusercontent.com/assets/1068783/15655049/2472387a-264e-11e6-9ba0-e06a10833316.jpg)

It might also be worth saying something, maybe in a separate tweet, that authentication is temporarily disabled. Wouldn't want anyone to think their account is lost.

[2016-05-30 17:12] acabunoc commented on #448
Thanks @kristinashu! Good idea for the disabled account tweet

[2016-05-30 17:28] kristinashu commented on #448
Closing this but let me know if you need any other images.

[2016-05-30 17:28] #448 closed

[2016-05-30 20:26] acabunoc opened #471 "odd <ul> styling on project pages"
https://science.mozilla.org/projects/brian-bot-githubr

List text seems really big

![screen shot 2016-05-30 at 16 25 57](https://cloud.githubusercontent.com/assets/617994/15657870/356b9272-2683-11e6-9815-f0dd30d7593d.png)

[2016-05-30 22:45] kristinashu commented on #198
I think I was over thinking the link layout, it should work like this:

<img width="945" alt="screen shot 2016-05-30 at 3 38 27 pm" src="https://cloud.githubusercontent.com/assets/1068783/15659249/a356d708-267c-11e6-8354-c2c840c5f3da.png">

I've also updated the creative commons logo to be the inverse like the other footer icons. Here's the SVG:
[icon-cc.svg.zip](https://github.com/mozilla/science

[2016-05-31 14:26] alanmoo opened #472 "Send lower resolution images on mobile"
Testing on Android I'm noticing the images behind hero images are slow to load- perhaps we can serve smaller images to mobile devices.

[2016-05-31 15:21] alanmoo opened #473 "Project search by category fails when category has ampersand"
Changing the project filter on https://science.mozilla.org/projects to a category with an ampersand in the name yields an empty array, even though projects exist with that category. I think this is a back end issue, but I'm not sure.

[2016-05-31 15:50] alanmoo commented on #471
This stems from Mozmaker using font-size: 1.2rem for all `li`. I've reset that in some cases, but I think across this project we should just reset `li{font-size:1em}` so it's the same as its siblings. Thoughts, @gvn?

[2016-05-31 15:54] alanmoo commented on #468
This is indeed something that would benefit from some sort of standardization; attempting to automatically crop everything might result in some weird results. This issue is also seen in projects, where the art for each one is different and the issues with that can be seen in the card view and the project details page. @kristinashu maybe you can provide some input?

[2016-05-31 15:57] alanmoo commented on #467
Ah, right, I meant to comment on this when I submitted the original PR. The other related issue is continuity with the verbiage from the top: "Fellows must be: Have the ability to accept..." Doesn't quite flow :). @auremoser  Would you rather "Fellows must: " or "Fellows must be:"?

[2016-05-31 16:12] kristinashu commented on #468
It would be a little mind-numbing, but I would also find it very satisfying, if I went through all the images and cropped them so they all have the same dimensions (and while I'm at it I could replace some of the low res or uninteresting images). @alanmoo would there be an automated way to gather all the images and them re-upload them once I've cropped them?

Then I could set up guidelines and a t

[2016-05-31 16:16] alanmoo commented on #468
Separate from actually doing the image processing, I just meant maybe you can help figure out an aspect ratio that works, @kristinashu. We could surely try to batch process them as a first pass and see how they turn out, though I think @acabunoc has access to the images from s3, so she might be able to help. There's probably a command line tool we can run to crop/pad as necessary.

[2016-05-31 16:20] acabunoc commented on #468
They're all in the s3 bucket @gideonthomas setup `mozillascience-org-assets`

[2016-05-31 16:20] #473 closed

[2016-05-31 16:24] hannahkane commented on #448
cc @KevZawacki

[2016-05-31 16:26] kristinashu commented on #468
All Project, Event, and Blog thumbnails should be 16:9

[2016-05-31 16:32] auremoser commented on #468
Beyond 16:9 are there measurements we should stick to when we update images on the site?

Also, @alanmoo right on, you can batch process a whole directory of them in Adobe Bridge, I used to do that at my old job, though the lack of human QA might also affect it.

Sorry to add such a lame issue :(.

[2016-05-31 16:36] auremoser commented on #467
Totes, good point @alanmoo, let's change the following:

to : "Able to accept outside funds for this fellowship directly"

to: "Experienced participants in open communities"

You can keep the "Fellows must be:" bit

[2016-05-31 16:47] kristinashu commented on #468
Thumbs are 455px X 256px but they also show up in the Event or Blog post detail page at 616px X 347px so image should be cropped to the larger size. But Project thumbs only show up at the smaller size 455px X 256px.

@alanmoo are we using retina images for these? If so then we would need to double those dimensions.

[2016-05-31 18:19] KevZawacki commented on #448
@kristinashu @hannahkane

Perfect! Thank you kindly 😄

[2016-05-31 19:10] cadecairos opened #476 "What is /programs?"
When I was putting together the redirect rules for mozillascience.org routes, @acabunoc and I discovered that `/programs` doesn't appear to do anything?

https://github.com/mozilla/science.mozilla.org/blob/4edacd7dc0d653e5bc424527b5ba39bb0c0e823e/app/react/main.jsx#L57

is this a required route, and is it broken?

[2016-05-31 19:13] hannahkane commented on #476
In [this comment](https://github.com/mozilla/science.mozilla.org/issues/100#issuecomment-200990164) we decided to not have a /programs page, so I think that can be removed.

[2016-05-31 20:19] acabunoc opened #477 "Projects aren't showing up on events in 'projects' tab"
No projects? :(

https://science.mozilla.org/programs/events/global-sprint-2016
![screen shot 2016-05-31 at 16 19 15](https://cloud.githubusercontent.com/assets/617994/15689114/74b1099e-274b-11e6-808a-ae56e079a9f9.png)

[2016-05-31 21:06] auremoser commented on #468
Thank you @kristinashu, really helpful. I'm going to bookmark this for future ref.

[2016-05-31 21:18] hannahkane commented on #435
Closing this.

[2016-05-31 21:18] #435 closed

[2016-06-01 00:00] #466 closed

[2016-06-01 17:21] kristinashu commented on #477
This seems like a biggie, particularly since the Sprint starts tomorrow. @alanmoo will you be able to look at this?

[2016-06-01 17:28] kristinashu commented on #355
Looks like this has been done!

[2016-06-01 17:28] #355 closed

[2016-06-01 17:30] kristinashu commented on #341
Closing since this is covered in https://github.com/mozilla/science.mozilla.org/issues/468

[2016-06-01 17:30] #341 closed

[2016-06-01 17:54] alanmoo commented on #477
Yeah I'll get it after lunch.

[2016-06-01 17:56] kristinashu commented on #477
Cool, thanks!

[2016-06-01 18:07] acabunoc commented on #477
sweet, thanks! Australia is coming online in 5hrs

[2016-06-01 18:43] #477 closed

[2016-06-01 19:16] alanmoo commented on #336
Fading to the inverse color is surprisingly near impossible to componentize at this point in web tech- We'd have to manually define the color of the text for each button based on what background it's over. I'd like to avoid having to specifically set the color for the hover state of each button, so could we settle on a hovered button text color to use across buttons? The background can still be tr

[2016-06-01 19:40] kristinashu commented on #336
I think the only two button options are:
- Any button on a light background would have a blue text and outline then go to solid blue with white text (even if the background is light grey) on hover.
- Any button on a color or photo background would have white text and outline then go to solid white on hover. Sounds like you can do unique colored text for these but if not then maybe grey text would

[2016-06-01 19:41] alanmoo commented on #336
Yes, this I can do.

[2016-06-01 20:26] kristinashu commented on #336
Another thing, on the Event page, it looks like the buttons are slightly darker for buttons I have clicked on than buttons I have not. We don't need to distinguish so can they please all be the same blue. This might be the case on other pages but it's easier to see on Events since there are so many buttons.

[2016-06-02 13:06] karanjthakkar commented on #467
@auremoser I can give this a go if you are ok with it?

[2016-06-02 13:08] alanmoo commented on #467
I say go for it. Let me know if you have any issues getting the project running locally.

[2016-06-02 13:11] karanjthakkar commented on #471
@alanmoo I tried playing around with this. Does this look better?
<img width="972" alt="screen shot 2016-06-02 at 6 39 53 pm" src="https://cloud.githubusercontent.com/assets/1824298/15745836/87b085d6-28f1-11e6-8609-c78ab6cd6c77.png">

[2016-06-02 13:12] alanmoo commented on #471
Looks good, go ahead and submit a PR so I can spin up a review app and check out the code!

[2016-06-02 14:29] karanjthakkar commented on #467
@alanmoo `main.scss` imports some files from `bootstrap` but `bootstrap` is not given as a dependency anywhere in `package.json`. Am I missing something?

[2016-06-02 14:40] alanmoo commented on #467
@karanjthakkar `Mozmaker` is a customized version of bootstrap that we use. It installs bootstrap as a dependency.

[2016-06-02 15:13] karanjthakkar commented on #467
@alanmoo I keep getting this error:

<img width="1279" alt="screen shot 2016-06-02 at 8 40 21 pm" src="https://cloud.githubusercontent.com/assets/1824298/15750043/760ac3ee-2902-11e6-80db-c10449486f15.png">

Its trying to find `bootstrap` inside the root `node_modules` folder whereas it is installed inside `node_modules/mozmaker/node_modules`. Do I have to change the `@import` path inside `main.scs

[2016-06-02 15:23] karanjthakkar commented on #467
@alanmoo Ok so I temporarily changed the path to look inside `mozmaker/node_modules`. Then it had some issue finding `autoprefixer` so I installed it locally and the project is running now. 😥 I'll send a PR shortly although there is something broken in the setup process I think.

[2016-06-02 15:24] narendrashetty commented on #449
@alanmoo I can make these changes and send a PR

[2016-06-02 15:25] alanmoo commented on #467
Ah, I think you might be running an older version of npm- they changed the way dependencies install in npm 3, I believe.

[2016-06-02 15:28] alanmoo commented on #449
@narendrashetty I had a conversation with @amjadm61 in #481, so make sure you two aren't doing duplicate work

[2016-06-02 15:29] alanmoo commented on #449
A note about this- the proper solution likely involves use of the utility classes found [here](http://v4-alpha.getbootstrap.com/components/utilities/#spacing) on the markup for these pages, rather than writing more CSS.

[2016-06-02 15:37] narendrashetty commented on #449
@amjadm61 do let me know if you have started the work on this

[2016-06-02 15:39] amjadm61 commented on #449
@narendrashetty  I'm working on the first 3 issues. So, you can work on the last 2 issues.

have a nice coding.. :)

[2016-06-02 15:40] karanjthakkar commented on #467
I'm on `npm 2.14.12` and `node 4.3.1`. Probably thats the issue.

[2016-06-02 15:41] alanmoo commented on #467
Yup, npm 3 flattened the dependency tree on install, so everything goes into the root `node_modules`. I've submitted #482 so that this is clearer to contributors in the future (their console will alert them, at least), thanks for the feedback!

[2016-06-02 16:01] narendrashetty commented on #449
About last issue `add padding above and below images` is on the blog post images, whose content is dynamically appended. cc: @alanmoo @amjadm61

[2016-06-02 16:04] karanjthakkar commented on #467
@alanmoo Thanks for #482. Should definitely help any future contributors.

[2016-06-02 18:18] #250 closed

[2016-06-02 19:51] auremoser commented on #467
Surely @karanjthakkar , thank you! I'm sorry for the late reply @alanmoo

[2016-06-03 13:15] #467 closed

[2016-06-03 17:39] stephwright opened #487 "Site won't load in Safari"
Have tried on multiple computers.  Works fine in FF but won't load in Safari.  Just get big gray page.

[2016-06-03 18:01] gvn commented on #487
Just to be sure, you are loading `https://science.mozilla.org`? It loads in Safari on my machine...

[2016-06-03 18:01] gvn commented on #487
Also, what version of Safari?

[2016-06-03 18:02] simonwex commented on #487
For what it's worth, it loads fine and functions correctly for me on Safari Version 9.0.3 (10601.4.4).

[2016-06-03 18:46] stephwright commented on #487
v 8.0.8 on the first machine we tried...
v 8.0.5 on second

[2016-06-03 19:04] gvn commented on #487
Sounds like Alan has a fix coming...

[2016-06-03 19:30] davidascher opened #492 "Anchors are good. Let's have some."
It would be good to be able to link to the overview tab in the https://science.mozilla.org/programs/fellowships page, or the FAQ directly, or to an individual's bio. (I in fact wanted to do the last thing yesterday to introduce one of them to a potential partner).

[2016-06-03 21:00] kristinashu opened #495 "Set up analytics"
@alanmoo asked in Chat whether or now we have analytics set up on the new site but I'm not sure. If we don't have them, can we please add it? The old site had them set up.

Google analytics usually doesn't track when someone clicks on an external link on the site but I think there is a way to set that up. This would be valuable to have so we can track stats on the resources.

[2016-06-03 21:23] gvn commented on #487
@stephwright Can you try this URL? https://science-mozilla-org-sta-pr-493.herokuapp.com

[2016-06-03 21:39] stephwright commented on #487
Getting "no such app" message

On Fri, Jun 3, 2016 at 2:23 PM, gavin lazar suntop <notifications@github.com

--
Stephanie Wright
--------------------------------------------------------------------------------------
Open Data Training Lead, Mozilla Science Lab
Twitter @shefw  | GitHub @stephwright | Skype: stephanie_4504
ORCID: 0000-0003-3829-318X
"The opposite of 'open' isn't 'closed'.  The oppos

[2016-06-03 21:42] gvn commented on #487
Try http://science-mozilla-org-staging.herokuapp.com/

[2016-06-03 21:43] stephwright commented on #487
Success!  Though can only try on the 8.0.8 version... our machine w/ 8.0.5
left

On Fri, Jun 3, 2016 at 2:42 PM, gavin lazar suntop <notifications@github.com

--
Stephanie Wright
--------------------------------------------------------------------------------------
Open Data Training Lead, Mozilla Science Lab
Twitter @shefw  | GitHub @stephwright | Skype: stephanie_4504
ORCID: 0000-0003-3829-318X

[2016-06-03 21:44] gvn commented on #487
I tried 8 on Saucelabs, so I think it's good.

[2016-06-03 21:45] stephwright commented on #487
👍

[2016-06-03 21:54] gvn commented on #487
Safari 8 is now working for prod. Closing!

[2016-06-03 21:54] #487 closed

[2016-06-04 01:02] auremoser commented on #424
I'm sorry for how late I am here. This interface is lovely! Thank you! Just to be clear, we'll be using
* WP for the blog entries
* Django Admin for the Events, Resources, Study Groups
* Github for the custom pages/ fellowships etcet

Anything I'm missing here or have I messed up the storage location of any assets? Meanwhile, here are some (quick) thoughts:

### Resources

It would be nice to sort

[2016-06-06 12:13] amjadm61 commented on #495
Why can't we try the opensource tool [Piwik](https://piwik.org/) instead of google analytics?

[2016-06-06 14:24] alanmoo commented on #495
That's an interesting tool to consider, @amjadm61.
It looks like it requires some server-side work, as opposed to simply dropping in a script, so using that might be a bit more work than is needed at this point in time. There's also consistency of data to consider, as with GA we can compare the old site to new pretty easily. Piwik might be something interesting to explore on a new project, or in t

[2016-06-06 19:46] acabunoc commented on #471
Just in case, I thought I'd mention that this also shows up on blog posts (but I think you're working on a project-wide fix, so yay)
https://science.mozilla.org/blog/2016-fellows-cfp

![screen shot 2016-06-06 at 15 44 20](https://cloud.githubusercontent.com/assets/617994/15835356/958e5944-2bfd-11e6-8678-9f6f2c79f80d.png)

[2016-06-07 14:54] alanmoo commented on #492
I thought we had a ticket open, but I guess not- we definitely need to update the tab component to support links, maybe as part of #406.

[2016-06-09 04:35] hannahkane commented on #19
I think this is no longer relevant since we moved to science.mozilla.org, so closing.

[2016-06-09 04:35] #19 closed

[2016-06-09 04:36] hannahkane commented on #34
No longer relevant, given migration to science.mozilla.org.

[2016-06-09 04:36] #34 closed

[2016-06-09 04:40] hannahkane commented on #299
Should this behavior apply to other content types as well - e.g. Resources, Blogs? I would think yes, but perhaps we discussed otherwise. cc @kristinashu

[2016-06-09 04:41] hannahkane commented on #40
Closing as part of a sweep to clean up tickets applicable to the old Science site

[2016-06-09 04:41] #40 closed

[2016-06-09 04:42] hannahkane commented on #42
This is no longer relevant, given the migration to science.mozilla.org. Thanks for filing!

[2016-06-09 04:42] #42 closed

[2016-06-09 14:50] amjadm61 commented on #468
any update on this issue?

[2016-06-09 14:54] acabunoc commented on #468
Hey @amjadm61 - I'm following the 16x9 rule for future events which should help in the meantime.

[2016-06-09 14:57] alanmoo commented on #468
@kristinashu We could use either 1x and 2x images, or just somewhat highly compressed 2x images.

[2016-06-09 16:09] amjadm61 opened #501 "Inserting a donate button"
Insert a donate button in the footer
![capture](https://cloud.githubusercontent.com/assets/4783625/15936958/a752cdba-2e8a-11e6-9793-4e6f8334cac9.PNG)

[2016-06-09 16:27] amjadm61 opened #502 "Newsletter section is not in center"
The newsletter section in the footer is not in center.

![capture](https://cloud.githubusercontent.com/assets/4783625/15937535/fbd003f6-2e8c-11e6-9181-204c282d83f7.PNG)

[2016-06-09 16:57] kristinashu commented on #299
Yes, same behavior for all of those please

[2016-06-09 17:39] hannahkane opened #503 "Move legal language on newsletter sign-up"
On the newsletter sign-up form in the footer, the line “I’m okay with you handling this info as you explain in your privacy policy” needs to be above the text box, for legal reasons.

[2016-06-09 18:30] #492 closed

[2016-06-10 11:56] amjadm61 commented on #503
@hannahkane I can create a new PR if this is what in your mind.

![capture](https://cloud.githubusercontent.com/assets/4783625/15963503/2e359182-2f30-11e6-860b-4db6d323b101.PNG)

[2016-06-10 15:38] alanmoo commented on #503
Weird. What was the legal concern? You can't submit without checking the box as it is...

[2016-06-10 15:43] alanmoo commented on #502
Technically this sections is two equal columns, but the content of the right is longer, so it appears off center (the space between `newsletter` and the input is the center of the page). @kristinashu I'll let you make the call, should we try and move these into one centered container?

[2016-06-10 15:51] amjadm61 commented on #502
can we try by writing a custom grid-column style for the first column by changing the width into 45%?

[2016-06-10 15:54] alanmoo commented on #502
I'm very hesitant to do that because we're using bootstrap and need to consider implications at all viewport sizes (as it is, this was a bit of a pain to get right across breakpoints). Once you start writing custom CSS on your columns when you're using Bootstrap, CSS maintenance problems tend to spiral out of control.

[2016-06-10 15:58] amjadm61 commented on #502
ok. understood!

What about writing a new class and css for this div?

[2016-06-10 16:04] amjadm61 commented on #502
ok got it.
Thanks :+1:

[2016-06-10 16:07] amjadm61 opened #505 "This url (https://science.mozilla.org/programs) should be redirected"
This url (https://science.mozilla.org/programs) should be redirected either into home page or into the event psge (https://science.mozilla.org/programs/events).

Now it showing a blank page.

[2016-06-10 16:13] kristinashu commented on #502
Thanks @amjadm61 for filling this! It is something that has been bothering me.

@alanmoo maybe we could increase the text size of "Receive our newsletter" slightly? And/or add some padding after "Receive our newsletter"? Combo of these would push that text over to the left to make the whole thing look a little more centered.

[2016-06-10 16:20] alanmoo commented on #505
Thanks, I'm submitting a PR for this now

[2016-06-10 17:32] hannahkane commented on #503
@amjadm61 - thanks for your help with this! Before you submit a PR, I'd like to clarify with our lawyer the exact issue.

@alanmoo - From our lawyer: "The line needs to be above the text box to have real legal value." I interpret that to mean a user could conceivably subscribe to the newsletter before having understood the Privacy Policy. But I do want to clarify the restriction, because I think t

[2016-06-10 17:33] alanmoo commented on #503
Yeah, make sure they know the form can't be submitted unless they check the box...this is pretty standard design across the web.

[2016-06-11 19:03] amjadm61 opened #509 "category tag name is not clickable"
https://science.mozilla.org/resources

When clicking on the category tag name, it should sort the content based on the category tag name

![capture](https://cloud.githubusercontent.com/assets/4783625/15986956/18f8ced2-3035-11e6-8672-9910e0532920.PNG)

[2016-06-11 23:27] alanmoo commented on #509
See #299

[2016-06-11 23:27] #509 closed

[2016-06-22 21:59] hannahkane commented on #503
I haven't heard back yet, but I'm going to kill this ticket. I don't think it's necessary.

[2016-06-22 21:59] #503 closed

[2016-06-30 16:07] acabunoc opened #515 "Home page - made 'What's New?' section editable"
- [ ] Add this info to Django
- [ ] front-end, fetch these sections form Django

![screen shot 2016-06-30 at 12 07 34](https://cloud.githubusercontent.com/assets/617994/16495399/3fabec3c-3ebb-11e6-96ea-40bace3096c9.png)

[2016-06-30 16:10] acabunoc opened #516 "New member - API"
Allow for the creation of new members in Django (when a new users signs in via github)

[2016-06-30 16:13] acabunoc opened #517 "member 'edit' page / new member page"
Design a page where members can edit their info after they log in

[2016-06-30 16:13] kristinashu opened #518 "Project details page "join the project" section API"
Need api so members can "join the project"

Front end is happening in - Project details page "join the project" section #160

[2016-06-30 16:14] acabunoc opened #519 "Build member edit page"
Page for members to edit their bio

Designs coming: #517

[2016-06-30 16:15] acabunoc commented on #79
closing! old site

[2016-06-30 16:15] #79 closed

[2016-06-30 16:18] kristinashu opened #520 "Make sure comps include all Phase 2 features"

[2016-06-30 16:19] acabunoc opened #521 "Project details - repo preview"
Repository preview: https://redpen.io/wgdaa9228e6335eb91

- [ ] Add repo preview to django
- [ ] Add to project details page

[2016-06-30 16:24] kristinashu opened #522 "Events - Add filter for archived events"
https://redpen.io/aq0c17cb0774ab55bd

[2016-06-30 16:26] kristinashu opened #523 "Events - Show Facilitator and Participant members"
https://redpen.io/vxab11f78998c91e29

[2016-06-30 16:27] acabunoc opened #524 "Events - join"
Allow logged in users to join events and show up on the participants list

- [ ] Add endpoint for joining an event to Django API
- [ ] Add join event button on front-end

[2016-06-30 16:29] #7 closed

[2016-06-30 16:29] #9 closed

[2016-06-30 16:29] #14 closed

[2016-06-30 16:29] #20 closed

[2016-06-30 16:30] #17 closed

[2016-06-30 16:30] #31 closed

[2016-06-30 16:30] #32 closed

[2016-06-30 16:30] #33 closed

[2016-06-30 16:30] #56 closed

[2016-06-30 16:30] #57 closed

[2016-06-30 16:30] #71 closed

[2016-06-30 16:30] #10 closed

[2016-06-30 16:31] #29 closed

[2016-06-30 16:32] acabunoc opened #525 "RSS feed"
RSS feed for the new site isn't working

Should be: http://science.mozilla.org/feed

[2016-06-30 16:34] acabunoc commented on #24
this is from the old site, closing!

[2016-06-30 16:34] #24 closed

[2016-06-30 16:34] acabunoc commented on #49
We've discontinued our use of discourse on the new site, closing

[2016-06-30 16:34] #49 closed

[2016-06-30 16:35] acabunoc commented on #22
from the old site! closing, but i've opened a new RSS issue for the new site

[2016-06-30 16:35] #22 closed

[2016-06-30 16:40] acabunoc commented on #18
from the old site, closing!

[2016-06-30 16:40] #18 closed

[2016-06-30 16:41] acabunoc commented on #137
You'll likely run into github scope issues like we did on the old site:
https://github.com/mozilla/science.mozilla.org/issues/18

Dropping this here for reference!

[2016-06-30 17:01] kristinashu opened #526 "Perform some user tests"

[2016-06-30 21:47] acabunoc commented on #469
The current copy is taken from: https://docs.google.com/document/d/1k2Ds-iw4B_Sh5ae1areW1qfuLPtSqmgohtXYBkOi7r4/edit#heading=h.60442fz4wsu3

[2016-06-30 22:28] auremoser commented on #469
yep, i guess no need to shorten it if you'd prefer not to...just a suggestion.

[2016-06-30 22:31] acabunoc commented on #469
Hey, no preference - added link for context with recently submitted pr

[2016-07-01 16:27] #505 closed

[2016-07-05 17:18] acabunoc commented on #148
is this done?

[2016-07-05 17:27] acabunoc commented on #108
closing! this was for the old site

[2016-07-05 17:27] #108 closed

[2016-07-06 21:23] kristinashu commented on #150
I think we can forget about breadcrumbs. @gvn feel free to close this ticket if you agree.

[2016-07-06 23:31] kristinashu commented on #521
@acabunoc I think we had actually decided to remove this feature a while ago, is it ok with you?

[2016-07-06 23:47] kristinashu commented on #220
This was part of the contingency plan which we didn't end up using!

[2016-07-06 23:47] #220 closed

[2016-07-06 23:48] kristinashu commented on #219
This was part of the contingency plan which we didn't end up using!

[2016-07-06 23:48] #219 closed

[2016-07-06 23:48] kristinashu commented on #212
This was part of the contingency plan which we didn't end up using!

[2016-07-06 23:48] #212 closed

[2016-07-06 23:49] kristinashu commented on #208
This was part of the contingency plan which we didn't end up using!

[2016-07-06 23:49] #208 closed

[2016-07-06 23:49] kristinashu commented on #207
This was part of the contingency plan which we didn't end up using!

[2016-07-06 23:49] #207 closed

[2016-07-06 23:55] kristinashu commented on #160
Api work will happen here: https://github.com/mozilla/science.mozilla.org/issues/518

It should look like https://redpen.io/kf16f384972d804249

Same as on the old site, joining will:
- fork project in users github
- star project in users github
- if users 'introduce themselves' what they wrote should appear as a new ticket in the repo (not a required field)

User must be logged into site for this

[2016-07-06 23:57] kristinashu commented on #162
Comp is here https://redpen.io/dq01e5e243a5cd0634

[2016-07-06 23:57] kristinashu commented on #164
Comp is here https://redpen.io/as08ad3317840db883

[2016-07-07 01:47] acabunoc commented on #521
Ah, I vaguely remember that! Yes, that's fine

[2016-07-07 16:13] #521 closed

[2016-07-07 16:16] kristinashu commented on #520
They are all up to date.

[2016-07-07 16:16] #520 closed

[2016-07-07 16:31] kristinashu commented on #162
Short article on best practices for forms: https://uxdesign.cc/design-better-forms-96fadca0f49c#.blh4vmeyg

I'm going to update our comp now. cc @sabrinang

[2016-07-07 16:40] gvn commented on #148
Yeah, this is the ShadowBox component.

[2016-07-07 16:40] #148 closed

[2016-07-07 16:41] gvn commented on #150
👍

[2016-07-07 16:41] #150 closed

[2016-07-07 16:42] gvn commented on #525
What is supposed to go in the RSS feed? Is it linked anywhere on the rebuild or is this a legacy redirect?

[2016-07-07 17:11] acabunoc commented on #525
It should have the blog content! Actually a redirect might be the best way to do this.

Feed:
http://wp.mozillascience.org/feed/

[2016-07-07 18:29] gvn commented on #135
I believe there are some dependencies on this in the previous milestone, so we might want to switch this to Phase 2.1

[2016-07-07 20:12] kristinashu commented on #162
Updated redpen: https://redpen.io/dq01e5e243a5cd0634

Also linking this ticket to https://github.com/mozilla/science.mozilla.org/issues/147

[2016-07-07 21:44] acabunoc commented on #135
@gvn I tried to move anything that required login out to 2.2!

Member pages don't necessarily need login since we have a database full of members. New members / edit members does.

[2016-07-07 21:53] gvn commented on #135
Ah ok cool

[2016-07-09 17:07] auremoser opened #528 "Link broken on Fellowships page"
### Context

The overview text on the science site for the programs/fellowships page has a section with a "read more [here]() that currently links to the same page.

![screen shot 2016-07-09 at 1 03 50 pm](https://cloud.githubusercontent.com/assets/1559703/16709138/f0f1e5c0-45d5-11e6-9449-a2df50715892.png)

### Expected Result
The link directs the user to the FAQ, where we answer some possible que

[2016-07-09 17:14] acabunoc commented on #528
This opens the FAQ tab for me. What browser/OS are you on?

[2016-07-09 17:28] acabunoc commented on #528
Firefox Developer Edition 49.0a2 (2016-07-05)
OSX 10.9.5
![fellowship](https://cloud.githubusercontent.com/assets/617994/16709244/f040b522-45d8-11e6-8532-b08d93338304.gif)

[2016-07-09 17:40] auremoser commented on #528
OS 10x El Capitan
Firefox 47.0.1
![screen shot 2016-07-09 at 1 35 46 pm](https://cloud.githubusercontent.com/assets/1559703/16709277/ce06db70-45d9-11e6-994d-6acad3364b7c.png)

Oh weird, the url: https://science.mozilla.org/programs/fellowships#. Doesn't work in Safari or Firefox or Chrome on mine (see gif below), but does work when you click the link on the home page (see gif below where the link

[2016-07-09 18:01] acabunoc commented on #528
ah persistent links are live on on develop, but are not on production yet. See original issue for this here:
https://github.com/mozilla/science.mozilla.org/issues/492

[2016-07-09 18:15] acabunoc commented on #528
On production, current link switches tabs with JavaScript on click, so there's no anchors to tabs directly

[2016-07-11 15:17] acabunoc opened #529 "Blog not loading for @kaythaney"
Firefox 47
OSX 10.11.2

Just says 'Latest News' and nothing underneath :(

[2016-07-11 15:50] alanmoo commented on #528
This should technically work now after a deploy, though I still want to convert the `<a>` tag to a `<Link>` so the whole page site doesn't get reloaded.

[2016-07-11 15:51] alanmoo commented on #529
@kaythaney I just deployed to production, please force refresh and see if it's still happening.

[2016-07-11 15:57] auremoser commented on #528
Sounds good, close when ready, thanks @acabunoc

On Mon, Jul 11, 2016 at 11:50 AM, Alan Mooiman <notifications@github.com>
wrote:

--
Aurelia Moser
Community Lead, Mozilla Science Lab
Twitter @auremoser | GitHub @auremoser | Skype: auremoser1

[2016-07-11 16:00] acabunoc commented on #528
@auremoser you should be able to link to https://science.mozilla.org/programs/fellowships/faq now! closing

[2016-07-11 16:00] #528 closed

[2016-07-11 16:02] auremoser commented on #528
Thank you!

On Mon, Jul 11, 2016 at 12:00 PM, Abigail Cabunoc Mayes <
notifications@github.com> wrote:

--
Aurelia Moser
Community Lead, Mozilla Science Lab
Twitter @auremoser | GitHub @auremoser | Skype: auremoser1

[2016-07-12 13:46] acabunoc opened #530 "Upload images to S3 bucket through the admin interface"
Bucket: mozillascience-org-assets

See: https://github.com/MozillaFoundation/mofo-devops/issues/369

[2016-07-12 15:36] acabunoc opened #531 "Embedded tweets not working on the blog"
They show up on the wordpress instance: https://mozscienceblog.wpengine.com/?p=3657
![screen shot 2016-07-12 at 11 36 04](https://cloud.githubusercontent.com/assets/617994/16773167/d68155f8-4824-11e6-9fa0-8bcd6b01d377.png)

But not on the site:
https://science.mozilla.org/blog/why-developing-oss-matters

![screen shot 2016-07-12 at 11 36 27](https://cloud.githubusercontent.com/assets/617994/167731

[2016-07-12 16:43] kaythaney commented on #529
still nothing, sadly. :(

[2016-07-18 18:18] acabunoc opened #532 "Close fellows application"
The Fellows application is now closed!

Can we:
- [x] Hide the 'apply to be a fellow' hero images on the homepage
- [x] Hide the 'Apply Now' button on https://science.mozilla.org/programs/fellowships
- [x] Hide the 'Apply Now' block at the bottom of https://science.mozilla.org/programs/fellowships

[2016-07-18 18:18] acabunoc commented on #532
Should be pretty similar to https://github.com/mozilla/science.mozilla.org/issues/374

[2016-07-18 23:32] hannahkane commented on #532
@alanmoo - can we assign this to you as part of Go Global team?

[2016-07-18 23:50] alanmoo commented on #532
Yeah I can take care of this first thing tomorrow.

[2016-07-19 16:46] #532 closed

[2016-08-31 23:33] hannahkane opened #535 "Improvements for Events"
From @auremoser:

- It would be cool to have access to the S3 bucket where image urls are stored, with the proper dimensions for the event thumbnails; right now, I'm reusing the same 2 from previous calls because I don't want to put a random imgur in the Event field for Image URL - **update** @auremoser has access, but we should add UI so that other users can upload an image (https://github.com/mo

[2016-09-02 17:47] hannahkane commented on #524
Is "Join" similar to RSVP, where it indicates a person's intent to attend? Or is it more of a real-time thing, like "Join this call now"?

[2016-09-02 17:48] hannahkane commented on #529
Is this still an issue?

[2016-09-02 18:39] alanmoo commented on #529
I believe it was a browser plugin, right @kaythaney?

[2016-09-02 21:14] kaythaney commented on #529
Yep! Can be closed.

sent on the move. apologies for typos.

[2016-09-02 21:18] #529 closed

[2016-09-03 03:54] stephwright opened #536 "Post formatting issues in Science Blog"
Was reading a recent blog post in the Science Blog (https://science.mozilla.org/blog/2016-isbe-review) and having a lot of difficulty following the post as headers seemed to have varying sizes and varying formats.  I went into Wordpress to see how our Guest Blogger had formatted her post and noticed that the way she formatted it in Wordpress looks very little like how it turns out in the blog.  Is

[2016-09-08 14:24] auremoser commented on #531
+1 to this, noted it for Anna's ISBE guest blog last week.

[2016-09-08 14:36] auremoser opened #537 "2016 Fellows Page"
cc: @stephwright @hannahkane @kristinashu

### Context

We'll be announcing the 2016 fellows this Friday (or possibly Monday), and I'd like some design advice about how to structure the fellows page/tab to appropriately showcase alumni and current fellows. I'll have the content (bios and photos with appropriate proportions) today, EOD.

### Question
1. Should the 2016 fellows fall in the same /fel

[2016-09-08 16:06] kristinashu commented on #537
Such a clear and thorough ticket!

For question 1: I'm inclined to just copy the formatting and push the new fellows/content to the same tab. Since there are only 4 fellows and their bio's are nice and short, I think the page length will be just fine.

For questions 2: @alanmoo or @gvn might have better insight?

[2016-09-10 00:20] hannahkane commented on #537
Sorry to be so late to this! I see you've added a PR, @auremoser, which looks great. Let me know if you need anything else.

[2016-09-12 16:30] Ghusar opened #539 "dropdown menu size is small so characters are not visible properly"
go to https://science.mozilla.org/projects and scroll down to "Contribute to a Project".
There dropdown menu  height is less than search box size so characters are not visible properly
![screenshot from 2016-09-12 21-52-25](https://cloud.githubusercontent.com/assets/15612246/18443788/23872e8c-7934-11e6-9d4e-ab45dbb80a4d.png)

[2016-09-12 18:10] alanmoo commented on #537
Looks like this is live, still any open questions for me or can we close this issue?

[2016-09-12 18:19] auremoser commented on #537
Yes, close-away. Thanks so much everyone, I asked @acabunoc to escalate it and push this morning. Thanks, closing.

[2016-09-12 18:19] #537 closed

[2016-09-14 23:14] alanmoo commented on #539
I can't seem to reproduce this, even on Chromium 52 in Linux. What version of Chrome are you using @Ghusar?

[2016-09-14 23:15] alanmoo opened #541 "Site doesn't work in Safari 8"
Or older browsers in general...may need a polyfill or something.

[2016-09-15 06:20] Ghusar commented on #539
i have  used google chrome in linux not chromium

[2016-09-15 16:39] Pomax commented on #541
Which one does Apple officially still support, and how many users are impacted?

[2016-09-15 16:41] alanmoo commented on #541
Safari 9 is current. Not sure how many but I've identified the problem and am working on it.

[2016-09-15 16:41] Pomax commented on #541
had to look it up, 8 was OSX 10.10 which I *think* is still a valid target.

[2016-09-15 19:17] #541 closed

[2016-09-15 20:06] #539 closed

[2016-09-16 02:15] #469 closed

[2016-09-16 16:20] alanmoo opened #543 "Update repo workflow to use Mofo-Standards"
https://github.com/mozillafoundation/mofo-standards

[2016-09-16 21:58] #543 closed

[2016-09-16 22:01] alanmoo commented on #535
Proposal for the time zone issue (which can be extended to events APIs across our web properties):

When inputting an event time, there should be a time zone select box associated with it, which defaults to the user's (person inputting the time) current time zone.
There should be a checkbox next to it to "lock" the event to that time.

Example: A meeting is happening from 12PM-1PM EST. User in EST

[2016-09-16 22:43] alanmoo commented on #515
I'm imagining this as a "what's new" endpoint on the back end that allows admins to link to an existing resource/project/blog entry and add a custom short description, if desired. Does that sound about right?

[2016-09-16 22:45] alanmoo commented on #476
https://science.mozilla.org/programs/ redirects to the homepage, so I'm closing this.

[2016-09-16 22:45] #476 closed

[2016-09-16 23:14] alanmoo commented on #385
See #535

[2016-09-16 23:21] alanmoo commented on #436
This seems like low-hanging fruit that should be tackled sooner rather than later, as it would improve the UX a good amount.

[2016-09-17 00:07] alanmoo commented on #531
I think this might be due to the way WordPress exports HTML. There is a class we can use to recreate the styling, but it wouldn't be locked to Twitter's unless they offer a stylesheet I'm not aware of (which is totally possible).

[2016-09-20 18:14] hannahkane commented on #515
Sounds right to me.
 * Would the "types" of content be limited to Resource, Project, Blog?
 * Would the homepage display the most recent three, or could the user choose any three to display?

[2016-09-21 13:13] alanmoo commented on #515
I think that's more of a stakeholder question? I could imagine events being in there too, and imagine it might not be "strictly" the newest...

[2016-09-21 14:40] acabunoc commented on #515
Admin should be able to select! Featured might not be the newest

[2016-09-21 18:32] acabunoc commented on #535
Also: https://github.com/mozilla/science.mozilla.org/issues/424

[2016-09-21 18:53] acabunoc commented on #182
flagging @auremoser

[2016-09-21 19:56] auremoser commented on #182
thanks @acabunoc , I'll think on it!

[2016-09-21 19:58] acabunoc commented on #182
It sounds like they're thinking of streamlining the 404 (https://github.com/mozilla/science.mozilla.org/issues/182#issuecomment-209060292) -- but having a little science flare would be fun :)

[2016-09-26 19:48] hannahkane commented on #535
@auremoser - can you clarify your fourth bullet point? Are you talking about letting users sort attendees/facilitators?

[2016-09-26 19:54] acabunoc commented on #535
@hannahkane I think it's when you're adding a new event in the django admin. Adding facilitators to the event is hard since you can't sort all the people. They appear in a giant list in the order they were created, I believe.

@auremoser feel free to correct me!

[2016-09-26 20:03] gideonthomas commented on #536
Apparently, I don't have permissions to the blog either. @stephwright would you be able to add @alanmoo as a user so that he can take a look at how some of the blog content is formatted?

[2016-09-26 20:13] auremoser commented on #535
+1 to @acabunoc 's read. It was about adding a new event in the django admin and adding facilitators/participants manually.

[2016-09-26 20:17] stephwright commented on #536
I've added you both as admins

[2016-09-26 20:35] gideonthomas commented on #536
thanks @stephwright you're awesome! Would you also be able to confirm that the way we login to the blog is through the url: https://mozscienceblog.wpengine.com/wp-admin ?

cc @alanmoo

[2016-09-26 20:50] stephwright commented on #536
Yep!  That should do it... if it doesn't work, let me know.

[2016-09-26 22:28] hannahkane commented on #536
Estimated at 13 story points, largely due to unknowns about Wordpress

[2016-09-26 22:29] hannahkane opened #545 "Bug: special characters in blog titles not displaying correctly"
Including apostrophes

[2016-09-26 22:32] hannahkane opened #546 "Search / Filter blog posts"
@kristinashu - do we have designs for this?
- [ ] Post list: Search
- [ ] Search results view
- [ ] Post list : Filter results

[2016-09-26 22:32] hannahkane commented on #546
Estimate (5) is for implementation only. If design work is needed, we'd add to the estimate.

[2016-09-26 22:33] hannahkane commented on #546
@kristinashu - would this be the relevant design work? https://redpen.io/ng651dee79aa4a00d0

[2016-09-26 22:36] hannahkane opened #547 "Improve readability of blog posts"
Current implementation makes it a little difficult to easily scan an individual blog post.

Might want to refer to initial designs: https://redpen.io/mo1fa2dc526ca2627d

[2016-09-26 22:36] hannahkane commented on #547
Estimate (3) is for determining the changes needed. Follow up ticket will be filed for implementation.

[2016-09-26 22:51] hannahkane opened #548 "Design UX solution for time zone issue on Events"
We have two different use cases for Events that might require different time zone treatments.

1) Virtual events, where the relevant time is local to the user
2) In-person events, where the relevant time is local to the physical location of the event

Challenge is to design an elegant solution that addresses both use cases, and makes the time unambiguous for both the person who posts the event and

[2016-09-26 22:51] hannahkane commented on #548
@alanmoo's proposal from #535:

Proposal for the time zone issue (which can be extended to events APIs across our web properties):

When inputting an event time, there should be a time zone select box associated with it, which defaults to the user's (person inputting the time) current time zone.
There should be a checkbox next to it to "lock" the event to that time.

Example: A meeting is happenin

[2016-09-26 22:52] hannahkane opened #549 "Add helper text to "Short Description" and "Description" fields on Events admin"
From @auremoser: It would be nice to have some small grey text explaining the difference between Short Description and Description in terms of where they fall on the page and whether they should be redundant because they display in different places, or not because they display one after another

[2016-09-26 22:52] hannahkane commented on #549
@auremoser - could you please provide copy that would be the most useful to you?

[2016-09-26 23:01] hannahkane opened #550 "Make it easier to add facilitators to an event"
Adding facilitators to an event is hard since you can't sort all the people. They appear in a giant list in the order they were created.

Let's discuss possible solutions and which would be best:
 * Sort by alpha
 * Sort by [something else]
 * Add search
 * Allow user to start typing a name, and auto-complete

[2016-09-26 23:02] hannahkane commented on #550
@auremoser and @acabunoc - can you weigh in on the desirability of the solutions? And feel free to add other ideas.

@gideonthomas - can you offer insight into implementation details?

[2016-09-26 23:07] hannahkane commented on #535
One more question for you, @auremoser. On the last bullet point, can you clarify if the relationship between the Study Groups and the events would be more like an "Invited" list or an "Attending" list?  That is, is it more like you, when adding the event, saying which Study Groups *should* attend, or is it more like an RSVP tool for Study Groups to say they *are* attending?

Also, since we don't h

[2016-09-26 23:07] hannahkane commented on #535
Aiming to close this ticket once we have separate issues for each item in the original list.

[2016-09-26 23:28] kristinashu commented on #546
That's the relevant work but I didn't mock up the screens mentioned above. Styling could be similar to https://redpen.io/yf7847e3d9ec2ff2b3

[2016-09-26 23:53] hannahkane opened #551 "Design: About Science Lab page"
Borrow from Fellowships page

Need to determine the nav structure. Will we add an "About" item to the main nav? Or perhaps "People" so that it can eventually grow to include other members?

[2016-09-26 23:55] hannahkane opened #552 "Content: About Science Lab page"
@stephwright - can you help collect the content needed for this page?

For each team member, I think we'll likely need:
Name
Title?
Twitter handle, if applicable
Brief bio (would you like to standardize the length?)
Photo

[2016-09-26 23:56] hannahkane commented on #551
Design will be informed by content: https://github.com/mozilla/science.mozilla.org/issues/552

[2016-09-26 23:56] hannahkane opened #553 "Implementation: About Science Lab page"
Design is coming from https://github.com/mozilla/science.mozilla.org/issues/551

[2016-09-26 23:57] hannahkane commented on #125
I'm going to close this ticket, since we're opening up individual tickets for the next blog iteration.

[2016-09-26 23:57] #125 closed

[2016-09-27 12:14] auremoser commented on #549
Maybe:

Short Description:

Long Description

I'm happy with edits on either. Feel free to ignore it too; when I wrote that, I found it confusing, but it didn't take long to learn, so it's o.k.

[2016-09-27 12:21] auremoser commented on #550
I think typing a name and having it auto-complete or auto-filter the options below would be great, but alpha sort is a good first-pass fix. I vote for Alpha sort.

This implies also building a view/template to display facilitators though, and maybe that's something we'll push to the auth work in the next phase?...would the event creator always be the one manually adding facilitators and participan

[2016-09-27 13:08] auremoser commented on #535
Thanks @hannahkane All study groups are always invited but there's no "RSVP" system and people sometimes drop in/bail at the last minute; I'm o.k. not having an RSVP setup. You're right about the lack of metadata; I think a list is fine; a list-form matches the format of the [Study Group page](https://science.mozilla.org/programs/studygroups) anyway.

Mostly, I would like:

* to add one study grou

[2016-09-27 13:41] stephwright commented on #552
Happy to!
You can find the first three of all of those here: https://github.com/mozillascience/fellows-class-2016/blob/master/reference/contacts.md

I'll get on the bios and photos now.

[2016-09-27 14:11] stephwright commented on #552
@hannahkane We had photos of everyone on the old website... is there any way to access those?

[2016-09-27 14:19] stephwright commented on #552
Here are brief bios for @auremoser and @zee-moz: https://wiki.mozilla.org/ScienceLab.  I'll need to get updated bios for everyone else.

[2016-09-27 22:15] hannahkane commented on #535
Good thoughts, @auremoser. I understand from @stephwright that your team will be discussing how you want the various kinds of Events to show up on the site as part of your strategy planning meeting on Oct 10-13. Maybe we could revisit this after that conversation and file new tickets for whatever comes out of that?

Closing this for now, with that expectation, but feel free to re-open if you need

[2016-09-27 22:15] #535 closed

[2016-09-27 22:19] hannahkane commented on #550
Didn't realize this was a dupe of #424. Going to close this, though @auremoser's question about who will be adding people is important. I think that will likely come up in the Science team's strategy planning session Oct 10-13.

[2016-09-27 22:19] #550 closed

[2016-09-27 22:56] hannahkane commented on #552
Thanks, @stephwright.

Maybe @acabunoc can answer the question about accessing photos from the old site?

[2016-09-28 14:55] acabunoc commented on #552
We linked out to peoples' github avatars -- if you look in the database the links are still there

[2016-09-29 16:06] alanmoo opened #554 "Enable blog preview"
When editing blog entries, wordpress offers a preview button. Right now that links to the science site correctly, with some custom URL parameters that refer to a temporary post. We should be able to extract those params and show a preview of the post.

[2016-09-29 18:20] auremoser commented on #551
I like "People" if we intend to make this the same page as our members' page, because alliteration with Projects/Programs.

[2016-09-29 20:31] alanmoo commented on #536
I've addressed this in the short term by pulling some of the styles from the WordPress editor (TinyMCE I think) so that font sizes are consistent and logical. Next up I think I'd like to tackle #554  so that when we make further changes to the blog styles it'll be easy to preview them.

[2016-09-29 20:54] hannahkane commented on #531
As noted in roadmap doc, this is less important than other blog issues, given there's a workaround

[2016-09-29 20:56] alanmoo commented on #531
By workaround, you mean some hardcoded CSS? I've got those in #555

[2016-09-29 20:56] hannahkane commented on #531
Workaround is uploading a screenshot, I believe

[2016-09-29 21:06] alanmoo commented on #531
That has some serious accessibility issues. @acabunoc How is [this](https://science-mozilla-org-sta-pr-555.herokuapp.com/blog/why-developing-oss-matters) as a workaround?

[2016-09-29 21:33] acabunoc commented on #531
<3 much better! @alanmoo

[2016-09-30 23:52] hannahkane commented on #251
We should also create a CONTRIBUTING.md file. @acabunoc @alanmoo - is that something either of you would be able to work on?

[2016-10-01 03:55] alanmoo commented on #251
Yeah; A lot of info is in our [MoFo standards](https://GitHub.com/mozillafoundation/mofo-standards). What other type of information is useful?

[2016-10-03 16:45] alanmoo commented on #553
Content from #552

[2016-10-03 18:40] hannahkane commented on #251
The CONTRIBUTING file could point to Mofo standards, but could also have some info specific to this repo. e.g. "Look for issues with 'good first bug' label"

Also...we should probably do a triage of this repo soon and identify some good first bugs. Will schedule.

[2016-10-03 21:49] alanmoo commented on #547
I believe this is solved by the most recent deployment. [Example](https://science-mozilla-org-staging.herokuapp.com/blog/2016-fellows-onboarding-recap)

[2016-10-04 14:07] alanmoo opened #557 "Create profile-card component"
This may or may not go into Mofo-UI, but it's a first step for #553.

[2016-10-04 14:17] alanmoo commented on #531
Should we close this/change it now that #555's landed? The current implementation doesn't give complete tweet details (like conversation) but does get the tweet itself- [example](https://science.mozilla.org/blog/why-developing-oss-matters)

[2016-10-04 14:20] acabunoc commented on #531
hey @alanmoo, the tweets in this post aren't formatted, are they embedded wrong? https://science.mozilla.org/blog/2016-isbe-review

[2016-10-04 14:27] alanmoo commented on #554
This is probably going to require some sort of authentication layer with WordPress, since draft posts/previews can only be accessed by authenticated users. It might be rather involved.

[2016-10-04 14:39] auremoser commented on #531
+1 to what abby said, I'm find with the single card view that @alanmoo linked to as an example, but we should document the correct embed format somewhere so it doesn't default to this:
![screen shot 2016-10-04 at 10 48 15 am](https://cloud.githubusercontent.com/assets/1559703/19078642/e0b4205a-8a1e-11e6-82a0-248e6954f365.png)

[2016-10-04 14:48] alanmoo commented on #531
@acabunoc @auremoser I'm not sure how they were originally embedded (was the whole post copied and pasted from somewhere?) but if you paste a tweet link into the WordPress editor, it pulls in the tweet and will style it as in the previous example.

[2016-10-04 14:52] auremoser commented on #531
Twitter has an "embed" generated iframe that it offers, I believe the unformatted tweets use that, because I think I assumed that you would need to embed a tweet and it wouldn't just generate formatting. Good to know, I'll update the post and test. :)

[2016-10-04 15:00] alanmoo commented on #531
Yeah, this is kind of an intermediate step towards using that, but it was a quick and easy solution that looks good enough.

[2016-10-04 15:11] alanmoo opened #558 "Migrate to wp-api v2 on blog"
It's probably best to do this so that we have better support in the future.

@acabunoc @auremoser do you know what else is using the blog api that might be affected by this change?

[2016-10-04 15:17] alanmoo opened #559 "Enable WordPress authentication on science.mozilla.org"
This will allow us to access draft posts so that we can enable preview support in #554 . (Draft posts require being logged in as an authenticated user to access. This will likely also require some server side logic to handle Oauth.

This seems like it will be a separate authentication layer from the planned Github auth, I'm not sure what else we'd be able to use this for other than previews. @acab

[2016-10-04 15:27] acabunoc commented on #559
I don't think it would have any use other than previews since we only give wordpress logins to staff/fellows.

I workaround this by changing the preview url -- but it previews on WordPress is always formatted differently when we actually post.

[2016-10-04 15:27] acabunoc commented on #558
just the blog & rss feed (which I think is not working right now)

[2016-10-04 15:28] alanmoo commented on #559
Oh interesting. Perhaps I could put the science site stylesheets in the WordPress preview and make the preview button go there...

[2016-10-04 16:24] alanmoo commented on #525
This is blocked by #512. Once that lands, we should be able to add some logic to handle redirecting to that feed.

[2016-10-04 18:32] auremoser commented on #558
+1 to @acabunoc , pretty sure that's it.

[2016-10-05 20:04] acabunoc commented on #74
Being discussed by the Science Team this quarter!

cc: @stephwright @auremoser @zee-moz

[2016-10-05 20:04] hannahkane commented on #103
Closing. Assuming we'll address this when we are ready to add authentication.

[2016-10-05 20:04] #103 closed

[2016-10-05 20:07] hannahkane commented on #134
Blocked by authentication / people being able to add themselves

Related to #553, which may be the start of this

[2016-10-05 20:09] hannahkane commented on #135
Would be good to consider how we might also integrate with the new Mozilla-wide authentication system that's coming

[2016-10-05 20:10] stephwright commented on #74
👍 on the docket for Strategic Planning next week.

[2016-10-05 20:11] hannahkane commented on #135
Dependent on #137

[2016-10-05 20:18] hannahkane commented on #147
Closing in lieu of https://github.com/mozilla/mofo-bootstrap/issues/75

[2016-10-05 20:18] #147 closed

[2016-10-05 20:18] hannahkane commented on #149
We'd welcome contributor involvement in this ticket. If you're interested in working on this, please tag @alanmoo and @kristinashu to get more details.

[2016-10-05 20:20] hannahkane commented on #160
When we do this, be sure to use mofo-bootstrap for form styles

[2016-10-05 20:24] hannahkane commented on #161
@kristinashu - could you add a link to wherever the artwork is stored, please?

[2016-10-05 20:25] hannahkane commented on #161
Technically, we won't ship this page until we have authentication, but if someone wants to help build it in the meantime, that would be great!

[2016-10-05 20:26] hannahkane commented on #162
Technically, we won't ship this page until we have authentication, but if someone wants to help build it in the meantime, that would be great!

[2016-10-05 20:29] hannahkane commented on #164
Technically, we won't ship this page until we have authentication, but if someone wants to help build it in the meantime, that would be great!

[2016-10-05 20:34] hannahkane commented on #165
Closing this parent ticket, in lieu of new [Project project](https://github.com/mozilla/science.mozilla.org/projects/1) heh.

[2016-10-05 20:35] #165 closed

[2016-10-05 20:36] kristinashu commented on #161
Here's a JPG of that the image https://drive.google.com/open?id=0B2irLVDJivhLRWMtZWJyWWVaSWM and a photoshop file with all the banner images https://drive.google.com/open?id=0B2irLVDJivhLUUtDQnBORWJGaEk

[2016-10-05 20:38] alanmoo commented on #198
A good candidate for https://github.com/mozilla/mofo-ui

[2016-10-05 20:48] acabunoc commented on #243
'Sign in' and 'Join us' are currently hidden and should remain hidden till we enable authentication

[2016-10-05 20:50] acabunoc commented on #244
Animation issue found here: #149

[2016-10-05 20:53] acabunoc commented on #247
Instead of the three "What's new" elements stacking on a mobile screen, they could carousel 🎠

[2016-10-05 20:56] acabunoc commented on #251
contributing guidelines template! https://github.com/nayafia/contributing-template/blob/master/CONTRIBUTING-template.md

[2016-10-05 21:06] hannahkane commented on #134
Closing in lieu of https://github.com/mozilla/science.mozilla.org/projects/2

[2016-10-05 21:06] #134 closed

[2016-10-11 16:30] #495 closed

[2016-10-11 19:04] hannahkane commented on #328
This is a prereq for building out #509

[2016-10-11 19:12] alanmoo commented on #340
Part of this is already done, other parts can be done but should use bootstrap classes (`.col-xs-12, .col-sm-##` etc)

[2016-10-11 19:13] alanmoo commented on #558
Dupe of #346

[2016-10-11 19:13] #558 closed

[2016-10-11 19:19] alanmoo commented on #359
I believe this update has been released, so Mofo-Bootstrap can be updated to reflect this now

[2016-10-11 19:20] alanmoo commented on #373
If someone wants to work on this, ping me before you start so we can plan it out.

[2016-10-11 19:22] alanmoo commented on #379
When submitting form on https://science.mozilla.org/programs/studygroups/run

[2016-10-11 19:23] hannahkane commented on #381
If/when we do this, can we think about other maps as well - e.g. Clubs map on learning.mozilla.org/clubs?

[2016-10-11 19:25] auremoser commented on #381
Sure, sorry for the delay, it's still in my inbox @hannahkane but I just haven't had time to get to it yet. I think we can def make several maps of similar style to they match, where would you like to put it on the clubs page?

[2016-10-11 19:29] alanmoo commented on #406
#512

[2016-10-11 19:32] #416 closed

[2016-10-11 19:35] alanmoo commented on #379
Dupe of much more detailed #443

[2016-10-11 19:35] #379 closed

[2016-10-11 19:46] hannahkane commented on #468
Closing since there's a manual workaround

[2016-10-11 19:46] #468 closed

[2016-10-11 19:48] #472 closed

[2016-10-11 22:50] hannahkane commented on #501
Great idea, @amjadm61!

In fact, I'm going to close this ticket because I think this idea should apply to more than just this website. Opening https://github.com/MozillaFoundation/Design/issues/210 to discuss the idea of having it on all footers across the various Mozilla Foundation web properties.

Thank you for the suggestion!

[2016-10-11 22:50] #501 closed

[2016-10-17 10:31] karanjthakkar commented on #149
@alanmoo @kristinashu I'd love to give this a shot. Can you help me understand the specs?

[2016-10-17 13:53] alanmoo commented on #149
Sure thing- @kristinashu should confirm, but I believe there were two main things we wanted to do-

* The header image on pages that have it should be "behind" the header and the rest of the body content, so that it scrolls at a slightly different rate from the rest of the page. For example, the space image on the homepage and the jellyfish on the projects page. The image behind "What's New" on th

[2016-10-17 16:14] kristinashu commented on #149
@alanmoo yes, that all sounds right.

@karanjthakkar really looking forward to seeing this, thanks for your help!

[2016-10-27 11:46] alanmoo commented on #557
This has been completed, porting it over to MoFo-UI

[2016-10-27 11:46] #557 closed

[2016-11-08 17:49] Pomax opened #567 "project does not work on windows"
the package.json has quite a number of "not available on windows" commands that we probably want to use `shx` for instead, and the `postcss` commands cannot run because the autoprefixer library is horrible platform-dependent (it breaks in spectacular fashion when you try to use it on windows).

we probably want to:
- [ ] ditch autoprefixer entirely (at the end of 2016, it should no longer be neces

[2016-11-08 18:01] Pomax commented on #567
Also seeing the following error during webpacking:
[code]
that file exists in the directory it's expected, but (on node 6.9.1 for me) apparently the relatively location in backend.js is not the correct location.

[2016-11-11 21:49] #553 closed

[2016-12-20 18:21] auremoser commented on #336
Adding to this issue, perhaps it's still under edits, but the button link on Event pages is no longer a button, it's now an offset link. This is fine, functionally, but looks a bit awkward and if the button is no longer going to have style, maybe we should just make it a regular link so the indent isn't strange vis-à-vis other text.
See [example here](https://science.mozilla.org/programs/events/co

[2016-12-22 17:35] alanmoo commented on #336
Looks like this was a casualty of an update to MoFo-Bootstrap. The `btn` class alone doesn't apply a background/outline, we need to apply a `btn-primary` or `btn-outline-primary` class in the markup saved in the database. Or a fix for event pages that automatically applies the appropriate style to `btn`s in the events view.

[2017-02-17 05:42] akshatnitd commented on #551
Can I be assigned to this issue?

[2017-02-17 06:02] akshatnitd commented on #471
Can I work on this issue?

[2017-02-17 06:06] karanjthakkar commented on #471
@akshatnitd Go ahead. I wont be able to work on it.

[2017-02-17 06:10] akshatnitd commented on #471
@karanjthakkar What exactly needs to be done for this issue?

[2017-02-17 13:40] auremoser commented on #551
Thank you for your interest, @akshatnitd! We have a page for this now, called [People](https://science.mozilla.org/people) and we closed this issue.

If you think it could benefit from a redesign though, we're always happy to take feedback. Thanks again 💯

[2017-02-17 13:43] akshatnitd commented on #551
@auremoser Will lookout for other issues :+1:

[2017-02-17 14:00] akshatnitd commented on #336
May I be assigned to this issue?

[2017-02-17 15:54] alanmoo commented on #336
Sure!

To clear up what needs to be done:
- [ ] Remove `background: transparent` from `#project-details .visit-repo`
- [ ] Find a way to target buttons on the event pages and either remove padding or make them look like buttons again.

Once those two things are done I think we should close this ticket and open a new one if there are any further issues, but those items should go a long way in makin

[2017-02-17 15:55] alanmoo commented on #336
(Unfortunately I can't assign to people outside the Mozilla org, but go ahead and work on it using the above guidance.)

[2017-02-17 15:57] alanmoo commented on #471
This has already been addressed by an upgrade in MoFo-Bootstrap.

[2017-02-17 15:57] #471 closed

[2017-02-17 16:05] akshatnitd commented on #336
@alanmoo Okay. Working on it :+1:

[2017-02-17 18:18] akshatnitd commented on #336
@alanmoo Can you please explain the second point?

[2017-02-17 18:33] alanmoo commented on #336
Write some CSS that will *only* affect buttons on the event details pages (namely the "Etherpad Link" button on pages like https://science.mozilla.org/programs/events/studygroup-call-march-03) so that they either
a.) actually look like buttons (for example, the `.btn.btn-outline-info` style in use on pages like [this one](https://science.mozilla.org/projects/phyloviz)).
b.) remove the styling (pri

[2017-02-17 18:39] akshatnitd commented on #336
![deepinscreenshot20170218000809](https://cloud.githubusercontent.com/assets/12656846/23078349/62ad8b40-f56e-11e6-9dfc-6edd8e8a91e7.png)

Do I need to do it this way?

[2017-02-17 18:45] auremoser commented on #336
Yes, that looks right, thank you @akshatnitd !

[2017-02-17 18:46] akshatnitd commented on #336
Should I go ahead and send the PR?

[2017-02-17 18:49] akshatnitd commented on #336
This is a preview of the 'View Repo' button.

![deepinscreenshot20170218001808](https://cloud.githubusercontent.com/assets/12656846/23078725/d5018790-f56f-11e6-9c3a-ecbc8cd71729.png)

[2017-02-17 19:57] alanmoo commented on #336
Almost, the buttons should be transparent background normally, and white text/colored background on hover. You shouldn't have to write any code to get the "visit repo" button to look like this, you should be able to remove a line and have it work.

[2017-02-17 20:29] akshatnitd commented on #336
@alanmoo I have made the on hover color, but the background is white, as it is defined in the btn class.

[2017-02-17 20:48] alanmoo commented on #336
Open up a PR so I can take a look

[2017-02-17 20:51] akshatnitd commented on #336
@alanmoo Just now saw that, in the mofo-bootstrap.css file, the btn classes have been overridden , and the background has been set to white in it. On removing it, it works fine.

[2017-02-23 15:09] #336 closed

[2017-02-28 20:15] HassenPy commented on #449
shouldn't this be closed?

[2017-02-28 20:34] alanmoo commented on #449
Yes, it should, thanks for pointing it out!

[2017-02-28 20:34] #449 closed

[2017-03-01 15:32] rahulkde commented on #545
Can you provide a screenshot of the issue, I don't understand what is wrong.

[2017-03-01 16:21] hannahkane commented on #545
It looks like this has been resolved somehow. Thanks for your interest, @rahulkde!

[2017-03-01 16:21] #545 closed

[2017-03-01 17:52] HassenPy opened #576 "fellows pictures are improperly styled"
the fellows page has weird styling on the fellows pictures
![2017-03-01-184930_1366x768_scrot](https://cloud.githubusercontent.com/assets/7109776/23473328/162b8a2e-feb0-11e6-9ea9-1c09e9de9a7e.png)
i think they were meant to look like the ones on the people page.

[2017-03-01 18:01] alanmoo commented on #576
What browser are you using?

[2017-03-01 18:02] HassenPy commented on #576
oh, forgot to mention that, Chrome Version 48.0.2564.116 on ubuntu

[2017-03-01 18:05] HassenPy commented on #576
that version of chrome is not supported anymore, works well on firefox.

[2017-03-01 18:19] alanmoo commented on #576
Ok, then closing this

[2017-03-01 18:19] #576 closed

[2017-03-01 18:26] HassenPy commented on #373
i was able to roll a fix like this:
    - Hiding the radio on small creens with `hidden-xs-down`
    - Make another select element to display on small screens
thought i've seen the resources page use the radio filter too, so my thought on this is create a new  component that holds this functionality for ease of use if needed elsewhere.

[2017-03-01 18:33] HassenPy commented on #576
maybe this should have the same styling as the people's page for consistency?

[2017-03-01 18:50] alanmoo commented on #576
Yeah, it would be best if they were a shared react component, and `fellows` used sizing similar to `people`. Feel free to open a new issue for that if you'd like.

[2017-03-02 11:08] dhiraj161298 commented on #229
@kristinashu I increased the font size and added transparency to logo on hover in the pull request [Menu fix #577 ](https://github.com/mozilla/science.mozilla.org/pull/577)
I was confused as to how much you want the menu links to be moved above.

[2017-03-02 11:50] rahulkde commented on #353
@kristinashu can I get assigned to this ?

[2017-03-02 23:51] kristinashu commented on #353
@rahulkde unfortunately I can't assign to people outside the Mozilla org, but please go ahead and work on it. Let me know if you have any questions!

[2017-03-03 00:04] kristinashu commented on #229
Excellent, thanks @dhiraj161298!

It seems to looks fine now so I've crossed out that comment. I also crossed out the comments about the Signin since don't have Signin right now.

[2017-03-03 18:25] akshatnitd commented on #149
@alanmoo @kristinashu I was trying to solve this issue. I tried setting background-attachment : fixed; Is that the correct way?

[2017-03-03 18:44] dhiraj161298 commented on #149
@akshatnitd That code would work on large screen device's browser but causes many issues on iOS and small screen devices.

[2017-03-04 04:18] rahulkrishnan98 commented on #353
![moz](https://cloud.githubusercontent.com/assets/20839638/23576041/a24ed892-00bf-11e7-9c7a-0affe34b569c.png)
Will this suffice @kristinashu  @alanmoo

[2017-03-04 06:39] rahulkrishnan98 opened #580 "E-mail bar in /resources not aligned"
In small size screen the email bar is not aligned properly in firefox.

![moz2](https://cloud.githubusercontent.com/assets/20839638/23576407/751adb2c-00ca-11e7-9e01-456cb14ed9e9.png)

[2017-03-04 07:39] rahulkrishnan98 opened #582 "Text over-flow in small screens"
![moz3](https://cloud.githubusercontent.com/assets/20839638/23577054/ca0d8f7e-00db-11e7-80fa-1bab8cebd77c.png)

[2017-03-04 07:57] dhiraj161298 commented on #582
I was able to recreate this issue too. Do you want to solve it yourself? If not, let me know I would be happy to work on it.

[2017-03-04 09:12] HassenPy commented on #353
@rahulkrishnan98 already made a pr few days ago for that check #575
also follow up in #373, it seems the newer thread for this issue, i already have a fix for the radio/select issue, just keepiong up with @alanmoo's pace xD

[2017-03-04 10:07] rahulkrishnan98 commented on #353
@HassenPy  Sorry about that didn't see that :sweat_smile:  I'm closing mine :)

[2017-03-04 10:16] rahulkrishnan98 commented on #582
@dhiraj161298 I'm currently workin on it  :)

[2017-03-04 12:25] HassenPy commented on #353
np, check my thought on the radio responsiveness issue, if you have a better idea drop it for discussion there.

[2017-03-04 12:51] rahulkrishnan98 opened #584 "div element blocks not aligned with proper width"
In large screen the width is uniform for 'Resource' , 'Project' , 'Blog'  elements.
![moz5](https://cloud.githubusercontent.com/assets/20839638/23578909/4912d92a-0107-11e7-98f3-106ffad62860.png)

But in small screen sizes they have improper width
![moz4](https://cloud.githubusercontent.com/assets/20839638/23578918/6736f2e2-0107-11e7-87c8-5d493f899d13.png)

[2017-03-04 13:00] dhiraj161298 commented on #584
I guess a better idea would be to add a carousel for these items for small screen devices. @kristinashu what do you think ?

[2017-03-04 14:55] rahulkrishnan98 commented on #582
@acabunoc Would it be proper to change the font size at smaller screen size, or is there any other way I can go about it.

[2017-03-04 15:42] dhiraj161298 commented on #582
@rahulkrishnan98 mofo-bootstrap has h2 font-size set at 3.5 rem at all viewports. I guess this is the bug which needs to be addressed directly at the mofo-bootstrap repo.

[2017-03-05 13:01] YoyoAnandra opened #588 "Project not working on windows!"
Getting Error:

ERROR in ./js/backend.js
Module not found: Error: Cannot resolve 'file' or 'directory' ../../config/env.generated.json in C:\Windows\System32\science.mozilla.org/app\js
 @ ./js/backend.js 7:20-62

Rendering Complete, saving .css file...
Wrote CSS to C:\Windows\System32\science.mozilla.org\dist\css\main.css
Usage: C:\Program Files\nodejs\node.exe C:\Windows\System32\science.mozilla.

[2017-03-05 15:45] akshatnitd commented on #515
@acabunoc @alanmoo @hannahkane I want to work on this. Please explain more.

[2017-03-05 15:50] akshatnitd commented on #522
@kristinashu @hannahkane @alanmoo I want to work on this. Can I be assigned to it?

[2017-03-05 16:40] alanmoo commented on #588
Duplicate of #567. We'd love some help get this working if you have time, it's actually a high priority to enable other contributors

[2017-03-05 16:40] #588 closed

[2017-03-05 20:58] YoyoAnandra opened #589 "npm build not working !unable to open project!"
Error on bash:
Side effects in initialization of unused variable _routerWarning2 [../~/react-router/lib/TransitionUtils.js:12,0]
Dropping side-effect-free statement [../~/react-router/lib/getComponents.js:56,0]
Condition always false [../~/react-router/lib/getComponents.js:33,0]
Dropping unreachable code [../~/react-router/lib/getComponents.js:33,0]
Declarations in unreachable code! [../~/react-ro

[2017-03-06 01:20] kristinashu commented on #584
@rahulkrishnan98 @dhiraj161298 thanks for your help with this!

Yes, we have a ticket #247 for putting these 3 into a carousel at narrow screen widths.

Although even in a carousel, each card looks very narrow (sometimes only one word per line). If you are up for it, you could open a new ticket to increase the width of each box. Something like this: https://redpen.io/prff288a58a7691a56
<img width=

[2017-03-06 02:00] kristinashu commented on #353
@rahulkrishnan98 not sure if your question about the spacing is still relevant but in case it is, here are my thoughts.

What you have in your screen cap above looks so much better! But I think could add even more space, you could:
- double the space you have between the Search box and the Dropdown
- double the space between the two lines of text filters (this will give a larger hit area for peopl

[2017-03-06 04:15] alanmoo commented on #522
What's your plan for this? The UI should be pretty easy to implement, but what's it filtering based on? Do the different events already have tags you can use to filter?

[2017-03-06 04:58] alanmoo commented on #582
I'm not aware of a phone with a screen smaller than 320px- is there some other situation in which this is actually an issue?

[2017-03-06 05:36] rahulkrishnan98 commented on #353
@kristinashu There has been another PR on this, done much earlier by @HassenPy , I think it looks perfect and coincides with what you say. Thanks.

[2017-03-06 05:39] rahulkrishnan98 commented on #584
@kristinashu Yes I will. Thanks for your take on it.

[2017-03-06 05:53] rahulkrishnan98 opened #590 "Increase width of blocks"
This issue is clearly mentioned  in #584 .

- Increase width to give uniformity to the blocks

[2017-03-06 06:59] akshatnitd commented on #522
@alanmoo Yes, the UI can be easily implemented. Based on this https://redpen.io/aq0c17cb0774ab55bd , the filtering is based on the type of event. For that the /events API should return either the type of event, or we can do filtering based on the dates. If the API is made to return the event category, then we can also make the Additional notes's link label dynamic, inplace of ''ETHERNET LINK".

[2017-03-06 13:41] rahulkrishnan98 opened #591 "Broken link in /programs/studygroups -Internet"
![moz7](https://cloud.githubusercontent.com/assets/20839638/23612227/8e6fd3b6-02a0-11e7-902f-56aa62127f58.png)

The Internet study group points to a broken link.

[2017-03-06 13:44] aayushsanghavi commented on #229
@kristinashu if there is something yet to be done in the issue I would like to take it up.

[2017-03-06 13:47] aayushsanghavi commented on #228
@kristinashu is the issue that the design rules you've mentioned in the description should be followed uniformly throughout the page and be changed wherever it is not what is expected?

[2017-03-06 14:35] rahulkrishnan98 commented on #591
There are other broken links on the same page aswell.

[2017-03-06 15:01] alanmoo commented on #373
That sounds like a great approach, @HassenPy.

[2017-03-06 15:23] alanmoo commented on #522
So this is blocked by the API then. That work should be done first.

[2017-03-06 15:25] alanmoo opened #592 "Add event type to event view in API"
Related to #522 and possibly others, events have a type, which should be exposed by the API. @acabunoc do the categories in #522 cover the needs?

[2017-03-06 16:00] kristinashu commented on #229
I believe @dhiraj161298 has done everything in this ticket. But thanks anyways @aayushsanghavi!

[2017-03-06 16:01] kristinashu commented on #353
Excellent, thanks!

[2017-03-06 17:02] akshatnitd commented on #592
@alanmoo @acabunoc Can I work on the API part also? How can I get access to the API code?

[2017-03-06 18:28] rahulkrishnan98 commented on #591
@auremoser

[2017-03-06 18:45] auremoser commented on #591
Done, removed, thank you @rahulkrishnan98 !

[2017-03-06 18:45] #591 closed

[2017-03-06 18:46] rahulkrishnan98 opened #593 "Text breaks the flex at mid view-ports"
![moz8](https://cloud.githubusercontent.com/assets/20839638/23624179/dbc6ef6c-02ca-11e7-9059-758fb849e75d.png)

@auremoser  I am working on this.
Should It be made to show only one div element( the data-card-wrapper) or should I decrease font size at that specific view-port. If you have another work-around, will implement it.

[2017-03-06 18:48] auremoser commented on #593
Cool, thank you @rahulkrishnan98 , let me know when you'd like a review!

[2017-03-06 19:23] YoyoAnandra commented on #588
but how can i run the build!

[2017-03-06 20:02] alanmoo commented on #588
That's what we need help with; it looks like the problem is with PostCSS on Windows, so we need some sort of fix/alternative that does work on Windows.

[2017-03-07 14:33] #593 closed

[2017-03-08 14:23] akshatnitd commented on #592
@alanmoo @acabunoc I am proceeding by adding a new field 'type' in the events model, and then sorting can be done on that basis. Is that the correct way?

[2017-03-12 10:13] KameyHameyHa commented on #588
Had the same problem and was forced to work on Linux instead.

[2017-03-12 11:05] KameyHameyHa opened #596 "Sub-menu drop on mouse hover"
Sub-menu drop down of 'Programs' on mouse hover

[2017-03-13 00:04] alanmoo commented on #588
Troubleshooting problems like this is a great way to get real-world development experience if either of you can help! Coding isn't all loops and objects; a lot of the time it's a matter of finding the pieces that work together.

[2017-03-13 13:56] alanmoo commented on #596
Can you give some more details on this? For example, What's it doing vs. what should it be doing? Browser version/platform?

[2017-03-15 13:11] KameyHameyHa commented on #596
The 'Programs' option on the main header menu should be clicked before the submenu containing 'Our Events','Study Groups' and 'Fellowships' is displayed.
![image](https://cloud.githubusercontent.com/assets/19530299/23949852/e79b29ee-09ae-11e7-9819-0c1d7f8a1490.png)
![image](https://cloud.githubusercontent.com/assets/19530299/23949882/0d1e5434-09af-11e7-9dde-ec687a498b30.png)

It would provide smoo

[2017-03-15 14:08] dhiraj161298 commented on #596
@KameyHameyHa IMHO I find the current setup more elegant and efficient. Also having a hover menu has its own problems such as the submenu doesn't stick in case the mouse is out of position which results in bad UX.

[2017-03-15 14:52] alanmoo commented on #596
Agreed, triggering a menu on hover is a UX concern. Thanks for your suggestion, though we've had UX conversations about many of these types of things in the past. This project is mostly at a "file a bug if something is clearly broken" state, other than when stakeholders request changes.

[2017-03-15 14:52] #596 closed

[2017-03-16 21:47] stephwright opened #597 "SEO"
Hey there!
I was recently looking for some blogposts that I could link to in funder reports and discovered that our blogposts are not coming up in Google searches at all.  What can we do to fix that? (Please tell me it's something easy.)

[2017-03-18 15:17] geekodour commented on #524
Hi I'll be more than happy to implement the django api and add fixes to the frontend. But I have a few questions, why almost all of the issues in this project date back to 3rd quarter of 2016 and things have been assigned long back like July 2016. I came here from the gsoc page. Also, as far as I am concerned this is the frontend heroku app, If I want to, can I contribute to the api?

[2017-03-20 16:41] #592 closed

[2017-03-20 17:22] akshatnitd commented on #522
@alanmoo The API issue has now been solved. Please review it.

[2017-03-21 21:46] HassenPy commented on #373
just updating on this, i was able to code the functionality, had to alter radio-filter component from the mofo-ui, dropped a PR there, that's the only thing blocking now.

[2017-03-22 14:17] alanmoo commented on #373
Thanks, I'll take a look at that when I get a chance

[2017-03-22 19:10] HassenPy opened #598 "fellows page fellow cards should use styling similar to people's page"
Following up on #576

Fellow page's fellow cards look on small screens:
![science mozilla org-programs-fellowships-fellows iphone 6](https://cloud.githubusercontent.com/assets/7109776/24215412/fac73d66-0f38-11e7-83e2-8a41930fc297.png)

People page's member cards look on small screen:
![science mozilla org-people iphone 6 1](https://cloud.githubusercontent.com/assets/7109776/24215508/4ac1ab08-0f39-

[2017-03-23 07:03] akshatnitd opened #599 "Make the clickable links distinguishable from the headings in the dropdown navbar"
In the screenshot, 'Programs' is not a link, but just a heading which should be distinguishable from the other links which are clickable. The color maybe changed for better UX.

 ![deepinscreenshot20170323122936](https://cloud.githubusercontent.com/assets/12656846/24235702/7df9d230-0fc4-11e7-89c5-6398e5aa6d28.png)

[2017-03-23 07:13] akshatnitd commented on #599
How about this as a solution?

![deepinscreenshot20170323124000](https://cloud.githubusercontent.com/assets/12656846/24235993/e353e0d4-0fc5-11e7-84de-46083a8736fc.png)

[2017-03-24 16:00] #598 closed

[2017-03-24 16:01] HassenPy commented on #598
closing this, the changes suggested in #311 will be replacing those pages anyway.

[2017-03-24 20:30] TheByteKnight commented on #164
@hannahkane I would like to help to build this page. Can you tell me what to do next?

[2017-03-27 13:26] HassenPy commented on #373
ok, luckily i forgot to ask for a 1.7.1 release on mofo-ui the last time, i made another 1liner change to the radioFilter and that should be it, need a 1.7.1 release to update the dependency in order to open a PR with the adaptive filter

[2017-03-27 19:12] akshatnitd commented on #547
@hannahkane Can you please explain me the issue ?

[2017-03-27 19:17] hannahkane commented on #547
@akshatnitd - I'm not sure I recall at this point. @kristinashu - can you weigh in on whether you think the blog implementation needs more work?

[2017-03-27 19:22] akshatnitd commented on #547
@hannahkane Oh okay. @kristinashu Can you please help me in this regard?

[2017-03-27 20:04] kristinashu commented on #547
@akshatnitd there are a few changes that will make the content more legible (and look more like the mockup). Comparing the live production site https://science.mozilla.org/blog/sg-gsoc-2017 with the mockup https://redpen.io/mo1fa2dc526ca2627d

1) Text width should be narrower (for example, if the current site is using all 12 of the bootstrap columns, then it should only use 10)

2) Images are too

[2017-03-27 20:07] akshatnitd commented on #547
@kristinashu Thanks for your inputs! Will definitely address these issues :)

[2017-03-27 20:09] akshatnitd commented on #547
@kristinashu Is adding Disqus comment box also one of the to-dos?

[2017-03-27 20:11] kristinashu commented on #547
Thanks @akshatnitd! Adding Disqus would be great but should be a separate ticket. If you are interested in doing it, then please open a new ticket.

[2017-03-27 20:22] akshatnitd commented on #547
@kristinashu Okay sure! Adding a new ticket.

[2017-03-27 20:24] akshatnitd opened #603 "Integrate Disqus comments in the blog post page"
Add option for commenting through the Disqus comments, and as shown in the mockup https://redpen.io/mo1fa2dc526ca2627d

[2017-03-28 06:44] akshatnitd commented on #549
@auremoser Please review it. Made the changes :+1:

[2017-03-28 14:14] #590 closed

[2017-03-28 14:14] #549 closed

[2017-03-28 14:14] auremoser commented on #549
Thank you @akshatnitd !

[2017-03-29 04:02] Shashi456 commented on #135
This is one of the Gsoc projects right ? does this hold high priority ? could you tell me more about this project?

[2017-03-29 04:04] Shashi456 commented on #311
Could you tell me how we could go about doing this ?

[2017-03-29 13:58] alanmoo commented on #311
This is a much bigger ticket than it might appear to be, not something good for a contributor to take on right now. Thanks for your interest though!

[2017-03-29 14:12] Shashi456 commented on #311
@alanmoo , i am going to apply to gsoc and saw that this is one of the projects could you tell me how i could get started ?

[2017-03-29 15:37] dhiraj161298 commented on #311
@Shashi456 Applying to GSoC requires proper planning and skills. Since there is little time left before deadline, it would be pretty challenging to start working on the project now. You can still contribute to this project by solving the issues listed under this repository (but that wouldn't come under GSoC ).

[2017-03-29 16:41] Shashi456 commented on #311
@dhiraj161298  im in the mozilla group  since a while now , and trying to find him since a long while now , i believe i can pull off submitting the application atleast

[2017-03-30 13:26] arush0311 commented on #137
Where is(will be) the code of api?

[2017-03-30 15:08] arush0311 opened #604 "Display a loader while doing an ajax"
It takes some time for blogs to load nothing is displayed on the screen. I think it would be better to use a loader for every ajax call.

[2017-03-30 15:10] arush0311 opened #605 "Global state management"
I think it will be lot better for our state be handled by some state management engine (Redux , mobx etc). It will also help with https://github.com/mozilla/science.mozilla.org/issues/604 and https://github.com/mozilla/science.mozilla.org/issues/135

[2017-03-30 16:46] gideonthomas commented on #137
@arush0311 you would need to fix this in the https://github.com/mozilla/api.mozillascience.org repo.

[2017-03-30 18:45] arush0311 commented on #536
Hey! what about resetting everything inside blog posts and then use wordpress stylesheets? (using scoped css?)

[2017-03-30 19:36] arush0311 commented on #311
where are the members records stored? how do members join?

[2017-03-30 20:54] alanmoo commented on #536
The idea is that the styles should be aligned with what's on the science site, not the other way around. This issue centers around the fact that we're publishing on wordpress but pulling the content in via wordpress's REST API. Previewing a post doesn't show it on the science site though. The proper fix to this whole thing is a proper CMS for the science site, but that's a big undertaking. Anythin

[2017-03-30 20:59] alanmoo commented on #311
IIRC members are stored in the [django API](https://github.com/mozilla/api.mozillascience.org). They "join" simply by signing in to the site via OAuth. Is that right @acabunoc?

[2017-03-30 21:46] acabunoc commented on #311
Correct!

[2017-03-31 04:14] arush0311 commented on #536
Well there is always the concept of WordPress themes. We can extract the blog styles into a central location and have both WordPress and science website pull from it.

[2017-03-31 04:29] arush0311 commented on #554
I might be wrong put what about whenever we want to preview a post we publish it under draft category? The second thing would be to not pull anything from the draft category for normal users.

[2017-03-31 06:01] arush0311 commented on #311
@alanmoo @acabunoc I couldn't find members in django api, nor there was any oauth code. Are we talking about user models (or subset of them?) https://github.com/mozilla/api.mozillascience.org/blob/master/app/scienceapi/users/models.py

[2017-03-31 13:46] alanmoo commented on #554
As I mentioned in my previous comment, that is a possible approach, but due to cookies and the different domains we're using, it's not possible currently. If we moved wordpress to a subdomain, it may be but we haven't fully investigated that yet.

[2017-03-31 14:01] arush0311 commented on #554
No I mean literally *publish* those posts in a self made category *draft*

[2017-03-31 14:31] alanmoo commented on #554
Oh, that's an interesting approach. But does that mean that technically the posts would be public at some URL (even if it's not one that the front end gives out to regular users)?

[2017-03-31 14:32] arush0311 commented on #554
yes, that would be the drawback. But it can be a temporary solution

[2017-04-04 08:51] arush0311 commented on #546
Can I take this?

[2017-04-04 21:45] kristinashu commented on #546
@arush0311 thanks for offering to help but building this search and filter functionality is a large amount of work and probably not suitable to do at this time.

[2017-04-05 10:32] arush0311 commented on #546
@kristinashu I agree, but I still wanna try it out. If I find difficulty I will unassign myself.

Why is that?

[2017-04-05 23:49] kristinashu commented on #546
@alanmoo are you able to elaborate on what the steps would be?

[2017-04-07 14:24] auremoser opened #607 "Open fellowship applications - 4/10/17"
The Fellows application is open as of Monday, April 10th!

Can we:

- [ ] Add the 'apply to be a fellow' hero images on the homepage (same as last year), linking to [this application](https://mozilla-science-lab.forms.fm/mozilla-fellows-for-science-2017)
- [ ] Add the 'Apply Now' button on https://science.mozilla.org/programs/fellowships, linking to [this application](https://mozilla-science-lab.f

[2017-04-07 18:57] akshatnitd commented on #607
@auremoser @alanmoo @acabunoc For the first checkpoint, do we need to design it like in [this](https://redpen.io/jv7dd38e552814c20a) mockup ?

[2017-04-07 19:00] dhiraj161298 commented on #607
@akshatnitd The first checkpoint could be completed by following the [commit](https://github.com/mozilla/science.mozilla.org/commit/367c461a355234804df5015752ddb5dba68776f6) which removed the 'Apply Now' section.

[2017-04-07 19:02] akshatnitd commented on #607
@dhiraj161298 Okay cool! Making the required changes.

[2017-04-07 19:08] acabunoc commented on #607
Thanks @akshatnitd

[2017-04-07 20:24] acabunoc commented on #607
Quick note for @akshatnitd -- please base your changes off the work @auremoser has already done in https://github.com/mozilla/science.mozilla.org/pull/606. This way we can easily merge in for launch!

Thanks again 😸

[2017-04-07 20:28] akshatnitd commented on #607
@acabunoc Sure, will take care of that!

[2017-04-07 21:01] akshatnitd commented on #607
@acabunoc @auremoser What text needs to be written on the 'Apply Now' block at the bottom apart from the button?

[2017-04-07 21:22] acabunoc commented on #607
@akshatnitd I think it should be similar to last year.

`Deadline for applications is May 14, 2017`

[2017-04-07 21:23] akshatnitd commented on #607
@acabunoc Okay :+1:

[2017-04-07 21:41] hannahkane commented on #607
@cadecairos @gideonthomas @alanmoo - are any of you East Coasters available to push these changes live before 9am on Monday? Or, can we schedule this in advance as @auremoser suggested?

[2017-04-07 21:51] akshatnitd commented on #607
@acabunoc I have made the necessary changes. Should I send a PR or does #606 needs to be merged first?

[2017-04-07 21:53] acabunoc commented on #607
Hey Akshat -- feel free to send along a PR that also includes #606

[2017-04-08 18:49] akshatnitd opened #609 "Displaying 'No search results found' when no matching projects present."
Display a string like 'No search results found' when there are no matching projects, on searching via the search bar.

[2017-04-09 23:40] HassenPy commented on #359
three-up seems to no longer use `make-col`.

[2017-04-10 01:49] #607 closed

[2017-04-10 13:51] alanmoo commented on #546
@arush0311 feel free to give it a shot but you're going to have to do some digging in issues and such to figure out what actually needs to be done. I think the Wordpress API we use will allow you do do these searches and such, but I'm not positive.

[2017-04-10 14:01] alanmoo commented on #554
Would we be able to prevent those pages from being seen by search engines?

Full disclosure, I'm not entirely positive this is a useful way to spend time given some other CMS works we're doing at the moment; we may change from Wordpress entirely.

[2017-04-10 16:39] arush0311 commented on #554
I don't think search engines can see any blogs due to its dynamic nature. But yes we can add a sitemap if that's what you are asking.

Even If we change to other cms this will still persist right? Or do we want to integrate cms with science website?

[2017-04-10 17:21] alanmoo opened #613 "Migrate React Components to ES6 syntax"
React 15.5 signals the imminent deprecation of the `React.createClass` method (moving it to a separate component). In the interest of staying up to date, it would be great if we can update our components to use the ES6 syntax. This doesn't have to happen all at once (in fact, it would be easier to test if it doesn't), but if anyone wants to help out, they can update a component and open a PR. Just

[2017-04-10 17:56] HassenPy commented on #613
i ll start with the component i added, should similar work be done to mofo-ui?

[2017-04-10 20:55] alanmoo commented on #554
We're looking at using Mezzanine for other projects, which would potentially integrate much more nicely with the science site if we moved it. That's a big "if" though, as I believe this site has other priorities. I'm currently trying to find out from stakeholders what the priorities are.

[2017-04-11 13:16] #609 closed

[2017-04-11 13:23] alanmoo commented on #164
@TheByteKnight This just needs to be a page using the general page wrapper (header/footer) with the content in the screenshot above.

[2017-04-11 17:47] arush0311 commented on #546
please review :)

[2017-04-12 13:40] #522 closed

[2017-04-12 18:45] akshatnitd commented on #613
@alanmoo Sure, I am up for it. Should I go ahead and do it component wise?

[2017-04-12 18:49] akshatnitd opened #616 "Add 'No Search Results' Text when empty object returned"
Currently, no text is shown if the filter of the past events return empty object. Also, in case no future events are there, a text should be displayed.

[2017-04-12 19:47] alanmoo commented on #613
Yeah. Can you start by making a checkbox list of all the components so that we can check them off here as they get done and no one doubles up on work?

[2017-04-12 19:49] akshatnitd commented on #613
@alanmoo Yes, sure. Making it.

[2017-04-12 19:52] akshatnitd commented on #613
### The components/pages to be migrated to ES6 syntax
**Components :**
- [] Events
- [] Events
- [] Events
- [] Events

[2017-04-12 20:02] akshatnitd commented on #613
### The components/pages to be migrated to ES6 syntax
**Components :**
- [] Categories
- [] Data-Card
- [] Event List
- [] Footer
- [] Github Avatar
- [] Greeting
- [] Header
- [] Profile-Card
- [] Project-Card Featured
- [] Project List
- [] Tab Switcher
- [] Three-Up
- [] User List

**Pages :**
- [] Blog Post
- [] Code of Conduct
- [] About event
- [] Event details
- [] Fellowships
- [] Home
- [

[2017-04-12 20:20] alanmoo commented on #599
I like this, @kristinashu what do you think?

[2017-04-12 20:46] kristinashu commented on #599
Looks good to me!

[2017-04-12 21:02] alanmoo commented on #605
Would this enable server-side fetching of external APIs? It would be great if we could serve pre-rendered pages instead of making the client fetch more data after it loads React.

[2017-04-13 05:41] akshatnitd commented on #599
@alanmoo @kristinashu Sent the PR :+1:

The screenshot looks like this.

![deepinscreenshot20170413110934](https://cloud.githubusercontent.com/assets/12656846/24991628/e20c9bce-2039-11e7-98f0-b1b207c27751.png)

[2017-04-13 06:20] akshatnitd opened #619 "Show pointer when hovered on the radio filter options"
Adding a pointer to the label of the radio filter will solve the issue. It will add to the UX greatly.

[2017-04-13 06:25] akshatnitd commented on #619
@alanmoo Made the changes corresponding to this issue in the mofo-ui repo.

[2017-04-14 21:33] arush0311 commented on #605
I dont think redux has much to do with server side rendering aside from providing store. Do we want it for seo? I think node (or phantom js) server would be needed to do anything of the sorts.

[2017-04-15 13:05] alanmoo commented on #605
We are using a node server. I haven't dug into the SEO situation with things like Projects and Events, but it's simply better UX to send the user all the information they need to render the page in one response, rather than forcing another roundtrip. I haven't dug into Redux/Flux/etc. but I believe they can transfer state from the server to the client, which means all the information could be made

[2017-04-15 13:13] arush0311 commented on #605
What do we use it for?

Well its a problem of first rendering. And yes, during first render all the response and initial state is calculated on a node server and then sent to client

[2017-04-15 13:39] HassenPy commented on #605
@arush0311, i think what @alanmoo wants is described in this article
https://hackernoon.com/reconciling-djangos-mvc-templates-with-react-components-3aa986cf510a

[2017-04-17 14:55] alanmoo commented on #359
Good point, looks like this is unnecessary. Thanks for pointing that out!

[2017-04-17 14:55] #359 closed

[2017-04-17 17:32] #546 closed

[2017-04-17 18:38] #616 closed

[2017-04-17 19:25] akshatnitd commented on #613
Completed the blog component. Sent the PR.
Working on the Blog Post component.

[2017-04-17 20:08] alanmoo commented on #605
Not quite. More like http://redux.js.org/docs/recipes/ServerRendering.html

[2017-04-17 20:27] alanmoo commented on #619
Solving this requires a new tag of MoFo UI and then an update.

[2017-04-17 20:54] arush0311 commented on #605
Well yeah! Redux can store the first render state and pass it to client. Where do we to our node related stuff?

[2017-04-17 20:58] #599 closed

[2017-04-17 21:00] alanmoo commented on #605
There's not much to it right now; `server.js` is what node is running on production.

[2017-04-17 21:04] arush0311 commented on #605
Ah. I will look into it :)

[2017-04-18 05:57] akshatnitd commented on #613
Working on the Categories, Data-Card, Event List, Footer, Icon and GithubAvatar component. Will send the PR once #620 gets merged !

[2017-04-18 13:59] alanmoo commented on #613
@akshatnitd Github automatically closes an issue when a PR with "Fixes #xxx" or "Closes #xxx" gets merged. Let's avoid that for these components for now. Something like "See #613" should be fine.

[2017-04-18 14:01] akshatnitd commented on #613
@alanmoo Okay cool :+1: Shall be using 'See #613' !

[2017-04-18 15:07] akshatnitd commented on #613
@alanmoo Made the migrations for all the components. Will be doing the migrations for the pages next-up :)

[2017-04-20 05:50] akshatnitd opened #624 "Resources: Add 'No Search Results' Text when empty object returned"
Show a message when no resources of a particular category are returned

Issue to be solved similar to the Events and Projects case

[2017-04-27 17:13] akshatnitd commented on #299
@alanmoo @kristinashu How should the front-end of this look like? Should I make the tags clickable, which on click will fetch the results?

[2017-04-27 18:47] alanmoo commented on #299
@akshatnitd if you can do #328 first, that will set you up nicely for this one. Then I can find a comp for the tags on project cards (which will link to the project page with a query param, perhaps auto-scrolling to the results, @kristinashu?)

[2017-04-27 21:24] kristinashu commented on #299
It could look something like this:
![screen shot 2017-04-27 at 2 22 14 pm](https://cloud.githubusercontent.com/assets/1068783/25505029/002543ce-2b55-11e7-8bb1-e93a4758bb4b.png)

Tags on this overview page as well as on each project detail page should be blue. If a user clicks on it then the search and filters are removed and the text say which tag was select appears.

[2017-04-28 09:06] akshatnitd commented on #299
@alanmoo Surely, will clear out the prerequisite #328 first!

@kristinashu This front-end looks good to me!

[2017-04-28 09:14] akshatnitd commented on #328
@alanmoo This can be done via 3 ways -

1. Passing the search results as the **state** key in the **to** object of the `<Link>` tag. The link to this approach can be found [here](https://github.com/ReactTraining/react-router/blob/v2.8.1/docs/API.md#to ).

2. Use `localStorage` to store the search results and then while rendering the other component, get value back from it.

3. This approach first

[2017-04-28 14:05] alanmoo commented on #328
I think you're overthinking it. I haven't looked at the code recently, but see if this makes sense:

From the project page view you should be able to access the url query params, and pass that into the `get` request (the API already supports searching by tags). That way, anyone hitting a url like `https://science.mozilla.org/projects?tag=Javascript` will get a list of projects on the existing proj

[2017-04-28 14:11] akshatnitd commented on #328
@alanmoo Yes, that sounds good. I thought it the other way. Will be sending the PR soon :+1:

[2017-05-05 10:52] mmhyamin commented on #604
Indeed. I thought there are no blog posts.
![capture](https://cloud.githubusercontent.com/assets/5278142/25742739/adb134a4-31b2-11e7-961c-43bebd6dbf1c.PNG)

[2017-05-07 03:34] arush0311 commented on #603
I think once we have a login functionality, we should use some django plugin for that.

[2017-05-07 03:40] arush0311 commented on #605
This is an interesting approach https://aakashgoel.com/server-side-rendering-with-a-django-webserver-57c7356effd1 without changing the django backend. @alanmoo ^

[2017-05-07 05:46] akshatnitd commented on #603
@arush0311 Yes it can be done after the login is implemented.

[2017-05-07 10:08] arush0311 commented on #605
will also help with https://github.com/mozilla/science.mozilla.org/issues/597

[2017-05-09 11:12] arush0311 commented on #424
Is there a format we use to insert location (or region)? Without it sorting may be not be effective.

[2017-05-09 13:26] alanmoo commented on #424
I think inserting a new one as a free string is fine, sorting is still useful because it easily lets people visually skip a lot of rows to more easily find the item they're looking for.

[2017-05-09 13:34] arush0311 commented on #424
Perhaps a search is better for that use case

[2017-05-09 14:20] alanmoo commented on #424
That's a possibility, but keep in mind what the ask was and what problems we're trying to solve. Also, it's been a year since these suggestions. @auremoser do they still hold up?

[2017-05-09 15:34] #613 closed

[2017-05-09 15:47] auremoser commented on #424
These things would still be nice to have. If you're overwhelmed with issues however, I am used to the workflow now, so it's not that big of a deal just to close this.

I would say priority beyond these suggestions is figuring out the "timezone" thing for "events", which I believe is another issue. Currently, every event tells you how many hours behind server time your date/time is for the event, b

[2017-05-09 15:48] auremoser commented on #424
Might make sense to split these out into multiple issues, as the above possibly crosses over with #386

[2017-05-09 19:04] HassenPy commented on #424
@auremoser, i submitted a PR with all of those changes except for the timezone issue:
https://github.com/mozilla/api.mozillascience.org/issues/78

[2017-05-10 06:52] akshatnitd opened #628 "TabSwitcher : Remove the getSlugIndex call from the constructor to a lifecycle method"
The `actveTab` state is updated using the `getSlugIndex` method in the constructor. It is not a good approach. It should be called in the `componentWillMount` lifecycle method.

[2017-05-10 08:31] auremoser commented on #424
Thank you @HassenPy !

[2017-05-11 15:34] arush0311 opened #630 "Integrate a CMS into the science website."
As discussed with @alanmoo  we were thinking of integrating mezzanine (django-cms) right into science website, similar to what is done in https://github.com/mozilla/network-api . The mezzanine CMS will start serving static pages once we hit on `/blog/*` urls. We can also implement a single login for CMS and science api because they will be in same location.

What we get:
- Blog authentication will

[2017-05-11 15:47] arush0311 commented on #630
This approach has some problems.
Session based authentication:
- The REST api wont really be stateless
- We will have to take care of XSRF attacks.
Token Based authentication
- Frontend client will have access token so mezzanine wont be able to authorize.

[2017-05-12 09:45] arush0311 commented on #630
Also will every blog writer have a github account for authentication?

[2017-05-16 12:28] arush0311 commented on #523
Can I take this?

[2017-05-16 14:39] #628 closed

[2017-05-16 17:12] kristinashu commented on #523
This is for people to rsvp to an event. If I was creating a new event, then I would add myself and any other hosts as Facilitators. Then anyone who is signed in can add themselves as a Participant. Does that make sense?

cc @alanmoo

[2017-05-16 17:16] alanmoo commented on #523
I believe this is blocked by Github integration

[2017-05-17 12:33] arush0311 commented on #385
As far as I understand these are the changes we have to make:
- Figure out whether the the event to be added is virtual event or not
- If No, what is the timezone of event from the location entered and check the local timezone checkbox from @alanmoo's comment
- If checkbox is checked send timezone top api server along with all other info.

[2017-05-17 12:51] alanmoo commented on #385
Sounds about right, at least in terms of what we are generally tying to do. The events are created on the Django server, so this may require a little bit of admin work. However, don't go rewriting anything extensively; this can probably be done with a light touch to include the data we need on the back end and then updating the front end to check for a variable and determine how to render it.

Rem

[2017-05-17 12:55] arush0311 commented on #385
or perhaps convert the timezone field from input to select with timezone options along with none. (None will specify virtual event).
@alanmoo getting creator's timezone will require some javascript, unless django provides a way to do that. I will look into that.

[2017-05-17 13:01] alanmoo commented on #385
Even if the time zone is a select element, i think we need a Boolean so the front end knows to convert time or not.

Example:
I create an event, 5-6pm Eastern. I need to give it a time zone and still say "virtual" so that the time gets rendered appropriately to users on the front end (people in California would see 2-3pm).

If I don't indicate it's virtual, California users would see 5-6 which wou

[2017-05-17 13:02] alanmoo commented on #385
We don't need to get creator's time zone, just make sure they have to put an event time zone in when creating an event

[2017-05-18 13:47] arush0311 commented on #630
This is what we can do for using react templates for mezzanine.
In case a user requests content outside of blog posts we will simply pass index.html.
index.html
[code]
In other cases (user requests a blog post) we pass base.html with appropriate props. Component to be used (for layout) will also be provided by django view.
base.html
[code]

{{component}}.jsx:
[code]
We will have to make django ser

[2017-05-18 14:13] arush0311 opened #631 "Server Side rendering"
@alanmoo and @gvn gave us an awesome pr as https://github.com/mozilla/science.mozilla.org/pull/512. Let's build on that.

A way to improve is to fetch intial data for rendered component and pass it to frontend to save a round trip.

[2017-05-18 15:39] auremoser opened #632 "Close fellows' application ASAP"
The Fellows application is now closed (as of May 14th, and I'm late logging this issue)!

Can we:
- [ ] Hide the 'apply to be a fellow' hero images on the homepage
- [ ] Hide the 'Apply Now' button on https://science.mozilla.org/programs/fellowships
- [ ] Hide the 'Apply Now' block at the bottom of https://science.mozilla.org/programs/fellowships

Should be similar to #374 +  #532

Thank you!

[2017-05-18 18:27] arush0311 commented on #632
please review :)

[2017-05-18 18:36] auremoser commented on #632
I left a comment about adding `hidden` to some of the divs, but +1 to adding the `h3` "this application is now closed"

[2017-05-25 15:09] #632 closed

[2017-05-25 15:12] alanmoo opened #636 "Banner at bottom of fellowship page is off center"
At large screen sizes, the text "The 2017 call for applications is now closed" at the bottom of https://science.mozilla.org/programs/fellowships is off center. We should update the markup so that it uses appropriate bootstrap grid classes (`container`, `row`, `col-xx`)

@arush0311 This wasn't a result of your latest PR, but could you take a look at this?

[2017-05-25 15:26] alanmoo commented on #632
This is merged and live but I've noticed "The call closes May 14, 2017 at 11:59PM EDT." is still on the page. Should that be removed too?

[2017-05-25 15:32] #624 closed

[2017-05-25 15:48] arush0311 commented on #636
sure!

[2017-05-25 16:04] auremoser commented on #632
Good catch, yes it should be removed.

[2017-05-25 16:16] alanmoo opened #637 "Remove text from fellowships page"
"The call closes May 14, 2017 at 11:59PM EDT"

@arush0311

[2017-05-28 12:34] Vinnl commented on #525
It would be nice to also add a `<link rel="alternate"` to the head, so it is discoverable :)

[2017-05-28 15:07] arush0311 opened #639 "Improve performance"
- [ ] enable HTTP2.
- [ ] enable server push
- [ ] optimize images
- [ ] uglify css
- [ ] ~~research brotli compression~~

Anything else that improves on performance, please add to the list.
ping @alanmoo @gvn @gideonthomas

[2017-05-28 17:05] alanmoo commented on #639
Can you clarify what you mean by "server push"?

[2017-05-28 17:17] arush0311 commented on #639
https://www.smashingmagazine.com/2017/04/guide-http2-server-push/. In general its sending content which client did not explicitly request for, like sending style.css also when client  request for index.html

[2017-05-29 16:55] gideonthomas commented on #639
I would suggest gzip instead of brotli so that we standardize across our apps

If you file individual issues for this, I can enable HTTP 2.0

[2017-05-30 08:20] arush0311 opened #640 "Enable HTTP2.0"
AFAIK we will have to swap push-state-server out. ping @gideonthomas

[2017-05-31 10:05] arush0311 opened #641 "Same-origin for frontend and backend"
We require a same origin for react frontend and django backend

Why?
===
We want to use single authentication for blog-admin and science-site. For this we need same-origin.

How?
===
Currently I can think of these ways:
- Integrate both frontend and backend together
- setup a proxy server that routes requests to different servers.
- serve frontend and backend from different subdomains of same doma

[2017-06-01 03:11] gideonthomas commented on #641
Can't we just set an S3 redirect rule to redirect `/api/*` to the api server?

[2017-06-01 04:23] arush0311 commented on #641
Do you want to store frontend on s3? We will lose push state server. Also there will be other URLs we want django to serve. Ultimately its like loadbalancer approach above

[2017-06-01 05:02] gideonthomas commented on #641
We don't need to store anything on S3. We just use S3 for the redirect rules since Cloudfront can't do it.

[2017-06-01 05:03] gideonthomas commented on #641
On the other hand, we aren't actually doing a redirect so we should be able to add `/api/` on cloudfront itself.

[2017-06-01 05:30] arush0311 commented on #641
@gideonthomas a similar setup should also be present on development and staging environment, and setting up something like this on dev can be difficult.

[2017-06-01 07:48] arush0311 commented on #641
I did a test integration of frontend and backend and it worked smoothly except for these:
The static references `/assets/something` is not valid because now they are under `/static/assets/something`. Can be solved by using relative URLs like `../assets/static`

Right now django serves react whenever a URL don't match any other pattern. This can be a pain as there will be no 404 generated by our we

[2017-06-02 16:16] #636 closed

[2017-06-02 16:16] #637 closed

[2017-06-05 15:34] alanmoo commented on #424
@HassenPy Sorry for the long delay in reviewing, but that looks pretty good. One thing though- with the study group sorting, I'm not quite sure that feels right to simply sort alphabetically by the city name. @auremoser what implementation were you thinking about there?

[2017-06-06 09:57] auremoser commented on #424
City name sort would be good I think, better than alphabetical by name of study group, because often that ends up being nonstandard and unhelpful.

I usually have a geographic memory of study group leads and groups in general, so if I were looking for something, I'd probably want to sort by region from the website, by country, and then by city name. If there's a way all might be implemented that w

[2017-06-06 13:58] alanmoo opened #644 "Add city column to study group admin view"
For the admin view of the study groups, we're sorting by city name but it's hard to read as currently structured. Can we add a column to display the country (or city? Not sure about the formatting of the data) name so it's easier to visually scan? And another column for region?

See: https://github.com/mozilla/science.mozilla.org/issues/424#issuecomment-306438773

[2017-06-06 13:58] alanmoo commented on #424
Cool. Opening #644 for that change and closing this so we don't get confused.

[2017-06-06 13:58] #424 closed

[2017-06-12 15:56] #385 closed

[2017-06-19 15:26] #548 closed

[2017-06-19 15:27] alanmoo commented on #604
Ideally we'd be able to serve these up pre-rendered instead of having to fetch them after the initial pageload.

[2017-06-19 15:46] arush0311 commented on #604
Well that would be if the user requests it in initial page load. what if he
requests some other page first?

On Mon, Jun 19, 2017 at 8:57 PM, Alan Mooiman <notifications@github.com>
wrote:

[2017-06-19 15:51] alanmoo commented on #604
....touché.

[2017-07-14 15:02] alexfuser opened #647 "Location of Mozilla Science site"
Hi

I noticed that the science site does not have a location system. I've been talking to the location team to see if it's possible to integrate [Pontoon](https://pontoon.mozilla.org/). They tell me if that is possible but they should be put in touch with them to see how to help them do it. I think it would be great that it would happen. At least, I am interested in locating the content of the sit

[2017-07-14 17:58] hannahkane commented on #647
Thanks for your interest, @alexfuser. We're expecting the Science site to evolve later this year, so we'll likely hold off on implementing localization functionality at this point.

[2017-07-14 21:57] alexfuser commented on #647
@hannahkane  If there's anything I can help, tell me :)

[2017-07-14 22:57] hannahkane commented on #647
I definitely will!

[2017-07-17 13:31] #639 closed

[2017-07-28 14:10] paulmenzel commented on #640
Enabling HTTP/2 right away without any Web site changes would already benefit users.

[code]

As CloudFront is used, it looks like it can [be enabled there][1].

[1]: https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/distribution-web-values-specify.html#DownloadDistValuesSupportedHTTPVersions

[2017-07-28 14:44] paulmenzel opened #650 "Convert URLs to HTTPS"
A lot of the URLs used in the Web site are insecure and do not use HTTPS despite being possible or being redirected later on. Even with redirects this gives room for certain attacks and often also causes one useless request to be sent.

The pull request #649 already converts some URLs. But I won’t have more time for clean-ups.

[2017-07-28 17:39] gideonthomas commented on #640
@arush0311 why would we need to swap out push-state?

[2017-07-28 18:24] arush0311 commented on #640
Does push-state-server we are using support http2? I was thinking about using express with spdy and https://www.npmjs.com/package/express-history-api-fallback

[2017-07-28 19:24] gideonthomas commented on #640
I'm not sure I follow, why does the underlying server need to support HTTP 2.0? Don't we only care about the client communicating with the first point of entry for our app viz. Cloudfront which supports HTTP 2.0.

[2017-07-31 10:14] arush0311 commented on #640
oh that would be great, but wouldnt it be better to use http2 base server too? To optimize content delivery from base server to cdn

[2017-08-03 15:49] stephwright opened #651 "Add new funder logo and description"
We have a new funder (Siegel Family Endowment) who will be touting MozSci and our page on a blogpost coming up Aug 8th.  Just noticed we don't have their logo in our "We are supported by" section on the main page.  Could someone please add their logo and the following description next to the Sloan and Helmsley logos/descriptions:

"Siegel Family Endowment is focused on understanding and shaping le

[2017-08-03 15:57] stephwright commented on #651
![logo-siegel](https://user-images.githubusercontent.com/14626242/28931054-b117cc9e-7829-11e7-8f73-2b1eb7e88be7.jpg)

[2017-08-08 00:45] stephwright commented on #651
Thanks @parimatrix !!!

[2017-08-08 04:09] parimatrix commented on #651
Happy to help ! :)

[2017-08-08 17:59] stephwright commented on #651
Oops... just noticed that link that went with logo is actually pointing to another funder website (Sloan instead of Siegel).  I neglected to provide the new link (http://www.siegelendowment.org/)... I also shamefacedly admit I didn't even notice they were linked until now.

Also upon going to the funder website to get the above link, I discovered the image they sent me (and I provided here) has an

[2017-08-11 14:33] #651 closed

[2017-08-14 15:07] stephwright commented on #651
I thank you and our funder thanks you, @parimatrix !!!

[2017-08-15 10:54] parimatrix commented on #651
@stephwright Glad to help! Looking forward to working more for Mozilla and open source in general ! :)

[2017-09-05 16:02] auremoser opened #654 "Update on Science Fellows 2017 bios"
cc: @stephwright @hannahkane @kristinashu @community-impact

### Context
We'll be announcing the 2017 fellows this Friday (or possibly Monday), and I'd like to update their bios on our website among the other fellows. I'll have the content (bios and photos with appropriate proportions) today, EOD.

### Plan
I'm planning to update the [Fellows page](https://science.mozilla.org/programs/fellowships/

[2017-09-05 18:51] hannahkane commented on #654
Thanks, @auremoser. I don't have any concerns about you updating this content. See [my comment](https://github.com/mozilla/network/issues/715#issuecomment-327268270) on the Network site ticket for my opinion on your second question.

[2017-09-07 14:07] alanmoo commented on #654
Sound good to me

[2017-09-12 15:56] auremoser opened #656 "Routing broken for Events page"
cc / @stephwright + @acabunoc

## Context

When we have new "events," anything from a Community Call to a working open workshop, I update the event details in our Django admin and then the events post to our website here: https://science.mozilla.org/programs/events.

## Current Result
Today I posted two events, a community call for October 12th and a Study Group Call for October 6th and neither is

[2017-09-12 17:16] hannahkane commented on #656
cc'ing @gideonthomas since @alanmoo is out today

[2017-09-12 20:57] gideonthomas commented on #656
Uh-oh....it looks like it's getting its data from the wrong API (it's using staging data not production data). Let me look into it

[2017-09-12 21:10] gideonthomas commented on #656
Looks like the last deploy was done using the "promote to production" button instead of a manual deploy on heroku - which seems to have been the issue.

@auremoser, should be working now (you might need to refresh the page/clear cache)

[2017-09-12 21:24] auremoser commented on #656
Amazing @gideonthomas thank you so much! Closing the issue now!

[2017-09-12 21:24] #656 closed

[2017-09-13 13:45] alanmoo commented on #656
Ugh, sorry about this. Was manual deployment always the requirement for the science site? (We're talking front end, not API, right?)

[2017-09-13 20:41] auremoser commented on #654
Closing this issue as the site is live.

[2017-09-13 20:41] #654 closed

[2017-10-25 14:07] #251 closed

[2018-01-15 12:38] YoyoAnandra commented on #644
Hi, there ! I wanted to participate in GSOC, so wanted to contribute to this project will it work, what should i do..

[2018-01-16 16:24] alanmoo commented on #644
Hi, thanks for your interest but we won't be running GSoC for this project this year.

[2018-01-17 10:58] YoyoAnandra commented on #644
Can u suggest me any project for GSOC 2018.

On Jan 16, 2018 9:54 PM, "Alan Mooiman" <notifications@github.com> wrote:

[2018-01-17 14:21] alanmoo commented on #644
I don't believe projects have been submitted yet by host organizations, so I'm not sure, sorry.

[2018-01-17 14:25] YoyoAnandra commented on #644
Anyways Thank you Sir.

On Jan 17, 2018 7:51 PM, "Alan Mooiman" <notifications@github.com> wrote:

[2018-04-19 22:41] StevenZhang123 commented on #650
I will do this one.

[2018-05-28 06:58] auremoser opened #663 "Events admin not working :("
cc @alanmoo @gvn

## Context
We have a community call next week and I'd like to add it to our [events page]() on the science site. I navigated to our django admin site and added an event as usual, but it does not display on the current site.
![screen shot 2018-05-28 at 8 56 54 am](https://user-images.githubusercontent.com/1559703/40601352-203ba65c-6255-11e8-919c-22a7a7968d4f.png)

## Expected Resu

[2018-05-29 19:15] alanmoo commented on #663
The front end was hitting the staging API. A redeploy from master fixed it.

[2018-06-29 16:42] #650 closed

[2018-07-30 17:53] acabunoc opened #665 "close form for new study groups"
Can we close the form for new study groups?

cc: @stephwright @alanmoo

[2018-07-30 18:05] acabunoc commented on #665
The one on this page: https://science.mozilla.org/programs/studygroups/run

[2018-07-31 15:07] acabunoc commented on #665
I think so, I'll let @stephwright confirm

[2018-07-31 16:29] stephwright commented on #665
Yep... that's all we need from our side for now.  We are transitioning ownership of the Study Groups to the Carpentries and this whole page will go away (in some fashion - logistics & content TBD) but for now, we just need folks to stop requesting to start new ones.

[2018-08-01 13:52] #665 closed

[2018-09-21 14:40] #303 closed

[2018-09-21 14:47] alanmoo commented on #597
I'll be reaching out to help figure out our blogging strategy going forward

[2018-09-21 14:47] #597 closed

[2018-09-21 14:48] #630 closed

[2018-09-23 19:50] algomaster99 commented on #644
Hey! I am new to the open source community and would like to contribute to this issue. How can I go about?

[2018-09-24 13:53] alanmoo commented on #644
Hi @algomaster99, thanks for the offer but this repo isn't really maintained anymore. If you're looking for something to help on, check out https://github.com/mozilla/foundation.mozilla.org.

[2018-09-24 13:53] #644 closed

[2018-09-24 20:16] algomaster99 commented on #644
Thanks @alanmoo !

[2019-02-18 00:50] moz-hwine opened #675 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- Restricting write access to contributors is strongly encouraged.  Please [make that change](https://github.com/mozilla/science.mozilla.org/settings)  ([documentation](https://help.github.com/articles/changing-access-permissions-for-wikis/)).

These were made as the result of a recent automated defacement of publically writeable wik

[2019-02-27 00:25] atul2387 opened #677 "Need help resolve this issue"
Your account has been flagged.
Because of that, your profile is hidden from the public. If you believe this is a mistake, contact support to have your account status reviewed.

[2019-03-29 05:02] Mozilla-GitHub-Standards opened #679 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-05-16 13:01] robertdudaa commented on #580
This happens when screen width is below 286px. I'd like to take this issue.